<hr style="border-color: black;">
<div class="row">
    <div class="col-md-6">
      <div class="form-group">
      
        <%= f.label :kategori, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
        <%if params_user = params[:category_id].present? && params[:jenis_layanan].present? && params[:sub_category].present?%>
          <% @category_id =params[:category_id].strip %>
          <% @jenis_layanan = params[:jenis_layanan].strip%>
          <% @sub_category = params[:sub_category].strip%>
      
        <%end%>

            <select data-placeholder="Pilih Kategori" class="form-control kategori_select" name="ticket[kategori]" id="kategori" data-live-search="true" onchange="setKategori()" required <%= "disabled" if roleActive.id == 2 %> >
              <%unless @category_id.present?%>  
                <%= raw(getKategori)%>
              <%else%>
                <%= raw(getKategoriParams(@category_id))%>
                <%= f.hidden_field :kategori, :value => Category.find(@category_id).name %>
              <%end%>
            </select>

        </div>
      </div>
  
    </div>

    <div class="col-md-6">
        <div class="form-group">
          <%= f.label "Jenis Layanan", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <% if params[:jenis_layanan].present? %>
              <%= f.hidden_field :jenis_layanan, :value =>  @jenis_layanan.capitalize %>
              <%= f.select :jenis_layanan, [["Request", "Request"], ["Insiden", "Insiden"]], {selected: params[:jenis_layanan].capitalize}, id: "jenis_layanann", class: 'dtSource form-control type_layanan', disabled: true  %>
            <% else %>
              <%= f.select :jenis_layanan, [["Request", "Request"], ["Insiden", "Insiden"]], { prompt: "" }, id: "jenis_layanann", class: "dtSource form-control type_layanan" %>
            <% end %>

          </div>
        </div>
        
    </div>

</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :sub_kategori, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.hidden_field :sub_kategori, class: "form-control", id: "sub_kategori_hidden" %>
          <select id="sub_kategori"  class="form-control sub_kategori"  name="ticket[sub_kategori]" required readonly></select>
      </div>
    </div>
  </div>
</div>
<input type="hidden" name="ticket[antrian]" id="antrian">
<div class="form-group" id="catatan_kategori_hardware">
  <label class="col-sm-2 control-label">Nama Perangkat <p style="font-size: 10px;"></p></label>
  <div class="col-sm-10">
    <%= f.text_field :catatan_kategori, class: "form-control" %>
  </div>
</div>
<%if roleActive.id != 2   %>
  <div class="form-group">
      <%= f.label :status_teknisi, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :status_teknisi, name: "ticket[status_teknisi]",class: "form-control ", id: "status_teknisi", disabled: true %>
      </div>
  </div>
<%end%>
<div class="form-group">
  <label class="col-sm-2 control-label">Tanggal 
  </label>
  <div class="col-sm-10">
    <% if roleActive.id == 2 %>
      <%= f.date_field :date_ticket, class: "form-control", id: "status_teknisi", disabled: true, value: Time.now.strftime('%Y-%m-%d') %>
    <% else %>
      <%= f.date_field :date_ticket, class: "form-control", id: "status_teknisi", value: Time.now.strftime('%Y-%m-%d') %>
    <% end %>
  </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Lampiran<p style="font-size: 10px;">(optional)</p></label>
    <div class="col-sm-10">
        <%= f.file_field :lampiran, class: "form-control", direct_upload: true, accept: 'image/jpeg, image/jpg, image/png, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document' , :id => "file" %>

    </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Keterangan</label>
  <div class="col-sm-10">
    <%= f.text_area :keterangan, class: "form-control", id: "keterangan", style: "resize: none; height: 10em;", :required => true %>
  </div>
</div>
<div class="form-group" id="approvals">
  <label class="col-sm-2 control-label">Nama Atasan Terkait  </label>
  <div class="col-sm-10">
      <select data-placeholder="Pilih Nama" class="form-control" name="ticket[atasan_id]" id="getLdapUser" data-live-search="true" required>
                <%= raw(getLDAP)%>
      </select>
      <% unless getLDAP.present? %>
        <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
      <% end %>
  </div> 
</div> 