<div class="panel panel-default">
  <div class="panel-heading">Form assetlisensi</div>
  <div class="panel-body">
<%= form_for(@assetlisensi, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @assetlisensi.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@assetlisensi.errors.count, "error") %> prohibited this assetlisensi from being saved:</h4>

      <ul>
      <% @assetlisensi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :type_lisensi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :type_lisensi, ["subscride", "one time"], {prompt: "Silahkan Dipilih"}, id: "type_lisensi", class: 'dtSource form-control type_layanan' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nama_lisensi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :nama_lisensi, ["Foxit", "Adobe", "Autocad"], {prompt: "Silahkan Dipilih"}, id: "nama_lisensi", class: 'dtSource form-control nama_lisensi' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :jumlah_lisensi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :jumlah_lisensi, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Divisi, class: "col-sm-2 control-label" %>
     <div class="col-sm-10">
        <%= f.collection_select :divisi, Division.all, :nama, :nama, {prompt: "-- Pilih Divisi --"}, class: 'form-control divisi' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :penerima, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
    
      <select data-placeholder="Pilih Nama" class="form-control" name="assetlisensis[penerima]" id="getLdapUser" data-live-search="true">
                  <%= raw(getLDAP)%>
              </select>
              <% unless getLDAP.present? %>
                <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
              <% end %>
      
    </div>
  </div>
  <div class="form-group">
            <label class="col-sm-2 control-label">Area</label>
            <div class="col-sm-10">
              <div class="container-area">
              <!--
                <%= f.collection_check_boxes :lokasi, Area.all, :nama, :nama do |m| %>
                  <div class="row">
                    <div class="col-md-12">
                      <%= m.label class: 'checkbox-inline' do %>
                        <%= m.check_box class: 'checkbox-inline' %>
                        <%= m.text %><br>
                      <% end %>
                    </div>
                  </div>
                <% end %>-->
                <%= f.collection_select :lokasi, Area.all, :nama, :nama, {prompt: "-- Pilih Area --"}, class: 'form-control lokasi' %>
              </div>
            </div>
          </div>
  <div class="form-group">
    <%= f.label :tahun_pembelian, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tahun_pembelian, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :waktu_instalasi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_field :waktu_instalasi, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :waktu_expired, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_field :waktu_expired, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nama_perangkat, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :nama_perangkat, ["Operasional (kantor)", "Pribadi"], {prompt: "Silahkan Dipilih"}, id: "nama_perangkat", class: 'dtSource form-control nama_perangkat' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :serial_number, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :serial_number, Assetsuser.all, :nama_komputer, :nama_komputer, {prompt: "-- Pilih Serial Number --"}, class: 'form-control serial_number' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pic, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <select id="pic" class="form-control" name="assetlisensi[pic]" data-live-search="true" required>
              <%= raw(getPic)%>
        </select>
    </div>
  </div>
  <!--<div class="form-group">
    <%= f.label :upload, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :upload, class: "form-control" %>
    </div>
  </div>-->
  <div class="form-group">
    <%= f.label :keterangan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :keterangan, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>
<script>
$("#getLdapUser").select2();
$(".lokasi").select2();
$("#type_lisensi").select2();
$(".nama_lisensi").select2();
$(".nama_perangkat").select2();
$(".serial_number").select2();
$("#pic").select2();
$(".divisi").select2();
</script>