<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form assetlisensi</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= assetlisensis_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to new_assetlisensi_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Assetlisensi
    <% end %>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
                  <th>Type lisensi</th>
                  <th>Nama lisensi</th>
                  <th>Jumlah lisensi</th>
                  <th>Divisi</th>
                  <th>Penerima</th>
                  <th>Lokasi</th>
                  <th>Tahun pembelian</th>
                  <th>Waktu instalasi</th>
                  <th>Waktu expired</th>
                  <th>Nama perangkat</th>
                  <th>Serial number</th>
                  <%# <th>Pic</th> %>
                  <th>Keterangan</th>
                <th>Aksi</th>
        <%# <th></th>
        <th></th> %>
      </tr>
      </thead>

      <tbody>
      <% @assetlisensis.each_with_index do |assetlisensi, index| %>
      <tr>
        <td><%= index+1 %></td>
                  <td><%= assetlisensi.type_lisensi %></td>
                  <td><%= assetlisensi.nama_lisensi %></td>
                  <td><%= assetlisensi.jumlah_lisensi %></td>
                  <td><%= assetlisensi.divisi %></td>
                  <td><%= assetlisensi.penerima %></td>
                  <td><%= assetlisensi.lokasi %></td>
                  <td><%= assetlisensi.tahun_pembelian %></td>
                  <td><%= assetlisensi.waktu_instalasi %></td>
                  <td><%= assetlisensi.waktu_expired %></td>
                  <td><%= assetlisensi.nama_perangkat %></td>
                  <td><%= assetlisensi.serial_number %></td>
                  <%# <td><%= assetlisensi.pic %>
                  <%# </td> %>
                  <td><%= assetlisensi.keterangan %></td>
                <td><%= link_to 'Show', assetlisensi %>
        <%= link_to 'Edit', edit_assetlisensi_path(assetlisensi) %>
        <%= link_to 'Destroy', assetlisensi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
