<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form assetlisensi</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= assetlisensis_url %>">List</a>
      </li>
      <li class="active">
        <strong>Detail</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to assetlisensis_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
    <%= link_to edit_assetlisensi_path(@assetlisensi), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %>
<!--    <h1>Show </h1>-->
  </div>
<div class="panel panel-default">
  <div class="panel-heading">Asset Lisensi</div>
  <div class="panel-body">
  <dl class="dl-horizontal">
      <dt>Type lisensi:</dt>
      <dd><%= @assetlisensi.type_lisensi %></dd>

      <dt>Nama lisensi:</dt>
      <dd><%= @assetlisensi.nama_lisensi %></dd>

      <dt>Jumlah lisensi:</dt>
      <dd><%= @assetlisensi.jumlah_lisensi %></dd>

      <dt>Divisi:</dt>
      <dd><%= @assetlisensi.divisi %></dd>

      <dt>Penerima:</dt>
      <dd><%= @assetlisensi.penerima %></dd>

      <dt>Lokasi:</dt>
      <dd><%= @assetlisensi.lokasi %></dd>

      <dt>Tahun pembelian:</dt>
      <dd><%= @assetlisensi.tahun_pembelian %></dd>

      <dt>Waktu instalasi:</dt>
      <dd><%= @assetlisensi.waktu_instalasi %></dd>

      <dt>Waktu expired:</dt>
      <dd><%= @assetlisensi.waktu_expired %></dd>

      <dt>Nama perangkat:</dt>
      <dd><%= @assetlisensi.nama_perangkat %></dd>

      <dt>Serial number:</dt>
      <dd><%= @assetlisensi.serial_number %></dd>

      <dt>Pic:</dt>
      <dd><%= @assetlisensi.pic %></dd>

      <dt>Keterangan:</dt>
      <dd><%= @assetlisensi.keterangan %></dd>

  </dl>
  </div>
  </div>
</div>
