<div class="panel panel-default">
  <div class="panel-heading">Form loss_event</div>
  <div class="panel-body">
<%= form_for(@loss_event, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @loss_event.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@loss_event.errors.count, "error") %> prohibited this loss_event from being saved:</h4>

      <ul>
      <% @loss_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nama, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nama, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tanggal, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_field :tanggal, class: "form-control", data: { date_format: 'yyyy-mm-dd' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tempat, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tempat, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :status, options_for_select(['Open', 'Closed', 'On Processing']), {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pic, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :pic, @teknisi, :to_s, :to_s, { include_blank: true }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :kategori, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :kategori, options_for_select(['Server', 'Jaringan', 'Aplikasi']), {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :deskripsi_kejadian, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :deskripsi_kejadian, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>