<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form loss_event</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= loss_events_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to new_loss_event_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Loss event
    <% end %>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
                  <th>Nama</th>
                  <th>Tanggal</th>
                  <th>Tempat</th>
                  <th>Status</th>
                  <th>Pic</th>
                  <th>Deskripsi kejadian</th>
                  <th>Kategori</th>
                  <th>Aksi</th>
      </tr>
      </thead>

      <tbody>
      <% @loss_events.each_with_index do |loss_event, index| %>
      <tr>
        <td><%= index+1 %></td>
                  <td><%= loss_event.nama %></td>
                  <td><%= loss_event.tanggal %></td>
                  <td><%= loss_event.tempat %></td>
                  <td><%= loss_event.status %></td>
                  <td><%= loss_event.pic %></td>
                  <td><%= loss_event.deskripsi_kejadian %></td>
                  <td><%= loss_event.kategori %></td>
                <td>
                <%= link_to 'Show', loss_event %>
                    <%= link_to 'Edit', edit_loss_event_path(loss_event) %>
                    <%= link_to 'Destroy', loss_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
