<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form loss_event</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= loss_events_url %>">List</a>
      </li>
      <li class="active">
        <strong>Detail</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to loss_events_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
    <%= link_to edit_loss_event_path(@loss_event), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %>
<!--    <h1>Show </h1>-->
  </div>

  <dl class="dl-horizontal">
      <dt>Nama:</dt>
      <dd><%= @loss_event.nama %></dd>

      <dt>Tanggal:</dt>
      <dd><%= @loss_event.tanggal %></dd>

      <dt>Tempat:</dt>
      <dd><%= @loss_event.tempat %></dd>

      <dt>Status:</dt>
      <dd><%= @loss_event.status %></dd>

      <dt>Pic:</dt>
      <dd><%= @loss_event.pic %></dd>

      <dt>Deskripsi kejadian:</dt>
      <dd><%= @loss_event.deskripsi_kejadian %></dd>

      <dt>Kategori:</dt>
      <dd><%= @loss_event.kategori %></dd>

  </dl>
</div>
