<div class="panel panel-default">
  <div class="panel-heading">Form change</div>
  <div class="panel-body">
<%= form_for(@change, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @change.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@change.errors.count, "error") %> prohibited this change from being saved:</h4>

      <ul>
      <% @change.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tanggal, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_field :tanggal, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :judul, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :judul, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :teknisi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <select data-placeholder="Pilih Teknisi" class="form-control" name="change[teknisi]" onchange="setStatusTiket()" id="teknisi" data-live-search="true" required>
        <% if @change.teknisi.present? %>
           <%= raw(getTeknisiParams(@change.teknisi.strip))%>
       <% else %>
         <%= raw(getTeknisi)%>
       <% end %>


     </select>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :kategori_asset, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :kategori_asset, ["Asset User", "Asset Digital", "Asset System"], {prompt: "Silahkan Dipilih"}, id: "kategori_asset", onchange: "dataSource()", class: 'dtSource form-control' %>
    </div>
  </div>
  <fieldset class="assetsystem">
  <div class="form-group">
    <%= f.label :nama_system, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
       <%= f.collection_select :nama_system, Assetssystem.all, :nama_perangkat, :nama_perangkat, {prompt: "-- Pilih Nama Perangkat --"}, class: 'form-control nama_system' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lokasi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :lokasi, Area.all, :nama, :nama, {prompt: "-- Pilih Area --"}, class: 'form-control lokasi' %>
    </div>
  </div>
  </fieldset>
  <fieldset class="assetuser">
  <div class="form-group">
    <%= f.label :nama_perangkat, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
       <!-- <%= f.collection_select :nama_perangkat, Assetsuser.all, :nama_komputer, :nama_komputer, {prompt: "-- Pilih Nama Perangkat --"}, class: 'form-control nama_perangkat' %> -->
       <select data-placeholder="Pilih Asset User" class="form-control" name="change[nama_perangkat]" id="nama_perangkat" data-live-search="true">
        <%if @change.new_record?%>
          <%=raw(getPerangkat)%>
        <%else%>
          <%if @change.nama_perangkat.present?%>
            <%=raw(getPerangkatChangeParams(@change.nama_perangkat.strip))%>
          <%else%>
            <%=raw(getPerangkat)%>
          <%end%>
        <%end%>
      </select>
    </div>
  </div>
  <!-- <div class="form-group">
    <%= f.label :nama_user, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">

      <select data-placeholder="Pilih Nama" class="form-control" name="change[nama_user]" id="nama_user" data-live-search="true">
        <%unless @change.nama_user.present?%>
          <%=raw(getLDAP)%>
        <%else%>
          <%= raw(getLDAPParams(@change.nama_user))%>
        <%end%>
      </select>
    </div>
  </div> -->

  </fieldset>
  <fieldset class="assetdigital">
  <div class="form-group">
    <%= f.label :nama_aplikasi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :nama_aplikasi, Assetsdigital.all, :nama_aplikasi, :nama_aplikasi, {prompt: "-- Pilih Nama Aplikasi --"}, class: 'form-control nama_aplikasi' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pemilik_proses, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :pemilik_proses, class: "form-control", id:"pemilik_proses" %>
    </div>
  </div>
  </fieldset>
  <div class="form-group">
    <%= f.label :deskripsi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :deskripsi, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Lampiran<p style="font-size: 10px;">(optional)</p></label>
    <div class="col-sm-10">
      <%= f.file_field :lampiran_change, class: "form-control", direct_upload: true, accept: 'image/jpeg, image/jpg, image/png, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document' , :id => "file" %>
      <div style="margin-top: 10px;">
      <% if @change.lampiran_change.present? %>
        <span style="margin-right: 10px">
          <% if @change.lampiran_change.attached? %>
            <%= link_to @change.lampiran_change.filename, rails_blob_path(@change.lampiran_change, disposition: 'preview'), target: "_blank" %>
            <%= link_to '', url_for(controller: :changes, action: :delete_file, attachment_id: @change.lampiran_change.id), class: 'fa fa-close', method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            File attachment is missing
          <% end %>
        </span>
      <% end %>
      
      </div>
    </div>

  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function () {
  $("#kategori_asset").select2();
  $(".nama_perangkat").select2();
  $(".nama_aplikasi").select2();
  $(".nama_system").select2();
  $('#nama_user').select2();
  $('#change_lokasi').select2();
  $('#teknisi').select2();
  $('#nama_perangkat').select2();

  $("#kategori_asset").change(function () {
    var data = $(this).val();
    showAssetCategory(data);
  });

  // Initial execution
  var initialData = $("#kategori_asset").val();
  showAssetCategory(initialData);
});

function showAssetCategory(data) {
  $('.assetuser').hide();
  $('.assetsystem').hide();
  $('.assetdigital').hide();

  if (data == "Asset User") {
    $('.assetuser').show();
    document.getElementById("nama_perangkat").required = true;
    document.getElementById("nama_user").required = true;
  } else if (data == "Asset Digital") {
    $('.assetdigital').show();
    document.getElementById("nama_aplikasi").required = true;
    document.getElementById("pemilik_proses").required = true;
  } else if (data == "Asset System") {
    $('.assetsystem').show();
    document.getElementById("nama_system").required = true;
    document.getElementById("lokasi").required = true;
  }
}

</script>