<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form change</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= changes_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to new_change_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Change
    <% end %>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
                  <th>Tanggal</th>
                  <th>Judul</th>
                  <th>Teknisi</th>
                  <th>Kategori asset</th>
                  <%# <th>Nama perangkat</th>
                  <th>Ram</th>
                  <th>Nama aplikasi</th>
                  <th>Pemilik proses</th> %>
                  <th>Deskripsi</th>
                <th>Aksi</th>
        <%# <th></th>
        <th></th> %>
      </tr>
      </thead>

      <tbody>
      <% @changes.each_with_index do |change, index| %>
      <tr>
        <td><%= index+1 %></td>
                  <td><%= change.tanggal %></td>
                  <td><%= change.judul %></td>
                  <td><%= change.teknisi %></td>
                  <td><%= change.kategori_asset %></td>
                  <!--<td><%= change.nama_perangkat %></td>
                  <td><%= change.nama_user %></td>
                  <td><%= change.nama_aplikasi %></td>
                  <td><%= change.pemilik_proses %></td>-->
                  <td><%= change.deskripsi %></td>
                <td><%= link_to 'Show', change %>
        <%= link_to 'Edit', edit_change_path(change) %>
        <%= link_to 'Destroy', change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
