<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form change</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= changes_url %>">List</a>
      </li>
      <li class="active">
        <strong>Detail</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to changes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
    <%= link_to edit_change_path(@change), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %>
<!--    <h1>Show </h1>-->
  </div>
<div class="panel panel-success">
  <div class="panel-heading">Detail Change
  <span class="vertical-date" style="float:right">
    Tanggal penggantian :
    <%= @change.created_at.strftime("%d %B %Y")%> 
    <%= @change.created_at.strftime("%H:%M")%>
  </span>
  </div>
  
  <div class="panel-body">
  <dl class="dl-horizontal">
      <dt>Tanggal:</dt>
      <dd><%= @change.tanggal %></dd>

      <dt>Judul:</dt>
      <dd><%= @change.judul %></dd>

      <dt>Teknisi:</dt>
      <dd><%= @change.teknisi %></dd>

      <dt>Kategori asset:</dt>
      <dd><%= @change.kategori_asset %></dd>
 <% if @change.kategori_asset.match(/(Layanan User)/)%>
      <dt>Nama perangkat:</dt>
      <dd><%= @change.nama_perangkat %></dd>

      <dt>Ram:</dt>
      <dd><%= @change.nama_user %></dd>
<%end%>
<% if @change.kategori_asset.match(/(Layanan Digital)/)%>
      <dt>Nama aplikasi:</dt>
      <dd><%= @change.nama_aplikasi %></dd>

      <dt>Pemilik proses:</dt>
      <dd><%= @change.pemilik_proses %></dd>
<%end%>
      <dt>Deskripsi:</dt>
      <dd><%= @change.deskripsi %></dd>

  </dl>
</div>
</div>
</div>