<div class="panel panel-default">
  <div class="panel-heading">Form position</div>
  <div class="panel-body">
<%= form_for(@position, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @position.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h4>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nama, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nama, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :priority, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :priority, class: "form-control" , required: true%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>