<div class="panel panel-default">
  <div class="panel-heading">Form ticket_problem</div>
  <div class="panel-body">
<%= form_for(@ticket_problem, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @ticket_problem.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@ticket_problem.errors.count, "error") %> prohibited this ticket_problem from being saved:</h4>

      <ul>
      <% @ticket_problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "No Tiket Problem", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">   
      <%= f.text_field :no_ticket_problem, class: "form-control", readonly: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "No Tiket Insiden/Request", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%# <%= f.text_field :ticket, class: "form-control", readonly: true  %>
      <input class="form-control" readonly="readonly" type="text" value="<%= @ticket_problem.ticket.no_tiket%>" name="ticket_problem[ticket]" id="ticket_problem_ticket">
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Nama Requester", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%# <%= f.text_field :nama_pemohon, class: "form-control", id: "nama_pemohon", value: sessionName, readonly: true  %>
      <input class="form-control" readonly="readonly" type="text" value="<%= @ticket_problem.ticket.nama_pemohon%>" name="ticket_problem[nama_pemohon]" id="nama_pemohon">
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Nama Pemilik Kendala", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%# <%= f.text_field :nama_pemohon, class: "form-control", id: "nama_pemohon", value: sessionName, readonly: true  %>
        <input class="form-control" readonly="readonly" type="text" value="<%= @ticket_problem.ticket.nama_pemilik_kendala%>" name="ticket_problem[nama_pemohon]" id="nama_pemohon">
    </div>
  </div>

  <div class="form-group">
    <%= f.label :priority, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%# <%= f.text_field :priority, class: "form-control" %>
      <input class="form-control" type="text" value="<%= @ticket_problem.ticket.priority%>" name="ticket_problem[priority]" id="priority">
    </div>
  </div>
    <div class="form-group">
      <%= f.label :kategori, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <% if @ticket_problem.new_record? %>
          <select data-placeholder="Pilih Kategori" class="form-control kategori_select" name="ticket_problem[kategori]" id="kategori" data-live-search="true" onchange="setKategori()" required>
              <%= raw(getKategori)%>
          </select>
        <% else %>
          <select data-placeholder="Pilih Kategori" class="form-control kategori_select" name="ticket_problem[kategori]" id="kategori" data-live-search="true" onchange="setKategori()" required>
              <% if @ticket_problem.ticket.kategori.present? %>
                <%= raw(getKategoriParamsbyName(@ticket_problem.ticket.kategori.strip))%>
              <% else %>
                <%= raw(getKategori)%>
              <% end %>
          </select>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sub_kategori, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.hidden_field :sub_kategori, class: "form-control", id: "sub_kategori_hidden" %>
        <select id="sub_kategori" class="form-control sub_kategori" name="ticket_problem[sub_kategori]" required></select>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :teknisi, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <% if @ticket_problem.new_record? %>
          <select data-placeholder="Pilih Teknisi" class="form-control" name="ticket_problem[teknisi]" onchange="setStatusTiket()" id="teknisi" data-live-search="true" required>
              <%= raw(getTeknisi)%>
          </select>
        <%elsif @ticket_problem.teknisi.nil?%>
          <select data-placeholder="Pilih Teknisi" class="form-control" name="ticket_problem[teknisi]" onchange="setStatusTiket()" id="teknisi" data-live-search="true" required>
              <%= raw(getTeknisi)%>
          </select>
        <% else %>
          <select data-placeholder="Pilih Teknisi" class="form-control" name="ticket_problem[teknisi]" onchange="setStatusTiket()" id="teknisi" data-live-search="true" required>
              <% if @ticket_problem.teknisi.present? %>
                <%= raw(getTeknisiParams(@ticket_problem.teknisi)) %>
              <% else %>
                <%= raw(getTeknisi)%>
              <% end %>
          </select>
        <% end %>
      </div>
    </div>

      <div class="form-group">
        <%= f.label "Status", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.select :status, ["Processing Asign", "Solved", "Observation", "Closed"], {prompt: ""}, id: "status", class: ' form-control ' %>
        </div>
      </div>

<%
=begin%>
             <br>
              <%if @ticket_problem.new_record?%>
                <input type="checkbox" id="defaultCheck" name="ticket_problem[status]" value="<%= theory.name %>"  ><%= theory.name %>
              <%else%>
                 <% @materi.each do |key| %>
                  <tr>
                    <%= f.check_box :materi, { class: 'my-2',multiple: true, checked: key.to_s.gsub('[','').gsub(']','').gsub('"','')&.include?(theory.name) },theory.name , nil %>
                    <%= theory.name %>
                  </tr>
                <% end %>
              <%end%>
<%
=end%>


  <div class="form-group">
    <%= f.label :keterangan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
     <%= f.text_area :keterangan, class: "form-control", id: "keterangan", style: "resize: none; height: 10em;", :required => true %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Lampiran<p style="font-size: 10px;">(optional)</p></label>
    <div class="col-sm-10">
         <%= f.file_field :lampiran, class: "form-control", direct_upload: true, accept: 'image/jpeg, image/jpg, image/png, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document' , :id => "file" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>

<script>


    const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file

    $("#file").on('change', function(e){
      if(this.files[0].size > 10000000){ // byte->10mb 
          alert("File is too big!");
          this.value = "";
        }; 
      // for(var i = 0; i < this.files.length; i++){
      //   let fileBloc = $('<span/>', {class: 'file-block'}),
      //     fileName = $('<span/>', {class: 'name', text: this.files.item(i).name});
      //   fileBloc.append('<span class="file-delete"><span>x</span></span>')
      //     .append(fileName);
      //   $("#filesList > #files-names").append(fileBloc);


      // };
      // // Ajout des fichiers dans l'objet DataTransfer
      // for (let file of this.files) {
      //   dt.items.add(file);
      // }
      // // Mise à jour des fichiers de l'input file après ajout
      // this.files = dt.files;

      // EventListener pour le bouton de suppression créé
      $('span.file-delete').click(function(){
        let name = $(this).next('span.name').text();
        // Supprimer l'affichage du nom de fichier
        $(this).parent().remove();
        for(let i = 0; i < dt.items.length; i++){
          // Correspondance du fichier et du nom
          if(name === dt.items[i].getAsFile().name){
            // Suppression du fichier dans l'objet DataTransfer
            dt.items.remove(i);
            continue;
          }
        }
        // Mise à jour des fichiers de l'input file après suppression
       document.getElementById('attachment').files = dt.files;
      });
    });


        // showhide catatan_kategori


    function setStatusTiket(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var aru_id = $("#teknisi").val();
      // console.log(aru_id);
      $.getJSON("/helper_json/" +aru_id+ "/getStatusTeknisi",
        function ( callback ) {
        if (callback != "error"){
          console.log(callback)
          $("#status_teknisi").val(callback);
            $("#antrian").val(callback);
        }
      });
    }

    function setPriority(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var aru_id = $("#jabatan_pemilik_kendala_others1").val();
      // console.log(aru_id);
      $.getJSON("/helper_json/" +aru_id+ "/getPriority",
        function ( callback ) {
        if (callback != "error"){
            // console.log(callback)
            for (var i = 0; i < callback.length; i++){
              var obj = callback[i];
                if (obj == null){
                  $("#priority_pemilik_kendala_others").empty();
                } else{
                  $("#priority_pemilik_kendala_others").empty();
                  var priority = obj['value']
                      // ...use `element`...
                  $("#priority_pemilik_kendala_others").val(priority);
                }
            }
        }
      });
    }


    function setKategori(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var aru_id = $("#kategori").val();
      // console.log(aru_id);
      $.getJSON("/helper_json/" +aru_id+ "/getSubKategori",
        function ( callback ) {
        if (callback != "error"){
            // console.log(callback)
            for (var i = 0; i < callback.length; i++){
              var obj = callback[i];
                if (obj == null){
                  $("#sub_kategori").empty();
                  $("#jenis_layanan").empty();
                } else{
                  $("#sub_kategori").empty();
                  $("#sub_kategori").append('\
                    <option disabled selected>--Pilih Sub Kategori--</option>\
                  ');
                  var ukuran = obj['value'] ? JSON.parse(obj['value']) : "";
                  for (var i = 0; i < ukuran.length; i++) { // https://stackoverflow.com/questions/9329446/for-each-over-an-array-in-javascript
                      var value = ukuran[i];
                      // ...use `element`...
                      $("#sub_kategori").append(new Option(value));
                      // console.log(value);
                  }


          
                  $("#jenis_layanan").empty();
                  var tipe_layanan = obj['tipe_layanan']
                      // ...use `element`...
                  $("#jenis_layanan").val(tipe_layanan);

                  // var template = obj['template']
                  //     // ...use `element`...
                  // $("#keterangan").val(template);

                  $("#status_tiket").empty();
                  var status_tiket = obj['status_tiket']
                      // ...use `element`...
                  $("#status_tiket").val(status_tiket);
                }
            }
        }
      });
      
    }

  

    jQuery(function () {

      
        var kategori = $('#kategori').val();
        var nama_perangkat = $('#catatan_kategori_hardware');


        nama_perangkat.hide();
        
        $('#kategori').change(function() {
          if($('#kategori').val() == 'Hardware') {
            $('#catatan_kategori_hardware').show();
          }else{
            $('#catatan_kategori_hardware').hide();
          }
        });


                  // $('#sub_kategori').change(function() {
                  //   if($('#sub_kategori').val() == 'Konfigrurasi Aplikasi Office/PDF') {
                  //   console.log("test");
                  //   }
                  // });

        // jenis layanan - template


        // console.log(kategori);
        <% unless @ticket_problem.new_record? %>
          $.getJSON("/helper_json/" +kategori+ "/getSubKategori",
            function ( callback ) {
            if (callback != "error"){
                // console.log(callback)
                for (var i = 0; i < callback.length; i++){
                  var obj = callback[i];
                    if (obj == null){
                      $("#sub_kategori").empty();
                      $("#jenis_layanan").empty();
                    } else{
                      $("#sub_kategori").empty();
                      var ukuran = obj['value'] ? JSON.parse(obj['value']) : "";
                      for (var i = 0; i < ukuran.length; i++) { // https://stackoverflow.com/questions/9329446/for-each-over-an-array-in-javascript
                          var value = ukuran[i];
                          document.getElementById('sub_kategori').value=sub_kategori; //https://stackoverflow.com/questions/10911526/how-do-i-change-an-html-selected-option-using-javascript
                          // ...use `element`...
                          $("#sub_kategori").append('\
                                    <option value="'+value+'">'+value+'</option>\
                          ');
                      }

                      $("#jenis_layanan").empty();
                      var tipe_layanan = obj['tipe_layanan']
                          // ...use `element`...
                      $("#jenis_layanan").val(tipe_layanan);

                      $("#status_tiket").empty();
                      var status_tiket = obj['status_tiket']
                          // ...use `element`...
                      $("#status_tiket").val(status_tiket);
                    }
                }
            }
          });
        <% end %>

        var cekteknisi = $("#teknisi").val();
        console.log(cekteknisi);
        <% unless @ticket_problem.new_record? %>
          $.getJSON("/helper_json/" +cekteknisi+ "/getStatusTeknisi",
            function ( callback ) {
            if (callback != "error"){
              // console.log(callback)
              $("#status_teknisi").val(callback);
              //  $("#antrian").val(callback);
            }
          });
        <% end %>

        var jabatan = $("#jabatan_pemilik_kendala_others1").val();
        // console.log(aru_id);
        <% unless @ticket_problem.new_record? %>
          $.getJSON("/helper_json/" +jabatan+ "/getPriority",
            function ( callback ) {
            if (callback != "error"){
                // console.log(callback)
                for (var i = 0; i < callback.length; i++){
                  var obj = callback[i];
                    if (obj == null){
                      $("#priority_pemilik_kendala_others").empty();
                    } else{
                      $("#priority_pemilik_kendala_others").empty();
                      var priority = obj['value']
                          // ...use `element`...
                      $("#priority_pemilik_kendala_others").val(priority);
                    }
                }
            }
          });
        <% end %>

      var jenis_layanan = document.getElementById("jenis_layanann");
      var sub_kategori = document.getElementById("sub_kategori");
      var kategori = document.getElementById("kategori");

      jenis_layanan.addEventListener("change", function() {
        var selectedJenisLayananValue = jenis_layanan.value;
        var selectedSubKategoriValue = sub_kategori.value;
        var selectedKategoriValue = kategori.value;
        
        var url = "/helper_json";
        
        if (selectedJenisLayananValue && selectedSubKategoriValue) {
          url += "/" + selectedSubKategoriValue + "/getTemplates/" + selectedJenisLayananValue;
        } else if (selectedJenisLayananValue) {
          url += "/" + selectedJenisLayananValue + "/getTemplatesByJenisLayanan";
        }else if  (selectedKategoriValue){  
          url += "/" + selectedKategoriValue + "/getTemplatesByKategori";
        } else if (selectedSubKategoriValue) {
          url += "/" + selectedSubKategoriValue + "/getTemplatesBySubKategori";
        }
        
        $.getJSON(url, function (callback) {
          if (callback != "error"){
            for (var i = 0; i < callback.length; i++){
              var obj = callback[i];
              if (obj == null){
                $("#keterangan").empty();
              } else{
                $("#keterangan").empty();
                var keterangan = obj['value']
                $("#keterangan").val(keterangan);
              }
            }
          }
        });
      });

    $("#kategori").on('change', function(e){
        var selectedSubKategoriValue = $("#sub_kategori").val();
        var selectedJenisLayananValue = jenis_layanan.value;
        var selectedKategoriValue = kategori.value;
        
        var url = "/helper_json";
        
        if (selectedJenisLayananValue && selectedSubKategoriValue) {
          url += "/" + selectedSubKategoriValue + "/getTemplates/" + selectedJenisLayananValue;
        } else if (selectedJenisLayananValue) {
          url += "/" + selectedJenisLayananValue + "/getTemplatesByJenisLayanan";
        }else if  (selectedKategoriValue){  
          url += "/" + selectedKategoriValue + "/getTemplatesByKategori";
          // console.log(selectedKategoriValue)
        } else if (selectedSubKategoriValue) {
          url += "/" + selectedSubKategoriValue + "/getTemplatesBySubKategori";
        }
        
        
         $.getJSON(url, function (callback) {
          if (callback != "error"){
            for (var i = 0; i < callback.length; i++){
              var obj = callback[i];
              if (obj == null){
                $("#keterangan").empty();
              } else{
                $("#keterangan").empty();
                var keterangan = obj['value']
                $("#keterangan").val(keterangan);
              }
            }
          }
        });
        // $.getJSON(url, function (callback) {
        //   // console.log(callback)
        //   if (callback == null || callback == undefined || callback == "" || callback.length ) {
        //     $("#keterangan").empty();
        
        //   } else if (callback != "error"){
        //     var found = false;
        //     for (var i = 0; i < callback.length; i++){
        //       var obj = callback[i];
        //       if (obj != null){
        //         // found = true;
        //         $("#keterangan").empty();
        //         var keterangan = obj['value']
        //         $("#keterangan").val(keterangan);
        //         break;
        //       }
        //     }
        //     if (!found) {
        //       $("#keterangan").empty();
        //     }
        //   } else {
        //     console.log(callback)
        //   }
        // });
    });

    






        $('#kategori').select2();
        $('#sub_kategori').select2();
        $('#assets').select2();
        $('#teknisi').select2();
        document.getElementById("nama_pemilik_kendala_self_service").style.display = "none";
        document.getElementById("divisi_pemilik_kendala_self_service").style.display = "none";


        document.getElementById("pemilik-kendala").required = true;
        document.getElementById("nama_pemilik_kendala_others").style.display = "none";
        document.getElementById("divisi_pemilik_kendala_others").style.display = "none";
        document.getElementById("label_jabatan_pemilik_kendala").style.display = "none";
        document.getElementById("label_nama_pemilik_kendala").style.display = "none";
        document.getElementById("label_satuan_kerja_pemilik_kendala").style.display = "none";
        document.getElementById("jabatan_pemilik_kendala_others").style.display = "none";
        
        var checked = $('.messageCheckbox:checked').val();
        if (checked == "2"){
          var divisi = $("#divisi_pemohon").val();
          var nama = $("#nama_pemohon").val();
          var area = $("#area_pemohon").val();
          document.getElementById("label_nama_pemilik_kendala").style.display = "inline";
          document.getElementById("label_satuan_kerja_pemilik_kendala").style.display = "inline";
          document.getElementById("label_jabatan_pemilik_kendala").style.display = "none";

          document.getElementById("nama_pemilik_kendala_others").style.display = "none";
          document.getElementById("nama_pemilik_kendala_others1").required = false;
          $('#nama_pemilik_kendala_others1').attr('disabled', true);

          document.getElementById("divisi_pemilik_kendala_others").style.display = "none";
          document.getElementById("divisi_pemilik_kendala_others1").required = false;
          $('#divisi_pemilik_kendala_others1').attr('disabled', true);

          document.getElementById("jabatan_pemilik_kendala_others").style.display = "none";
          document.getElementById("jabatan_pemilik_kendala_others1").required = false;
          $('#jabatan_pemilik_kendala_others1').attr('disabled', true);
          
          document.getElementById("priority_pemilik_kendala_others").style.display = "none";
          document.getElementById("priority_pemilik_kendala_others").required = false;
          $('#priority_pemilik_kendala_others').attr('disabled', true);

          $('#nama_pemilik_kendala_self_service').show();
          $('#nama_pemilik_kendala_self_service').val(nama);
          $('#nama_pemilik_kendala_self_service').attr('readonly', true);
          $('#nama_pemilik_kendala_self_service').attr('disabled', false);

          $('#divisi_pemilik_kendala_self_service').show();
          $('#divisi_pemilik_kendala_self_service').val(divisi);
          $('#divisi_pemilik_kendala_self_service').attr('readonly', true);
          $('#divisi_pemilik_kendala_self_service').attr('disabled', false);

          $('#area_pemilik_kendala_self_service').val(area);
          $('#area_pemilik_kendala_self_service').attr('readonly', true);
          $('#area_pemilik_kendala_self_service').attr('disabled', false);

          $('#jabatan_pemilik_kendala_self_service').attr('disabled', false);

          $('#priority_pemilik_kendala_self_service').attr('disabled', false);

        } else if (checked == 0) {
          var area = $("#area_pemohon").val();
          document.getElementById("label_nama_pemilik_kendala").style.display = "inline";
          document.getElementById("label_satuan_kerja_pemilik_kendala").style.display = "inline";
          document.getElementById("label_jabatan_pemilik_kendala").style.display = "inline";

          document.getElementById("nama_pemilik_kendala_others").style.display = "inline";
          document.getElementById("nama_pemilik_kendala_others1").required = true;
          $('#nama_pemilik_kendala_others1').attr('disabled', false);

          document.getElementById("divisi_pemilik_kendala_others").style.display = "inline";
          document.getElementById("divisi_pemilik_kendala_others1").required = true;
          $('#divisi_pemilik_kendala_others1').attr('disabled', false);

          document.getElementById("jabatan_pemilik_kendala_others").style.display = "inline";
          document.getElementById("jabatan_pemilik_kendala_others1").required = true;
          $('#jabatan_pemilik_kendala_others1').attr('disabled', false);

          document.getElementById("priority_pemilik_kendala_others").style.display = "inline";
          document.getElementById("priority_pemilik_kendala_others").required = false;
          $('#priority_pemilik_kendala_others').attr('disabled', false);

          $('#area_pemilik_kendala_self_service').val(area);
          $('#area_pemilik_kendala_self_service').attr('readonly', true);
          $('#area_pemilik_kendala_self_service').attr('disabled', false);
          
          $('#divisi_pemilik_kendala_self_service').attr('disabled', true);
          $('#divisi_pemilik_kendala_self_service').val('');
          $('#divisi_pemilik_kendala_self_service').hide();

          $('#nama_pemilik_kendala_self_service').attr('disabled', true);
          $('#nama_pemilik_kendala_self_service').val('');
          $('#nama_pemilik_kendala_self_service').hide();

          $('#jabatan_pemilik_kendala_self_service').attr('disabled', true);

          $('#priority_pemilik_kendala_self_service').attr('disabled', true);

          $('#nama_pemilik_kendala_others1').select2();
          $('#divisi_pemilik_kendala_others1').select2();
          $('#area_pemilik_kendala_others1').select2();
          $('#jabatan_pemilik_kendala_others1').select2();
        }
        return $("input[name='ticket[pemilik_kendala]']").click(function () {
            var value = $(this).val();
            var divisi = $("#divisi_pemohon").val();
            var nama = $("#nama_pemohon").val();
            var area = $("#area_pemohon").val();
            if (value == "2") { //self service
                document.getElementById("label_nama_pemilik_kendala").style.display = "inline";
                document.getElementById("label_satuan_kerja_pemilik_kendala").style.display = "inline";
                document.getElementById("label_jabatan_pemilik_kendala").style.display = "none";

                document.getElementById("nama_pemilik_kendala_others").style.display = "none";
                document.getElementById("nama_pemilik_kendala_others1").required = false;
                $('#nama_pemilik_kendala_others1').attr('disabled', true);

                document.getElementById("divisi_pemilik_kendala_others").style.display = "none";
                document.getElementById("divisi_pemilik_kendala_others1").required = false;
                $('#divisi_pemilik_kendala_others1').attr('disabled', true);

                document.getElementById("jabatan_pemilik_kendala_others").style.display = "none";
                document.getElementById("jabatan_pemilik_kendala_others1").required = false;
                $('#jabatan_pemilik_kendala_others1').attr('disabled', true);

                document.getElementById("priority_pemilik_kendala_others").style.display = "none";
                document.getElementById("priority_pemilik_kendala_others").required = false;
                $('#priority_pemilik_kendala_others').attr('disabled', true);

                $('#nama_pemilik_kendala_self_service').show();
                $('#nama_pemilik_kendala_self_service').val(nama);
                $('#nama_pemilik_kendala_self_service').attr('readonly', true);
                $('#nama_pemilik_kendala_self_service').attr('disabled', false);

                $('#divisi_pemilik_kendala_self_service').show();
                $('#divisi_pemilik_kendala_self_service').val(divisi);
                $('#divisi_pemilik_kendala_self_service').attr('readonly', true);
                $('#divisi_pemilik_kendala_self_service').attr('disabled', false);

                $('#area_pemilik_kendala_self_service').val(area);
                $('#area_pemilik_kendala_self_service').attr('readonly', true);
                $('#area_pemilik_kendala_self_service').attr('disabled', false);

                $('#jabatan_pemilik_kendala_self_service').attr('disabled', false);

                $('#priority_pemilik_kendala_self_service').attr('disabled', false);

            } else { //others
                document.getElementById("label_nama_pemilik_kendala").style.display = "inline";
                document.getElementById("label_satuan_kerja_pemilik_kendala").style.display = "inline";
                document.getElementById("label_jabatan_pemilik_kendala").style.display = "inline";

                document.getElementById("nama_pemilik_kendala_others").style.display = "inline";
                document.getElementById("nama_pemilik_kendala_others1").required = true;
                $('#nama_pemilik_kendala_others1').attr('disabled', false);

                document.getElementById("divisi_pemilik_kendala_others").style.display = "inline";
                document.getElementById("divisi_pemilik_kendala_others1").required = true;
                $('#divisi_pemilik_kendala_others1').attr('disabled', false);

                document.getElementById("jabatan_pemilik_kendala_others").style.display = "inline";
                document.getElementById("jabatan_pemilik_kendala_others1").required = true;
                $('#jabatan_pemilik_kendala_others1').attr('disabled', false);

                document.getElementById("priority_pemilik_kendala_others").style.display = "inline";
                document.getElementById("priority_pemilik_kendala_others").required = false;
                $('#priority_pemilik_kendala_others').attr('disabled', false);

                $('#area_pemilik_kendala_self_service').val(area);
                $('#area_pemilik_kendala_self_service').attr('readonly', true);
                $('#area_pemilik_kendala_self_service').attr('disabled', false);
                
                $('#divisi_pemilik_kendala_self_service').attr('disabled', true);
                $('#divisi_pemilik_kendala_self_service').val('');
                $('#divisi_pemilik_kendala_self_service').hide();

                $('#nama_pemilik_kendala_self_service').attr('disabled', true);
                $('#nama_pemilik_kendala_self_service').val('');
                $('#nama_pemilik_kendala_self_service').hide();

                $('#jabatan_pemilik_kendala_self_service').attr('disabled', false);

                $('#priority_pemilik_kendala_self_service').attr('disabled', false);
                
                $('#nama_pemilik_kendala_others1').select2();
                $('#divisi_pemilik_kendala_others1').select2();
                $('#jabatan_pemilik_kendala_others1').select2();
            }
        })
    });

    $(document).ready(function(){
      var UserOption  = document.getElementById('sub_kategori').value;
      // console.log(options[UserOption-1]);
      $('#sub_kategori').change(function() {
        // if($('#sub_kategori').val() == 'Konfigrurasi Aplikasi Office/PDF') {
        //   $("#keterangan").val("test");
        // }
      });
    });
</script>