<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class="ibox-tools">
        </div>                       
      </div>
      <div class="ibox-content">
        <div class="row">
        </div>                    
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example" id="dataTables-example">    
            <thead>                       
              <tr>
                <th>No</th>
                <th>Ticket Insiden</th>
                <th>No ticket problem</th>
                <th>Status</th>
                <th>Teknisi</th>
                <th>Priority</th>
                <th>Kategori</th>
                <th>Sub kategori</th>
                <th>Keterangan</th>     
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% @ticket_problems.each_with_index do |ticket_problem, index| %>
                <tr title="
                  <%if ticket_problem.try(:keterangan).present?%>  
                    <%= ticket_problem.try(:keterangan).strip%>
                  <%end%> ">
                  <td><%= index+1 %></td>
                  <td><%= ticket_problem.ticket.no_tiket %></td>
                  <td><%= ticket_problem.no_ticket_problem %></td>
                  <td><%= ticket_problem.status %></td>
                  <td><%= ticket_problem.teknisi %></td>
                  <td><%= ticket_problem.priority %></td>
                  <td><%= ticket_problem.kategori %></td>
                  <td><%= ticket_problem.sub_kategori %></td>
                  <td><%= ticket_problem.keterangan %></td>
                  <td>
                    <%= link_to '', ticket_problem_path(ticket_problem), class:"fa fa-eye btn btn-sm btn-success me-md-2", title:"Detail"  %>
                    <% if ticket_problem.status.present? && !ticket_problem.status.match(/Closed/)%>
                      <%= link_to '', edit_ticket_problem_path(ticket_problem), class:"fa fa-refresh btn btn-sm btn-default", title:"Proses"  %>
                    <%end%>
                  </td>                                                                      
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  $( document ).ready(function() {
   //konfigurasi DataTable pada tabel dengan id example dan menambahkan  div class dateseacrhbox dengan dom untuk meletakkan inputan daterangepicker
   var $dTable = $('.dataTables-example').DataTable({
    // "lengthChange": false,
    // "dom": "<'row'<'col-sm-5' <'datesearchbox'>><'col-sm-7'f>>" +
    //   "<'row'<'col-sm-12'tr>>" +
    //   "<'row'<'col-sm-5'i><'col-sm-7'p>>"
   });

   //menambahkan daterangepicker di dalam datatables
   $("div.datesearchbox").html('<div class="input-group"> <div class="input-group-addon"> <i class="fa fa-calendar"></i> </div><input type="text" class="form-control pull-right" id="datesearch" placeholder="Search by date range.."> </div>');

   document.getElementsByClassName("datesearchbox")[0].style.textAlign = "right";

   //konfigurasi daterangepicker pada input dengan id datesearch
   $('#datesearch').daterangepicker({
      autoUpdateInput: false
    });

   //menangani proses saat apply date range
    $('#datesearch').on('apply.daterangepicker', function(ev, picker) {
       $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
       start_date=picker.startDate.format('DD/MM/YYYY');
       end_date=picker.endDate.format('DD/MM/YYYY');
       $.fn.dataTableExt.afnFiltering.push(DateFilterFunction);
       $dTable.draw();
    });

    $('#datesearch').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
      start_date='';
      end_date='';
      $.fn.dataTable.ext.search.splice($.fn.dataTable.ext.search.indexOf(DateFilterFunction, 1));
      $dTable.draw();
    });

    var role = $('#roleActive').val();
    console.log(role);

    $('.filter_kategori').on('change', function(e){
      var kategori = $(this).val();
      $('.filter_kategori').val(kategori)
      // console.log(kategori)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      if (role == 2) {
        // console.log(kategori);
         $dTable.column(3).search(kategori ? '^' + kategori + '$' : '', true, false).draw(); 
      
      } else {
        // console.log(kategori);
       // Update URL with new parameters
        $dTable.column(4).search(kategori ? '^' + kategori + '$' : '', true, false).draw();
       
      }

        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("kategori", kategori);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/tickets/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);
      // $dTable.column(4).search(kategori ? '^' + kategori + '$' : '', true, false).draw(); 
      // 3
      // (perusahaan).draw();
      
    });

    $('.filter_tipe').on('change', function(e){
      var tipe = $(this).val();
      $('.filter_tipe').val(tipe)
      // console.log(tipe)
      //$dTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      if (role == 2) {
        $dTable.column(5).search(tipe ? '^' + tipe + '$' : '', true, false).draw(); 
      } else {
        $dTable.column(6).search(tipe ? '^' + tipe + '$' : '', true, false).draw();
      }
        // Update URL with new parameters
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("tipe", tipe);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/tickets/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);
      // 5
      // (perusahaan).draw();
      
    });
    $('.filter_teknisi').on('change', function(e){
      var teknisi = $(this).val();
      $('.filter_teknisi').val(teknisi)
      // console.log(teknisi)
      //$dTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
       if (role == 2 ) {
        $dTable.column(6).search(teknisi ? '^' + teknisi + '$' : '', true, false).draw();
      } else {
        $dTable.column(7).search(teknisi ? '^' + teknisi + '$' : '', true, false).draw();
      }
      // Update URL with new parameters
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("teknisi", teknisi);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/tickets/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);
      // 5
      // (perusahaan).draw();
      
    });

    $('.filter_status').on('change', function(e){
      var status = $(this).val();
      $('.filter_status').val(status)
      
      if (role == 2 || role == 3 ) {
        $dTable.column(8).search(status ? '' + status + '' : '', true, false).draw();
      } else {
        // console.log(status);
        $dTable.column(9).search(status ? '' + status + '' : '', true, false).draw();
      }
      // $dTable.column(8).search(status ? '' + status + '' : '', true, false).draw();
      // Update URL with new parameters
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("status", status);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/tickets/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);
    });
  });
   

</script>

 