<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form ticket_problem</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= ticket_problems_url %>">List</a>
      </li>
      <li class="active">
        <strong>Detail</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to ticket_problems_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
    <%= link_to edit_ticket_problem_path(@ticket_problem), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %>
<!--    <h1>Show </h1>-->
  </div>

  <dl class="dl-horizontal">
      <dt>Ticket:</dt>
      <dd><%= @ticket_problem.ticket.no_tiket %></dd>

      <dt>No ticket problem:</dt>
      <dd><%= @ticket_problem.no_ticket_problem %></dd>

      <dt>Status:</dt>
      <dd><%= @ticket_problem.status %></dd>

      <dt>Teknisi:</dt>
      <dd><%= @ticket_problem.teknisi %></dd>

      <dt>Priority:</dt>
      <dd><%= @ticket_problem.priority %></dd>

      <dt>Kategori:</dt>
      <dd><%= @ticket_problem.kategori %></dd>

      <dt>Sub kategori:</dt>
      <dd><%= @ticket_problem.sub_kategori %></dd>

      <dt>Keterangan:</dt>
      <dd><%= @ticket_problem.keterangan %></dd>

  </dl>
</div>
