<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name" style="height: 150px;"><%= image_tag "helpdesk-logo.jpeg", width: 150 %></h1>

    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "m-t", role: "form", style: "padding-top: 30px;"}) do |f| %>
      <div class="form-group">
        <input placeholder="Username" type="text" class="form-control" id="plain-username" required>
        <%= f.hidden_field   :username, id:"cipher-username", class: "form-control" %>
        <%# <%= f.hidden_field   :username, autofocus: true, autocomplete: "username", placeholder: "Username", class: "form-control", id: "username", required: true %>
      </div>
      <div class="form-group">
        <input placeholder="Password" type="password" class="form-control" id="plain-password" required>
        <%= f.hidden_field   :password, id:"cipher-password", class: "form-control form-control-user", placeholder: "Input Password" %>
        <%# <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control", required: true %> 
      </div>
      <button type="submit" class="btn btn-info block full-width m-b">Login</button>
    <% end %>
<%
=begin%>
      <div class="form-group">
        <% if flash[:alert] %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% elsif flash[:notice] %>
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
=end%>   
<%
      if Time.now.year > 2022
        date = "2022 - " + "#{Time.now.year}"
      else
        date = Time.now.year
        # Time.now.year
      end
    %>
<%
 
    <p class="m-t"> <small>HELPDESK &copy; <%= date %></small> </p>
  </div>
  
</div>


 <%# <script>
  $(document).ready(function () {
    $('#plain-password').keyup(function(){
      const password = CryptoJS.AES.encrypt(this.value, key, { iv: iv });
      $('#cipher-password').val(password.toString());
    });

    $('#plain-username').keyup(function(){
      const password = CryptoJS.AES.encrypt(this.value, key, { iv: iv });
      $('#cipher-username').val(password.toString());
    });
  });
</script> %>

<%
=begin
%>
  <% content_for :scripts do %>
    <script>
      $(document).ready(function () {
        $('#plain-password').keyup(function(){
          const password = CryptoJS.AES.encrypt(this.value, key, { iv: iv });
          $('#cipher-password').val(password.toString());
        });

        $('#plain-username').keyup(function(){
          const password = CryptoJS.AES.encrypt(this.value, key, { iv: iv });
          $('#cipher-username').val(password.toString());
        });
      });
      //https://stackoverflow.com/questions/222740/how-to-get-the-new-value-of-an-html-input-after-a-keypress-has-modified-it
      var onChange = function(evt) {
        if (this.value.match(/(<|>|;|'|"|--)/)){
          regex = /(<|>|;|'|"|--)/;
          var hasil = this.value.replace(regex, '');
          $("#cipher-username").val(hasil);
        }
        // console.info(this.value);
        // or
        // console.info(evt.target.value);
      };
      var input = document.getElementById('cipher-username');
      input.addEventListener('input', onChange, false);
    </script>
  <% end %>
<%
=end
%>  