<style>
  body {
    background-image: url('/assets/pattern-log.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgba(248, 248, 248, 0.5);
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 10% 10% 0;
    max-width: 700px;
    width: 90%;
    padding: 2rem;
  }

  .responsive-image {
    width: 50%;
    max-width: 80%;
    height: auto;
  }

  .gambar-pgn {
    margin-left: 40px;
    margin-top: 550px;
  }

  .gambar-astro {
    margin-left: 80px;
    margin-top: -525px;
  }

  .footer-image {
    width: 32%;
    max-width: 80%;
    height: auto;
    margin-left: 40px;
    margin-top: -160px;
  }

  /* CSS untuk layar dengan lebar maksimal 576px */
  @media screen and (max-width: 576px) {
    .gambar-pgn,
    .gambar-astro,
    .footer-image {
      display: none;
    }

    .login {
      margin-top: 20%;
    }

    .responsive-image {
      width: 90%;
      max-width: 90%;
      height: auto;
    }
  }

  /* CSS untuk layar dengan lebar antara 576px hingga 768px */
  @media screen and (min-width: 576px) and (max-width: 768px) {
    .gambar-pgn,
    .gambar-astro,
    .footer-image {
      display: none;
    }

    .login {
      margin-top: 10%;
    }

    .responsive-image {
      width: 80%;
      max-width: 80%;
      height: auto;
    }
  }

  /* CSS untuk layar dengan lebar antara 768px hingga 992px */
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .gambar-pgn,
    .gambar-astro,
    .footer-image {
      display: none;
    }

    .login {
      margin-top: 10%;
      padding: 1rem;
    }

    .responsive-image {
      width: 70%;
      max-width: 70%;
      height: auto;
    }

    .gambar-pgn {
      margin-left: 5%;
      margin-top: 35%;
      width: 30%;
    }

    .SolutionDeskLogo {
      margin-left: 5%;
      max-width: 80%;
      height: auto;
    }

    .gambar-astro {
      margin-left: 35%;
      margin-top: -60%;
    }

    .footer-image {
      width: 25%;
      max-width: 25%;
      height: auto;
      margin-left: 5%;
      margin-top: -5%;
    }
  }

  /* CSS untuk layar dengan lebar lebih dari 992px */
  @media screen and (min-width: 992px){
    .login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      /* margin: 10% 5% 0; */
      margin-top: 5%;
      padding: 2rem;
       max-width: 55%;
       height: 20%;
      width: 63%;
      box-sizing: border-box;
    }
    .responsive-image {
      width: 50%;
      max-width: 80%;
      height: auto;
    }

    .gambar-pgn {
      margin-left: 10%;
      margin-top: 45%;
      width: 25%;
    }

    .SolutionDeskLogo {
      margin-left: 10.5%;
      max-width: 80%;
      height: auto;
    }

    .gambar-astro {
      margin-left: 2%;
      margin-top: -52%;
    }

    .footer-image {
      width: 20%;
      max-width: 30%;
      height: auto;
      margin-left: 5%;
      margin-top: -10%;
    }
  }



</style>

<!DOCTYPE html>
<html>
	<body>
    <div class="row">
      <div class="col-md-6">
        <%# style:'margin-left: 40px;  margin-top: 550px; %>
        <%= image_tag "pgn-transparant.png", width: 300 ,class:'gambar-pgn' %> 
        <%# , style:'margin-left: 50px; margin-top: -555px;' %>
        <%= image_tag "astronot1.png", width: 100 ,class:'gambar-astro col-md-12 ' %> 
      </div>
      <div class="col-md-6" style="">

        <div class="ibox-content-white col-lg-6 login"  style="" >
          <%# <h2 class="welcometext" style="margin-top: 25px ">Welcome to <span style="color: #1E8E95;"> Helpdesk <span> %>
          </h2>	
          <div class="text-muted ">
                  <h1 style="margin-top: 25px " ><%= image_tag "helpdesk-logo.png", width: 250,class:'SolutionDeskLogo' %></h1>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "m-t col-lg-8", role: "form", style: "padding-top: 30px;"}) do |f| %>
                  <div class="form-group">
                    <input placeholder="Username" type="text" class="form-control " id="plain-username" required>
                    <%= f.hidden_field   :username, id:"cipher-username", class: "form-control" %>
                    <%# <%= f.hidden_field   :username, autofocus: true, autocomplete: "username", placeholder: "Username", class: "form-control", id: "username", required: true %>
                  </div>
                  <div class="form-group">
                    <input placeholder="Password" type="password" class="form-control" id="plain-password" required>
                    <%= f.hidden_field   :password, id:"cipher-password", class: "form-control form-control-user", placeholder: "Input Password" %>
                    <%# <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control", required: true %> 
                  </div>
                  <button type="submit" class="btn btn-info block full-width m-b">Login</button>
          <% end %>
          <p class="m-t">
                <%
                  if Time.now.year > 2022
                    date = "2022 - " + "#{Time.now.year}"
                  else
                    date = Time.now.year
                    # Time.now.year
                  end
                %>
              
                <small class="full-width text-center">HELPDESK &copy; <%= date %></small>
          </p>
        </div>
      </div>
    </div>
		<%= image_tag "email.png", width: 500, class: 'gambar footer-image', style:'' %>
	</body>
</html>