<div class="panel panel-default">
  <div class="panel-heading">Form asset</div>
  <div class="panel-body">
<%= form_for(@collection_asset, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @collection_asset.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@collection_asset.errors.count, "error") %> prohibited this asset from being saved:</h4>

      <ul>
      <% @collection_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
    <label class="col-sm-2 control-label">Jenis Layanan</label>
    <div class="col-sm-10">
      <%= f.select :jenis_layanan, ["Layanan User", "Layanan Digital", "Layanan System", "Layanan Lisensi"], {prompt: "Silahkan Dipilih"}, id: "kategori", onchange: "dataSource()", class: 'dtSource form-control kategori' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :device_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :device_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>