<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form asset</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= collection_assets_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to new_collection_asset_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Asset
    <% end %>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
                  <th>Device name</th>
                  <%# <th>Jenis Layanan</th> %>
                <th>Aksi</th>
        <%# <th></th>
        <th></th> %>
      </tr>
      </thead>

      <tbody>
      <% @collection_assets.each_with_index do |asset, index| %>
      <tr>
        <td><%= index+1 %></td>
                  <td><%= asset.device_name %></td>
<%
=begin%>                  
                  <td><%= asset.jenis_layanan %></td>
<%
=end%>
        <td><%= link_to 'Show', asset %>
        <%= link_to 'Edit', edit_collection_asset_path(asset) %>
        <%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
