<div class="panel panel-default">
  <div class="panel-heading">Form ticket   
    <%if @ticket.ticket_approval.present?%> 
      - Ticket Perlu di approved atasan user sebelum di proses - Status approval saat ini
      <% if @ticket.ticket_approval.map(&:status).first.match(/(Reject)/) %>
        <span class="label label-warning status-tiket"><%= @ticket.ticket_approval.map(&:status).first %></span>
      <% elsif  @ticket.ticket_approval.map(&:status).first.match(/(|On Approval)/) %>
        <span class="label label-info status-tiket"><%= @ticket.ticket_approval.map(&:status).first %></span>
      <% elsif  @ticket.ticket_approval.map(&:status).first.match(/(Approved)/) %>
        <span class="label label-primary status-tiket"><%= @ticket.ticket_approval.map(&:status).first %></span>
      <% end %>
    <%end%>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">No Ticket
            </label>
            <div class="col-sm-3">
              <input type="text" value="<%= @ticket.try(:no_tiket)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-md-6">
          <h3>Pemohon</h3>
          <br>
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:nama_pemohon)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Satuan Kerja</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:divisi_pemohon)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Pemilik Kendala</h3>
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:nama_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Satuan Kerja</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:divisi_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Area</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:area_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>

      <hr style="border-color: black;">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Kategori</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:kategori)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Sub Kategori</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:sub_kategori)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Jenis Layanan</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:jenis_layanan)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Status Tiket</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:status_tiket)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Keterangan Tiket</label>
            <div class="col-sm-10">
              <textarea class="form-control" style="resize: none; height: 10em;" disabled><%= @ticket.try(:keterangan)%></textarea>
            </div>
          </div>
        </div>
      </div>
      <hr style="border-color: black;">
    </form>
    <%= form_for :process_tickets, url: process_tickets_createFollowupTechnician_path, method: :post, html: {class: "form-horizontal", role: "form"} do |f|%>
      <input type="hidden" name="ticket_id" value="<%= @ticket.id %>">
      <div class="form-group">
        <label class="col-sm-2 control-label">Kategori Follow Up</label>
        <div class="col-sm-10">
          <select name="status_ticket" class="form-control" id="followup" onchange="dataEskalasi()" required>
            <% @getCategori = ServiceType.where(name: @ticket.jenis_layanan) %>
            <% if @getCategori.name.match(/^insiden$/) %>
              <option value="Eskalasi">Eskalasi</option>
              <option value="Repair">Repair</option>
            <% end %>
            <option value="Solved">Solved</option>
            <%# <option value="Answer">Answer</option> %>
          </select>
        </div>
      </div>
  <div class="form-group">
    <%= f.label :change, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
     <%= f.select :change, ["Ada Perubahan", "Tidak ada perubahan"], {prompt: "Silahkan Dipilih"}, {id: "change", onchange: "dataChange()", class: 'dtSource form-control', required: true} %>
    </div>
  </div>
  <fieldset class="perubahan">
  <div class="form-group">
    <%= f.label :judul, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :judul, class: "form-control", name: "judul" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :teknisi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :teknisi, class: "form-control", value: sessionName, disabled:true%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :kategori_asset, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :kategori_asset, ["Layanan User", "Layanan Digital"], {prompt: "Silahkan Dipilih"}, id: "kategori_asset", onchange: "dataSource()", class: 'dtSource form-control', name: "kategori_asset" %>
    </div>
  </div>
  <fieldset class="changeall">
  <!--<fieldset class="assetsystem">
  <div class="form-group">
    <%= f.label :nama_system, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
       <%= f.collection_select :nama_system, Assetssystem.all, :nama_perangkat, :nama_perangkat, {prompt: "-- Pilih Nama Perangkat --"}, class: 'form-control nama_system' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tahun_pembelian, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tahun_pembelian, class: "form-control", id:"tahun_pembelian" %>
    </div>
  </div>
  </fieldset>-->
  <fieldset class="assetuser">
  <div class="form-group">
    <%= f.label :nama_perangkat, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
       <%= f.collection_select :nama_perangkat, Assetsuser.all, :nama_komputer, :nama_komputer, {prompt: "-- Pilih Nama Perangkat --"}, class: 'form-control nama_perangkat', name: "nama_perangkat"  %>
    </div>
  </div>
  <!-- <div class="form-group">
    <%= f.label :nama_user, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nama_user, class: "form-control", id:"ram", name: "nama_user" %>
    </div>
  </div> -->
  </fieldset>
  <fieldset class="assetdigital">
  <div class="form-group">
    <%= f.label :nama_aplikasi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :nama_aplikasi, Assetsdigital.all, :nama_aplikasi, :nama_aplikasi, {prompt: "-- Pilih Nama Aplikasi --"}, class: 'form-control nama_aplikasi', name: "nama_aplikasi" %>
    </div>
  </div>
  <div class="form-group">
        <label class="col-sm-2 control-label">Pemilik Proses</label>
        <div class="col-sm-10">
          <input name="pemilik_proses" class="form-control">
        </div>
      </div>
  </fieldset>
  </fieldset>
  </fieldset>
  <fieldset class="wa">
   <div class="form-group">
        <%# <label class="col-sm-2 control-label">Work Around</label> %>
        <div class="col-sm-10">
          <textarea name="work_around" class="form-control"></textarea>
        </div>
      </div>
      </fieldset>
      <div class="form-group">
        <label class="col-sm-2 control-label">Keterangan Follow Up</label>
        <div class="col-sm-10">
          <textarea name="keterangan" class="form-control" style="resize: none; height: 10em;" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
$("#kategori_asset").select2();
$(".nama_perangkat").select2();
$(".nama_aplikasi").select2();
$('.perubahan').hide();
$('.changeall').hide();
$('.wa').hide();
});

function dataEskalasi(){
    var data = $("#followup").val();
      console.log(data);
    if (data == "Eskalasi"){
      $('.wa').show();
    }else if(data == "Repair"){
      $('.wa').hide();
    }

}
function dataSource(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var data = $("#kategori_asset").val();
      console.log(data);
      if (data == "Layanan User"){
        $('.changeall').show();
        $('.assetuser').show();
        $('.assetdigital').hide();
        document.getElementById("nama_perankat").required = true;
        document.getElementById("ram").required = true;
      }else if (data == "Layanan Digital"){
        $('.changeall').show();
        $('.assetdigital').show();
        $('.assetuser').hide();
        document.getElementById("nama_aplikasi").required = true;
        document.getElementById("pemilik_proses").required = true;
      }
    }
    function dataChange(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var data = $("#change").val();
      console.log(data);
      if (data == "Ada Perubahan"){
        $('.perubahan').show();
        $('.wa').hide();
        
        document.getElementById("nama_perankat").required = true;
        document.getElementById("ram").required = true;
      }else if (data == "Tidak ada perubahan"){
        $('.perubahan').hide();
        document.getElementById("nama_aplikasi").required = true;
        document.getElementById("pemilik_proses").required = true;
      }
    }
</script>