<div class="panel panel-default">
  <div class="panel-heading">Form ticket</div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">No Ticket</label>
            <div class="col-sm-3">
              <input type="text" value="<%= @ticket.try(:no_tiket)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-md-6">
          <h3>Pemohon</h3>
          <br>
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:nama_pemohon)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Satuan Kerja</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:divisi_pemohon)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Pemilik Kendala</h3>
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:nama_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Satuan Kerja</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:divisi_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Area</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:area_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>

      <hr style="border-color: black;">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Kategori</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:kategori)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Sub Kategori</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:sub_kategori)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Jenis Layanan</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:jenis_layanan)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Status Tiket</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:status_tiket)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Keterangan Tiket</label>
            <div class="col-sm-10">
              <textarea class="form-control" style="resize: none; height: 10em;" disabled><%= @ticket.try(:keterangan)%></textarea>
            </div>
          </div>
        </div>
      </div>
      <hr style="border-color: black;">
    </form>
    <%= form_for :process_tickets, url: process_tickets_createClosing_path, method: :post, html: {class: "form-horizontal", role: "form"} do |f|%>
      <input type="hidden" name="ticket_id" value="<%= @ticket.id %>">
      <input type="hidden" name="status_ticket" value="Closed">
      <div class="form-group">
        <label class="col-sm-2 control-label">Keterangan Follow Up</label>
        <div class="col-sm-10">
          <textarea name="keterangan" class="form-control" style="resize: none; height: 10em;" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Close Ticket", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>