<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
          <h2>Closing Ticket</h2>
          <ol class="breadcrumb">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="<%= tickets_url %>">List</a>
            </li>
            <li class="active">
              <strong>Form</strong>
            </li>
          </ol>
        </div>
      </div>
      <div class="ibox-content" style="background: none; border: none;">
        <%= render 'formClosingAdmin' %>
      </div>
    </div>
  </div>
</div>
