<div class="panel panel-default">
  <div class="panel-heading">Form message_template</div>
  <div class="panel-body">
<%= form_for(@message_template, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @message_template.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@message_template.errors.count, "error") %> prohibited this message_template from being saved:</h4>

      <ul>
      <% @message_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Nama Template', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", :required => true %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :template, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :template, class: "form-control", id: "keterangan", style: "resize: none; height: 10em;", :required => true %>
    </div>
  </div>
  


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>

<script>

  function setKategori(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
    var aru_id = $("#kategori").val();
    // console.log(aru_id);
    $.getJSON("/helper_json/" +aru_id+ "/getSubKategori",
      function ( callback ) {
      if (callback != "error"){
          // console.log(callback)
          for (var i = 0; i < callback.length; i++){
            var obj = callback[i];
              if (obj == null){
                $("#sub_category").empty();
                $("#jenis_layanan").empty();
              } else{
                $("#sub_category").empty();
                $("#sub_category").append('\
                  <option disabled selected>--Pilih Sub Kategori--</option>\
                ');
                var ukuran = obj['value'] ? JSON.parse(obj['value']) : "";
                for (var i = 0; i < ukuran.length; i++) { // https://stackoverflow.com/questions/9329446/for-each-over-an-array-in-javascript
                    var value = ukuran[i];
                    // ...use `element`...
                    $("#sub_category").append(new Option(value));
                    // console.log(value);
                }


         
                // $("#jenis_layanan").empty();
                // var tipe_layanan = obj['tipe_layanan']
                //     // ...use `element`...
                // $("#jenis_layanan").val(tipe_layanan);

                // var template = obj['template']
                //     // ...use `element`...
                // $("#keterangan").val(template);

                // $("#status_tiket").empty();
                // var status_tiket = obj['status_tiket']
                //     // ...use `element`...
                // $("#status_tiket").val(status_tiket);
              }
          }
      }
    });
  }
 jQuery(function () {
  var kategori = $('#kategori').val();
  var sub_category = $('#sub_category').val();
   
  if (kategori != "") {    
    $.getJSON("/helper_json/" + kategori + "/getSubKategori",
      function (callback) {
        if (callback != "error") {
          for (var i = 0; i < callback.length; i++) {
            var obj = callback[i];
            if (obj == null) {
              $("#sub_category").empty();
              $("#jenis_layanan").empty();
            } else {
              $("#sub_category").empty();
              var ukuran = obj['value'] ? JSON.parse(obj['value']) : "";
              for (var j = 0; j < ukuran.length; j++) { 
                var value = ukuran[j];
                var selected = value === sub_category ? 'selected="selected"' : '';
                $("#sub_category").append('\
                  <option value="' + value + '" ' + selected + '>' + value + '</option>\
                ');
              }

              $("#jenis_layanan").empty();
              var tipe_layanan = obj['tipe_layanan'];
              $("#jenis_layanan").val(tipe_layanan);

              $("#status_tiket").empty();
              var status_tiket = obj['status_tiket'];
              $("#status_tiket").val(status_tiket);
            }
          }
        }
      });
  }
});



</script>