<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form message_template</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= message_templates_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to new_message_template_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Message template
    <% end %>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
        <th>Nama Template</th>
                  <th>Template</th>
                  <%# <th>Kategori</th>
                  <th>Sub category</th>
                  <th>Jenis layanan</th> %>
                <th>Aksi</th>
        <%# <th></th>
        <th></th> %>
      </tr>
      </thead>

      <tbody>
      <% @message_templates.each_with_index do |message_template, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= message_template.try(:name) %></td>
        <td><%= message_template.try(:template) %></td>
<%
=begin%>
        <td><%= message_template.try(:kategori) %></td>
        <td><%= message_template.try(:sub_category) %></td>
        <td><%= message_template.try(:jenis_layanan) %></td>
<%
=end%>
        <td>
            <%= link_to 'Show', message_template %>
            <%= link_to 'Edit', edit_message_template_path(message_template) %>
            <%= link_to 'Destroy', message_template, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
