<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form User</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li>
        <a href="<%= users_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<% getData = User.find(params[:id])%>
<div id="content">
  <div class="panel panel-default">
    <div class="panel-heading">Form User</div>
    <div class="panel-body">
      <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Data Source</label>
            <div class="col-sm-8">
              <%= f.text_field :user_type, class: 'form-control', id: "user-type", value: getData.user_type, readonly: true %>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual">
          <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-8">
              <%= f.text_field :username, class: 'form-control', value: getData.username, readonly: true %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-8">
              <%= f.text_field :name, class: 'form-control', value: getData.name, readonly: true %>
            </div>
          </div>
        </fieldset>
        
        <% getDivisi = User.find(params[:id]) %>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Jabatan</label>
            <div class="col-sm-8">
              <% getJabatan = User.find(params[:id]) %>
              <%= f.collection_select :position_id, Position.all, :id, :nama, {prompt: "-- Pilih Jabatan --"}, class: 'form-control', id: 'position', selected: getDivisi.position_id, required: true %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Satuan Kerja / Direktorat</label>
            <div class="col-sm-8">
              <%= f.collection_select :division_id, Division.all, :id, :nama, {prompt: "-- Pilih Satuan Kerja / Direktorat --"}, class: 'form-control', id: 'division', selected: getDivisi.division_id, required: true %>
            </div>
            <div class="col-sm-2">
              <div class="tooltip-demo">
                <button type="button" class="btn btn-primary-outline btn-xs" data-toggle="tooltip" data-placement="right" title="
                    Jika jabatan DIREKSI maka pilih awalan DIREKTUR
                ">?</button>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual">
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
              <%= f.email_field :email, class: 'form-control', value: getData.email, readonly: true %>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual">
          <div class="form-group">
            <label class="col-sm-2 control-label">Password </label>
            <div class="col-sm-8">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <% unless roleActive.id != 1 %>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Role</label>
              <div class="col-sm-10">
                <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |m| %>
                  <%= m.label class: 'checkbox-inline' do %>
                    <%= m.check_box class: 'checkbox-inline' %>
                    <%= m.text %>
                  <% end %>
                <% end %>
                
              </div>
            </div>
          </fieldset>
        <%else%>
         <input type="hidden" name="user[role_ids]" value="<%= 2 %>">
        <% end %>

        <style>
        .container-area {
          border: 1px solid grey;
          width: 300px;
          height: 200px;
          overflow-y: scroll;
          position: relative;
          background: white;
          margin-top: 2px;
        }
        </style>
          <div class="form-group">
            <label class="col-sm-2 control-label">Area</label>
            <div class="col-sm-10">
              <div class="container-area">
                <%= f.collection_check_boxes :area_ids, Area.all, :id, :nama do |m| %>
                  <div class="row">
                    <div class="col-md-12">
                      <%= m.label class: 'checkbox-inline' do %>
                        <%= m.check_box class: 'checkbox-inline' %>
                        <%= m.text %><br>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </fieldset>
        
        <fieldset>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <%= link_to 'Cancel', root_path, class: 'btn btn-default' %>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>

  <script type="text/javascript">
      $(function() {
          return $('.chosen-select').select2({
              allow_single_deselect: true,
              no_results_text: 'No results matched',
              width: '512px'
          });
      });

      $(document).ready(function () {
          $('#division').select2();
          $('#position').select2();
      });

      jQuery(function () {
          var user_type = $('#user-type').val();
          console.log(user_type);
          if (user_type == "PGASSOL"){
            $('.manual').hide();
          }else{
            $('.ldap').hide();
          }
      });

      function changeDs(value) {
          if (value.val() == "Manual") {
              $('.ldap').hide();
              $('.manual').show();
              $('#users getLdapUser').disabled = false;
              $('#users username').required = true;
              $('#users password').required = true;
              $('#users email').required = true;
              $('#users name').required = true;
          } else if (value.val() == "PGASSOL") {
              $('.manual').hide();
              $('.ldap').show();
              $('#users getLdapUser').disabled = true;
              $('#users username').required = false;
              $('#users password').required = false;
              $('#users email').required = false;
              $('#users name').required = true;
          } else {
              $('.ldap').hide();
              $('.manual').hide();
              $('#user getLdapUser').disabled = false;
          }
      }

      $("#getLdapUser").select2();


      // jQuery(function () {
      //     var area = $('#area').html();
      //     console.log(area);

      //     return $('#divisi').change(function () {
      //         var divisi, options;
      //         divisi = $('#divisi :selected').text();
      //         options = $(area).filter('optgroup[label="' + divisi + '"]').html();
      //         console.log(options);
      //         if (options) {
      //             return $('#area').html(options);
      //         } else {
      //             return $('#area').empty();
      //         }
      //     })
      // });
  </script>
  
</div>