<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>List Users</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="active">
        <a>List</a>
      </li>
    </ol>
  </div>
</div>
<div id="content">
  <div class="page-header">
    <%= link_to new_user_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New User
    <% end %>
  </div>
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->

    <!-- widget div-->
    <div>

      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover dataTables-example" width="100%">
          <thead>
          <tr>
            <th class="text-center" style="width: 50px">No</th>
            <th>Nama</th>
            <th>Username</th>
            <th>Role</th>
            <%# <th>Current Login</th> %>
            <th>Last Login</th>
            <!--            <th>Role</th>-->
            <th>Aksi</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each_with_index do |user, index| %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td><%= user.name %></td>
              <td><%= user.username %></td>
              <% @roleAssign = RoleAssignment.left_outer_joins(:user,:role).where(user_id: user.id).select('roles.name AS nameroles') %>
              <td><%= @roleAssign.each_with_index.map { |role| "#{role.nameroles}" }.join(", ") %></td>
              <%# <td><%= user.current_sign_in_at %>
              <%# </td> %>
              <td><%= user.last_sign_in_at %></td>
              <!--              <td><%#= user.role_assignments.each_with_index.map { |role_assignment| "#{role_assignment.role.try(:name)}" }.join(", ") %></td>-->
              <td class="text-center">
                <%= link_to '', edit_user_path(user), class: 'fa fa-pencil btn btn-sm btn-warning waves-effect waves-light m-1' %>
                <%= link_to'', user, method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash btn btn-sm btn-danger', title: "Delete" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do -%>
  <script type="text/javascript" charset="utf-8">
      $(function () {
          $('.dataTables-example').dataTable({
              dom: "<'myfilter'f><'mylength'l>t<'myfilter'i><'p'p>",
              language: {
                  search: "_INPUT_",
                  searchPlaceholder: "Search..."
              }
          });

      });
  </script>
<% end %>
<!-- END DATATABLE 2 -->