<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form User</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li>
        <a href="<%= users_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="panel panel-default">
    <div class="panel-heading">Form User</div>
    <div class="panel-body">
      <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Data Source</label>
            <div class="col-sm-8">
              <%= f.select :user_type, ["Manual", "LDAP"], {prompt: "Silahkan Dipilih"}, id: "data-source", onchange: "dataSource()", class: 'dtSource form-control', required: true %>
            </div>
          </div>
        </fieldset>
        <fieldset class="ldap">
          <div class="form-group">
            <label class="col-sm-2 control-label">User LDAP</label>
            <div class="col-sm-8">
              <select data-placeholder="Pilih Nama" class="form-control" name="username" id="getLdapUser" data-live-search="true">
                  <%= raw(getLDAP)%>
              </select>
              <% unless getLDAP.present? %>
                <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual">
          <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-8">
              <%= f.text_field :username, class: 'form-control', id: "username" %>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual ldap">
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-8">
              <%= f.text_field :name, class: 'form-control', id: "nama_pengguna" %>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual ldap">
          <div class="form-group">
            <label class="col-sm-2 control-label">Jabatan</label>
            <div class="col-sm-8">
              <%= f.collection_select :position_id, Position.all, :id, :nama, {prompt: "-- Pilih Jabatan --"}, class: 'form-control', id: 'jabatan', required: true %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Satuan Kerja / Direktorat</label>
            <div class="col-sm-8">
              <%= f.collection_select :division_id, Division.all, :id, :nama, {prompt: "-- Pilih Satuan Kerja / Direktorat --"}, class: 'form-control', id: 'division', required: true %>
              <!--<%#f.collection_select :division_id, Division.where('satuan_kerja = ?', "divisi"), :id, :nama, {prompt: "-- Pilih Satuan Kerja / Direktorat --"}, class: 'form-control', id: 'division', required: true %> -->
            </div>
            <div class="col-sm-2">
              <div class="tooltip-demo">
                <button type="button" class="btn btn-primary-outline btn-xs" data-toggle="tooltip" data-placement="right" title="
                    Jika jabatan DIREKSI maka pilih awalan DIREKTUR
                ">?</button>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual">
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
              <%= f.email_field :email, class: 'form-control', id: "email_pengguna" %>
            </div>
          </div>
        </fieldset>
        <fieldset class="manual">
          <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
              <%= f.password_field :password, class: 'form-control', id: "password" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Role</label>
            <div class="col-sm-10">
              <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |m| %>
                <%= m.label class: 'checkbox-inline' do %>
                  <%= m.check_box class: 'checkbox-inline' %>
                  <%= m.text %>
                <% end %>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset>
        <style>
        .container-area {
          border: 1px solid grey;
          width: 300px;
          height: 200px;
          overflow-y: scroll;
          position: relative;
          background: white;
          margin-top: 2px;
        }
        </style>
          <div class="form-group">
            <label class="col-sm-2 control-label">Area</label>
            <div class="col-sm-10">
              <div class="container-area">
                <%= f.collection_check_boxes :area_ids, Area.all, :id, :nama do |m| %>
                  <div class="row">
                    <div class="col-md-12">
                      <%= m.label class: 'checkbox-inline' do %>
                        <%= m.check_box class: 'checkbox-inline' %>
                        <%= m.text %><br>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <%= link_to 'Cancel', users_path, class: 'btn btn-default' %>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
        return $('.chosen-select').select2({
            allow_single_deselect: true,
            no_results_text: 'No results matched',
            width: '512px'
        });
    });

    $(document).ready(function () {
        $('#division').select2();
        $("#getLdapUser").select2();
        $('#jabatan').select2();
        $('.manual').hide();
        $('.ldap').hide();
    });

    function dataSource(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var data = $("#data-source").val();
      console.log(data);
      if (data == "Manual"){
        $('.ldap').hide();
        $('.manual').show();
        document.getElementById("getLdapUser").required = false;
        document.getElementById("getLdapUser").disabled = false;

        document.getElementById("username").required = true;
        document.getElementById("password").required = true;
        document.getElementById("email_pengguna").required = true;
        document.getElementById("nama_pengguna").required = true;
        $("#nama_pengguna").attr('readonly', false);
      }else if (data == "LDAP"){
        $('.manual').hide();
        $('.ldap').show();
        document.getElementById("getLdapUser").required = true;
        document.getElementById("getLdapUser").disabled = false;
        document.getElementById("username").required = false;
        document.getElementById("password").required = false;
        document.getElementById("email_pengguna").required = false;
        document.getElementById("nama_pengguna").required = false;
        $("#nama_pengguna").attr('readonly', true);
      }
    }

    $('#getLdapUser').change(function() {
      var option, userSelectBox, username;
      username = $('#getLdapUser').val();
      console.log(username);
      username = $('#getLdapUser :selected').text();
      userSelectBox = $('#nama_pengguna');
      userSelectBox.html('');
      option = $('#nama_pengguna').attr('value', username.replace(".", " ").toUpperCase());
      return userSelectBox.append(option);
    });

    //https://stackoverflow.com/questions/222740/how-to-get-the-new-value-of-an-html-input-after-a-keypress-has-modified-it
    var onChange = function(evt) {
      if (this.value.match(/(<|>|;|'|"|--|\.|\,)/)){ //https://stackoverflow.com/questions/5457416/how-to-validate-numeric-values-which-may-contain-dots-or-commas
        regex = /(<|>|;|'|"|--|\.|\,)/; //https://stackoverflow.com/questions/5457416/how-to-validate-numeric-values-which-may-contain-dots-or-commas
        var hasil = this.value.replace(regex, '');
        $("#nama_pengguna").val(hasil);
      }
      // console.info(this.value);
      // or
      // console.info(evt.target.value);
    };
    var input = document.getElementById('nama_pengguna');
    input.addEventListener('input', onChange, false);


    // jQuery(function () {
    //     var area = $('#area').html();
    //     console.log(area);

    //     return $('#divisi').change(function () {
    //         var divisi, options;
    //         divisi = $('#divisi :selected').text();
    //         options = $(area).filter('optgroup[label="' + divisi + '"]').html();
    //         console.log(options);
    //         if (options) {
    //             return $('#area').html(options);
    //         } else {
    //             return $('#area').empty();
    //         }
    //     })
    // });
  </script>
  
</div>