/*
 *   This is style for skin config
 *   Use only in demo theme
 */

.theme-config {
  position: absolute;
  top: 190px;
  left: 0px;
  overflow: hidden;
}

.theme-config-box {
  margin-left: -220px;
  position: relative;
  z-index: 2000;
  transition-duration: 0.8s;
}

.theme-config-box.show {
  margin-left: 0px;
}

.spin-icon {
  background: $navy;
  position: absolute;
  padding: 7px 10px 7px 13px;
  border-radius: 20px 0px 0px 20px;
  font-size: 16px;
  top: 0;
  left: 0px;
  width: 40px;
  color: white;
  cursor: pointer;
}

.skin-setttings {
  width: 220px;
  margin-left: 40px;
  background: $gray;
}

.skin-setttings .title {
  background: #efefef;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding: 10px 15px;
  font-size: 12px;
}

.setings-item {
  padding: 10px 30px;
}

.setings-item.skin {
  text-align: center;
}

.setings-item .switch {
  float: right;
}

.skin-name a {
  text-transform: uppercase;
}

.setings-item a {
  color: white;
}

.default-skin, .blue-skin, .ultra-skin, .yellow-skin {
  text-align: center;
}

.default-skin {
  font-weight: 600;
  background: #1ab394;
}

.default-skin:hover {
  background: #199d82;
}

.blue-skin {
  font-weight: 600;
  background: url("patterns/header-profile-skin-1.png") repeat scroll 0 0;
}

.blue-skin:hover {
  background: #0d8ddb;
}

.yellow-skin {
  font-weight: 600;
  background: url("patterns/header-profile-skin-3.png") repeat scroll 0 100%;
}

.yellow-skin:hover {
  background: #ce8735;
}

.ultra-skin {
  font-weight: 600;
  background: url("patterns/header-profile-skin-2.png") repeat scroll 0 0;
}

.ultra-skin:hover {
  background: #1a2d40;
}
