<div class="panel panel-default">
  <div class="panel-heading">Form Layanan System</div>
  <div class="panel-body">
<%= form_for(@assetssystem, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @assetssystem.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@assetssystem.errors.count, "error") %> prohibited this assetssystem from being saved:</h4>

      <ul>
      <% @assetssystem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nama, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <select data-placeholder="Pilih System" class="form-control" name="assetssystem[nama]" id="getNamaSystem" data-live-search="true" required>
              <%= raw(getNamaSystem)%>
      </select>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nama_perangkat, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nama_perangkat, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tipe_perangkat, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tipe_perangkat, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lokasi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :lokasi, Area.all, :nama, :nama, {prompt: "-- Pilih Area --"}, class: 'form-control lokasi' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tahun, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tahun, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>
<script type="text/javascript">
$('#getNamaSystem').select2();
$('.lokasi').select2();
</script>