<%
                        unless 
                            @changee = Change.where('nama_system = ?', @assetssystem.nama_perangkat).order(:created_at => :desc)
                       
                        end
                    %>

<div class="row wrapper border-bottom page-heading">

    <div class="col-lg-10">
        <h2>History</h2>
    </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">Detail Aset Digital</div>
  <div class="panel-body">
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
        <th>Tanggal Perubahan</th>
        <th>Waktu</th>
        <th>Judul Perubahan</th>
        <th>Teknisi</th>
        <th>Deskripsi</th>
      </tr>
      </thead>
      <tbody>
      <% @changee.each_with_index do |change, index|%>
      <tr>
                <td><%= index+1%></td>
                <td><%= change.created_at.strftime("%d %B %Y") %></td>
                <td><%= change.created_at.strftime("%H:%M") %></td>
                <td><%= change.judul %></td>
                <td><%= change.teknisi %></td>
                <td><%= change.deskripsi %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  </div>
  </div>

<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" id="ibox-content">
                <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
                    
                    <% @changee.each do |change|%>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-history"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <% unless change.deskripsi.nil? or change.deskripsi == "" %>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading"><%= change.judul %></div>
                                            <div class="panel-body">
                                            Judul : <%= change.judul %><br>
                                            Teknisi : <%= change.teknisi %><br>
                                            Lokasi Terbaru : <%= change.lokasi %><br>
                                            Deskripsi : <%= change.deskripsi %>
                                            </div>
                                        </div>
                                <% end %>
                                <br>
                                
                                <span class="vertical-date">
                                    <%= change.created_at.strftime("%d %B %Y")%> <br />
                                    <small><%= change.created_at.strftime("%H:%M")%></small>
                                </span>
                            </div>
                        </div>
                    <% end %>
                
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">
$(function() {
    $(document).ready(function () {
        $('#ibox-content').removeClass('ibox-content');
        $('#vertical-timeline').removeClass('dark-timeline');
        $('#vertical-timeline').addClass('light-timeline');
    });

});
</script>

<% end %>



