<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form Layanan System</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= assetssystems_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to new_assetssystem_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Layanan System
    <% end %>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
                  <th>Nama</th>
                  <th>Nama perangkat</th>
                  <th>Type</th>
                  <th>Lokasi</th>
                  <th>Tahun</th>
                <th>Aksi</th>
        <%# <th></th>
        <th></th> %>
      </tr>
      </thead>

      <tbody>
      <% @assetssystems.each_with_index do |assetssystem, index| %>
      <tr>
        <td><%= index+1 %></td>
                  <td><%= assetssystem.nama %></td>
                  <td><%= assetssystem.nama_perangkat %></td>
                  <td><%= assetssystem.tipe_perangkat %></td>
                  <td><%= assetssystem.lokasi %></td>
                  <td><%= assetssystem.tahun %></td>
                <td><%= link_to 'Show', assetssystem %>
        <%= link_to 'Edit', edit_assetssystem_path(assetssystem) %>
        <%= link_to 'Destroy', assetssystem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
