<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form Layanan System</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= assetssystems_url %>">List</a>
      </li>
      <li class="active">
        <strong>Detail</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to assetssystems_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
    <%= link_to edit_assetssystem_path(@assetssystem), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %>
<!--    <h1>Show </h1>-->
  </div>
<div class="panel panel-success">
  <div class="panel-heading">Teknologi</div>
  <div class="panel-body">
  <dl class="dl-horizontal">
      <dt>Nama:</dt>
      <dd><%= @assetssystem.nama %></dd>

      <dt>Nama perangkat:</dt>
      <dd><%= @assetssystem.nama_perangkat %></dd>

      <dt>Type:</dt>
      <dd><%= @assetssystem.tipe_perangkat %></dd>

      <dt>Lokasi:</dt>
      <dd><%= @assetssystem.lokasi %></dd>

      <dt>Tahun:</dt>
      <dd><%= @assetssystem.tahun %></dd>

  </dl>
  </div>
  </div>
  <%= render 'history'%>
</div>
