<div class="panel panel-default">
  <div class="panel-heading">Form feature_assignment</div>
  <div class="panel-body">
<%= form_for(@feature_assignment, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @feature_assignment.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@feature_assignment.errors.count, "error") %> prohibited this feature_assignment from being saved:</h4>

      <ul>
      <% @feature_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :role_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :role_id, Role.all, :id, :name, { prompt: "-- Pilih Role --" }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :feature_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :feature_id, Feature.all, :id, :name, { prompt: "-- Pilih Feature --" }, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>