<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form feature_assignment</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= feature_assignments_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to new_feature_assignment_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Feature assignment
    <% end %>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
                  <th>Role</th>
                  <th>Feature</th>
                <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @feature_assignments.each_with_index do |feature_assignment, index| %>
      <tr>
        <td><%= index+1 %></td>

                  <td>
                    <% permissions = feature_assignment.role.permissions %>
                    <% model_names = permissions.to_h.keys.map { |key| key.to_s.split("_").first } %>
                    
                    <%= model_names %>
                    
                  </td>
                  <td><%= feature_assignment.feature.name %></td>
                <td><%= link_to 'Show', feature_assignment %></td>
        <td><%= link_to 'Edit', edit_feature_assignment_path(feature_assignment) %></td>
        <td><%= link_to 'Destroy', feature_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
