4 = admin
2 = user
1 = super
3 = teknisi

# 
    kategori = params[:kategori]
    tipe = params[:tipe]
    teknisi = params[:teknisi]
    status = params[:status]

    kategoriCek = ticket.where(category_id: kategori)
    tipeCek = ticket.where(tipe: tipe)
    teknisiCek = ticket.where(teknisi: teknisi)
    statusCek = ticket.where(status: status)
    if kategoriCek.present? || teknisiCek.present? || teknisiCek.present? ||  statusCek.present?
        @tickets = ticket.where(category_id: kategori || nil)
                   .or(ticket.where(tipe: tipe || nil))
                   .or(ticket.where(teknisi: teknisi || nil))
                   .or(ticket.where(status: status || nil))
                   .order("tickets.created_at asc")
    else
       <!-- @tickets = ticket.where(category_id: id) -->
       @tickets = ticket.all.order("tickets.created_at asc")
      <!-- @tickets =  ticket.all.order("tickets.created_at asc") -->
    end


    # 

    <style>
 .modal-backdrop { display: none; } 
 /* .modal { background: rgba(0,0,0,0.5); }  */
  .table.table-bordered td, .table.table-bordered th {
    border-color: #dbdbdb;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom:  #dbdbdb;
}
.color-blue{
 background-color: #3B5897;
}

</style>


<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3 text-primary">
      <h4>Kontak</h4>
      <div class="card-header-form">
        <% if current_user.can? { |permissions| permissions.contact.create? } %>
        <div class="align-items-center">
          <a href="<%= new_contact_path %>" class="btn btn-primary btn-sm">Tambah Kontak</a>
          <%# <a href="" class="btn btn-secondary btn-sm">Import Kontak</a> %>
        </div>
        <% end %>  
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="tableExport_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
          <table id="dataTable_contacts"  class="table table-striped table-bordered mt-2" style="width:100%">  
            <%= form_tag(:action => :index) do %>
              <%= select_tag "data_company", options_for_select(@category),{class: "form-control select col-md-3 filter" ,prompt: "-- Pilih Kategori --"} %>
            <% end %>
            <br>  
            <thead class="table-bordered color-blue">
                <tr>
                  <th class="text-center text-white" style="width: 12px;">No</th>
                  <th class="text-white">Kategori</th>
                  <th class="text-white">Klaster</th>
                  <th class="text-white">Nama Entitas</th>
                  <th class="text-white">Satuan Kerja</th>
                  <th class="text-white">Lokasi Kerja</th>
                  <th class="text-white">Nama PIC</th>
                  <th class="text-white">Jabatan PIC</th>
                  <th class="text-white">Email PIC</th>
                  <th class="text-white">Kontak PIC</th>
                  <th class="text-white">Unggah Foto</th>
                  <th class="text-white">Keterangan</th>
                  <th class="text-center text-white" style="width: 100px;">Aksi</th>
                </tr>
            </thead>
            
            <tbody>
            <%current_user.role_assignments.map {|value| value}%>
            <% @contacts.each_with_index do |contact, index| %>
                <tr>
        
                  <td class="text-center"><%= index+1 %></td>
                  <td><%= contact.data_company.nil? ? "#{contact.category.try(:name)}" : contact.data_company.category.try(:name)%></td>
                  <td><%= contact.data_company.nil? ? "#{contact.try(:cluster)}" : contact.data_company.try(:cluster) %></td>
                  <td><%= contact.data_company.nil? ? "#{contact.try(:nama_entitas)}" : contact.data_company.try(:nama_entitas)%></td>
                  <td><%= contact.try(:satuan_kerja) %></td>
                  <td><%= contact.data_company.nil? ? "#{contact.try(:lokasi_kerja)}" : contact.data_company.try(:lokasi_kerja) %></td>
                  <td><%= contact.try(:nama_pic) %></td>
                  <td><%= contact.try(:jabatan_pic) %></td>
                  <td><%= contact.try(:emaiil_pic) %></td>
                  <td>0<%= contact.try(:kontak_pic).to_i %></td>
                  <td>
                    <!-- Modal -->
                      <% if contact.file_lampiran.attached? %>
                          <%= link_to ' ', lampiran_contact_path(contact), remote: true,class:"fas fa-eye  "%>
                      <% end %>
                  </td>
                  <td><%= contact.try(:keterangan) %></td>
                  <td class="text-center">
                    <% if current_user.can? { |permissions| permissions.contact.read? } %>
                    <a href="<%= contact_path(contact) %>" class="btn btn-info btn-circle btn-sm">
                      <i class="fas fa-eye"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.contact.update? } %>
                    <a href="<%= edit_contact_path(contact) %>" class="btn btn-warning btn-circle btn-sm">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                    <% end %>
<%
=begin%>                    
                    <a href="<%= versions_contact_path(contact) %>" class="btn btn-success btn-circle btn-sm">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
<%
=end%>
                    <% if current_user.can? { |permissions| permissions.contact.destroy? } %>
                    <a href="<%= contact_path(contact) %>" class="btn btn-danger btn-circle btn-sm" data-method="DELETE" data-confirm="Apa kamu yakin?">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    <% end %>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
 <div id='modal-lampiran'></div>
</div>


<script>

//  document.getElementById("data_company").options[0].value = '';
    $(document).ready(function() {
      
        var table = $('#dataTable_contacts').DataTable( {

           "drawCallback": function( settings ) {
                var api = this.api();
                
                // Output the data for the visible rows to the browser's console
                cek = api.rows( {page:'current'} ).data();
                $(".pdf_download").val(cek)

                // console.log(cek)
              //    if (cek != "error"){
              //     // console.log(cek)
              //     cek.map(myFunction); //https://www.w3schools.com/js/js_array_iteration.asp
              // }
            },

            
            lengthChange: false,
            // buttons: ['excel', 'pdf', 'print' ]
            buttons: [
              {
                  
                  extend: 'collection',
                  className: "btn btn-primary",
                  text: '-- Download --',
                  
                  buttons: [
                      { 
                          className: "my-1",
                          extend: 'excel',
                        //   exportOptions: {
                        //   rows: { selected: true }
                        // }
                      },
                      {
                          className: "my-1",
                          extend: 'pdf',
                          
                          
                      },
                      
                      
                      // {
                      //     collectionTitle: 'Visibility control',
                      //     extend: 'colvis'
                      // }
                  ]
                  
              }
            ],
            columnDefs:[
             {
               columnDefs: [10],
             }
            ]
        
        });
    
        // $('#example').dataTable( {
        //     "drawCallback": function( settings ) {
        //         alert( 'DataTables has redrawn the table' );
        //     }
        // } );
          //  $("#dataTable_contacts").removeClass( "dataTable" )
        $("#dataTable_contacts_wrapper .col-md-6:eq(0)").append($(`\   <div class="">
                <div class="dropdown d-inline mr-2">
                 <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  -- Download --
                 </button>
                 <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                   <div class="m-2">
                      <%= link_to 'PDF', url_for(controller: :contacts, action: :cetak_pdf, format: "pdf"), class: 'dropdown-item btn btn-danger pdf_download', target: '_blank', id:'pdf_download'%>
                     <%# <button class="dropdown-item btn btn-danger" href="#">PDF</button> %>
                   </div>
                   <div class="m-2">
                      <%= link_to 'Excel', url_for(controller: :contacts, action: :cetak_excel), class: 'dropdown-item btn btn-success', target: '_blank', id:'excel_download' %>
                   </div>
                 </div>
                </div>
              </div>  `));

        // table.buttons()
        // .container()
        // .appendTo( '#dataTable_contacts_wrapper .col-md-6:eq(0)');
        
        // var selectedIds = [];   
  

        $('.filter').on('change', function(e){
          var status = $(this).val();
          //  $('.filter').prop('selectedIndex',0);
          $('.filter').val(status)
          $($("option:eq(0)").val(' '));
          // console.log(status)
          //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
          table.column(1).search(status).draw();

              $.getJSON("/helper_json/" +status+ "/getDataCategoryIdByName",
               function ( callback ) {
                if (callback != "error"){
                    
                  if (callback  === 'undefined'  || callback  === ' ' || callback.length == 0 ){
                    // console.log(callback)href="/contacts/cetak_pdf.pdf?id=0"
                    document.getElementById('pdf_download').setAttribute('href', '/contacts/cetak_excel'); 
                    document.getElementById('excel_download').setAttribute('href', '/contacts/cetak_pdf.pdf'); 
                  }else{
                    // console.log(callback)
                    document.getElementById('pdf_download').setAttribute('href', '/contacts/cetak_pdf.pdf?id=' + callback);
                    document.getElementById('excel_download').setAttribute('href', '/contacts/cetak_excel?id=' + callback);
                  }
                    
                  
                }
              });
          // selectedIds.push(status);
        });
    });

        
      function myFunction(value){
      //  console.log(value)
      // $(".sales").append(new Option(value));
   
   
      }

    
</script>


<!--  -->

<div class="row">

  <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <div class="ibox-tools">
               <%if roleActive.id == 1 %>
               
                  <div class="btn-group">
                      <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle"><%=%>Download <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          <li>
                          <%= link_to 'PDF', url_for(controller: :tickets, action: :cetak_pdf, format: "pdf"), class: 'dropdown-item ', target: '_blank', id:'pdf_download'%>
                          <%# <a href="#">PDF</a> %>
                          </li>
                          
                          <li>
                          <%= link_to 'Excel', url_for(controller: :tickets, action: :cetak_excel), class: 'dropdown-item  ', target: '_blank', id:'excel_download' %>
                          </li>
                      </ul>
                  </div>
               <%else%>
                  <%# <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-wrench"></i>
                  </a> %>
                  <%# <ul class="dropdown-menu dropdown-user">
                      <li><a href="#">Config option 1</a>
                      </li>
                      <li><a href="#">Config option 2</a>
                      </li>
                  </ul> %>
                  <%# <a class="close-link">
                      <i class="fa fa-times"></i>
                  </a> %>
               <%end%>
              </div>
            
             <input type="hidden" id="roleActive"  value="<%= roleActive.id %>">
              <%= form_tag(:action => :index) do %>
                  <%= select_tag "category", options_for_select(@kategori.uniq),{class: "col-2 form-control-sm  input-s-sm inline filter_kategori" ,prompt: "-- Kategori --"} %>
                  <%= select_tag "type", options_for_select(@tipe.uniq),{class: "col-2 form-control-sm inline filter_tipe" ,prompt: "-- Tipe --"} %>
                  <% unless roleActive.id == 3 %>
                    <%= select_tag "technician", options_for_select(@teknisi.uniq),{class: "col-2 form-control-sm inline filter_teknisi" ,prompt: "-- Teknisi --"} %>
                  <%end%>
                  <%= select_tag "status", options_for_select(@status.uniq),{class: "col-2 form-control-sm inline filter_status" ,prompt: "-- Status --"} %>
  
              <% end %>
              
          </div>
          <div class="ibox-content">
              <div class="row">
                  <%# <div class="col-sm-9 m-b-xs">
                      <div data-toggle="buttons" class="btn-group">
                          <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
                          <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
                          <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                  </div> %>
              </div>
              
              <div class="table-responsive">
              
                  <table class="table table-striped table-bordered table-hover dataTables-example">
  
  
                      <thead>
                      
                      <tr>
  
                          <th>No</th>
                          <th>Open Tiket</th>
                          <th>No tiket</th>
                          <% if roleActive.id == 3  || roleActive.id == 4 || roleActive.id == 1%>
                          <th>Requester</th>
                          <%end%>
                          <th>Kategori</th>
                          <th>Sub kategori</th>
                          <th>Tipe layanan</th>
                          <% unless roleActive.id == 3 %>
                            <th>Teknisi </th>
                          <%end%>
                          <th>Priority</th>
                          <th>Status tiket</th>
                          <% unless roleActive.id == 2 %>
                              <th>Resolution Time</th>
                          <% end %>
                          <th>Satisfaction</th>
                          <th>Aksi</th>
                      </tr>
                      </thead>
                      <tbody>
  <% @tickets.each_with_index do |ticket, index| %>
  <tr>
  <td><%= index+1 %></td>
  <td><%= ticket.created_at.strftime(" %d/%m/%Y at %I:%M%p" )    %></td>
  <td><%= ticket.no_tiket %></td>
  <% if roleActive.id == 3 || roleActive.id == 4 || roleActive.id == 1%>
  <td><%= ticket.nama_pemohon %></td>
  <%end%>
  <td><%= ticket.kategori %></td>
  <td><%= ticket.sub_kategori %></td>
  <td><%= ticket.jenis_layanan %></td>
  <% unless roleActive.id == 3 %>
  <td><%= ticket.teknisi %></td>
  <%end%>
  <td><%= ticket.priority %></td>
  <td align="center">
  <style>
  .status-tiket{
  font-size: 12px;
  color: black;
  }
  </style>
  <%# status tiket open,solved,closed,pending,on proces,planning %>
  <% if ticket.status_tiket.present? && ticket.status_tiket.match(/(Waiting|Problem|Eskalasi)/) %>
  <span class="label label-danger status-tiket"><%= ticket.status_tiket %></span>
  <% elsif  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(Processing Assign|Processing Plan)/) %>
  <span class="label label-warning status-tiket"><%= ticket.status_tiket %></span>
  <% elsif  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(On Processing)/) %>
  <span class="label label-info status-tiket"><%= ticket.status_tiket %></span>
  <% elsif  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(Solved|Closed)/) %>
  <span class="label label-primary status-tiket"><%= ticket.status_tiket %></span>
  <% end %>
  </td>
  <% unless roleActive.id == 2 %>
  <td><%= ticket.resolution_time %></td>
  <% end %>
  <td width="10">
  <% unless ticket.satisfaction.blank? %>
  <% while ticket.satisfaction >= 1 %>
  <i class="fa fa-star text-danger"></i>
  <% ticket.satisfaction = ticket.satisfaction - 1 %>
  <% end %>
  <% end %>
  </td>
  <td>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to '', ticket, class:"fa fa-eye btn btn-sm btn-success me-md-2", title:"Detail"  %>
  
  <%if ticket.status_tiket != "Closed" #roleActive.id %>
  <%= link_to '', answer_ticket_path(ticket), class:"fa fa-wechat btn btn-sm btn-primary me-md-2", title:"Answer"  %>
  <%end%>
  <% if roleActive.permissions.ticket.follow_up?%>                       
  <% if  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(Waiting)/)%>
  
  <%= link_to '', follow_up_ticket_path(ticket) , class:"fa fa-tag btn btn-sm btn-warning ", title:"Follow Up" %>
  
  <% end %>
    <%# <%= link_to 'Edit Ticket', edit_ticket_path(ticket) , class:"btn btn-sm btn-primary " %>
  
  <% end %>
  <%# 
  Description Role :
  1 (Superadmin)
  2 (Self-Service)
  3 (Teknisi)
  %>
  <% unless roleActive.id != 2 and roleActive.id != 1 and roleActive.id == 4 %>
  <% unless  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(Solved|Closed|Eskalasi|Problem|)/)%>
  <% if roleActive.permissions.ticket.superadminEdit?%>
  
  <%= link_to '', superadminEdit_ticket_path(ticket) , class:"fa fa-user btn btn-sm btn-primary " , title:"Ganti Teknisi" %>
  <% end %>
  
  <% end %>
  <% unless  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(On Processing|Processing Assign|Processing Plan|Solved|Closed|Eskalasi|Problem)/) %>
  <%= link_to '', ticket, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-times btn btn-sm btn-danger", title:"Delete"  %>
  <% end %>
  <% end %>
  <% unless roleActive.id != 3 and roleActive.id != 4%>
  <% if  ticket.status_tiket.present? &&  ticket.status_tiket.match(/Waiting/) %>
    
    <%= link_to '', confirmWaiting_process_ticket_path(ticket.id), data: { confirm: 'Are you sure?' }, class:"fa fa-info btn btn-sm btn-info", title:"Processing"  %>
  <% else %>
  <% unless ticket.status_tiket.present? && ticket.status_tiket.match(/(Solved|Closed|Eskalasi)/)%>
  <%= link_to '', processTechnician_process_ticket_path(ticket.id), class:"fa fa-refresh btn btn-sm btn-default  ", title:"Proses"  %>
  <% end %>
  <% end %>
  <% end %>
  <% unless roleActive.id != 4 %>
  <% unless ticket.status_tiket.present? && !ticket.status_tiket.match(/Solved/)%>
  
  
  <%= link_to '', processClosingAdmin_process_ticket_path(ticket.id), class:"fa fa-check btn btn-sm btn-success", title:"Selesei"  %>
  
  <% end %>
  <% unless ticket.status_tiket.present? && !ticket.status_tiket.match(/Eskalasi/)%>
  
  <%= link_to '', createProblem_process_ticket_path(ticket.id), data: { confirm: 'Are you sure?' }, class:"fa fa-warning btn btn-sm btn-warning ", title:"Add Problem"  %>
  <% end %>
  <% end %>
  </div>
  </td>
  </tr>
  <% end %>
                      </tbody>
                  </table>
              </div>
  
          </div>
      </div>
  </div>
  
  </div>
  
  <script>
  
  
  $(document).ready(function(){
  
  $('#status_tiket').select2();
  //          var dataTable =   $('.dataTables-example').DataTable({
  //             responsive: true,
  // });
  
  //fungsi untuk filtering data berdasarkan tanggal 
  var start_date;
  var end_date;
  var DateFilterFunction = (function (oSettings, aData, iDataIndex) {
  var dateStart = parseDateValue(start_date);
  var dateEnd = parseDateValue(end_date);
  //Kolom tanggal yang akan kita gunakan berada dalam urutan 2, karena dihitung mulai dari 0
  //nama depan = 0
  //nama belakang = 1
  //tanggal terdaftar =2
  var evalDate= parseDateValue(aData[1].split('at')[0]);
  if ( ( isNaN( dateStart ) && isNaN( dateEnd ) ) ||
  ( isNaN( dateStart ) && evalDate <= dateEnd ) ||
  ( dateStart <= evalDate && isNaN( dateEnd ) ) ||
  ( dateStart <= evalDate && evalDate <= dateEnd ) )
  {
  return true;
  }
  return false;
  });
  
  // fungsi untuk converting format tanggal dd/mm/yyyy menjadi format tanggal javascript menggunakan zona aktubrowser
  function parseDateValue(rawDate) {
  var dateArray= rawDate.split("/");
  var parsedDate= new Date(dateArray[2], parseInt(dateArray[1])-1, dateArray[0]);  // -1 because months are from 0 to 11   
  return parsedDate;
  }    
  
  $( document ).ready(function() {
  //konfigurasi DataTable pada tabel dengan id example dan menambahkan  div class dateseacrhbox dengan dom untuk meletakkan inputan daterangepicker
  var $dTable = $('.dataTables-example').DataTable({
  "lengthChange": false,
  "dom": "<'row'<'col-sm-5' <'datesearchbox'>><'col-sm-7'f>>" +
  "<'row'<'col-sm-12'tr>>" +
  "<'row'<'col-sm-5'i><'col-sm-7'p>>"
  });
  
  //menambahkan daterangepicker di dalam datatables
  $("div.datesearchbox").html('<div class="input-group"> <div class="input-group-addon"> <i class="fa fa-calendar"></i> </div><input type="text" class="form-control pull-right" id="datesearch" placeholder="Search by date range.."> </div>');
  
  document.getElementsByClassName("datesearchbox")[0].style.textAlign = "right";
  
  //konfigurasi daterangepicker pada input dengan id datesearch
  $('#datesearch').daterangepicker({
  autoUpdateInput: false
  });
  
  //menangani proses saat apply date range
  $('#datesearch').on('apply.daterangepicker', function(ev, picker) {
  $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
  start_date=picker.startDate.format('DD/MM/YYYY');
  end_date=picker.endDate.format('DD/MM/YYYY');
  $.fn.dataTableExt.afnFiltering.push(DateFilterFunction);
  $dTable.draw();
  });
  
  $('#datesearch').on('cancel.daterangepicker', function(ev, picker) {
  $(this).val('');
  start_date='';
  end_date='';
  $.fn.dataTable.ext.search.splice($.fn.dataTable.ext.search.indexOf(DateFilterFunction, 1));
  $dTable.draw();
  });
  
  var role = $('#roleActive').val();
  console.log(role);
  
  $('.filter_kategori').on('change', function(e){
  var kategori = $(this).val();
  $('.filter_kategori').val(kategori)
  // console.log(kategori)
  //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
  if (role == 2) {
  // console.log(kategori);
  $dTable.column(3).search(kategori ? '^' + kategori + '$' : '', true, false).draw(); 
  
  } else {
  // console.log(kategori);
  $dTable.column(4).search(kategori ? '^' + kategori + '$' : '', true, false).draw(); 
  // if (kategori === 'undefined'  || kategori  === ' ' || kategori.length == 0) {
  
  //   document.getElementById('pdf_download').setAttribute('href', '/tickets/cetak_pdf.pdf' );
  // } else {
  //   document.getElementById('pdf_download').setAttribute('href', '/tickets/cetak_pdf.pdf?kategori=' + kategori );
  // }
  // Update URL with new parameters
  var currentUrl = new URL(window.location.href);
  var params = new URLSearchParams(currentUrl.search);
  params.set("kategori", kategori);
  currentUrl.search = params.toString();
  window.history.pushState("", "", currentUrl.toString());
  // Update link pdf_download with new parameters
  // $('#pdf_download').attr('href', currentUrl.toString());
  updatePdfLink();
  
  }
  // $dTable.column(4).search(kategori ? '^' + kategori + '$' : '', true, false).draw(); 
  // 3
  // (perusahaan).draw();
  
  });
  
  $('.filter_tipe').on('change', function(e){
  var tipe = $(this).val();
  $('.filter_tipe').val(tipe)
  //console.log(tipe)
  //$dTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
  if (role == 2) {
  $dTable.column(5).search(tipe ? '^' + tipe + '$' : '', true, false).draw(); 
  } else {
  $dTable.column(6).search(tipe ? '^' + tipe + '$' : '', true, false).draw();
  }
  // Update URL with new parameters
  var currentUrl = new URL(window.location.href);
  var params = new URLSearchParams(currentUrl.search);
  params.set("tipe", tipe);
  currentUrl.search = params.toString();
  window.history.pushState("", "", currentUrl.toString());
  // Update link pdf_download with new parameters
  // $('#pdf_download').attr('href', currentUrl.toString());
  updatePdfLink();
  // 5
  // (perusahaan).draw();
  
  });
  
  $('.filter_teknisi').on('change', function(e){
  var teknisi = $(this).val();
  $('.filter_teknisi').val(teknisi)
  // console.log(teknisi)
  //$dTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
  if (role == 2 ) {
  $dTable.column(6).search(teknisi ? '^' + teknisi + '$' : '', true, false).draw();
  } else {
  $dTable.column(7).search(teknisi ? '^' + teknisi + '$' : '', true, false).draw();
  }
  // Update URL with new parameters
  var currentUrl = new URL(window.location.href);
  var params = new URLSearchParams(currentUrl.search);
  params.set("teknisi", teknisi);
  currentUrl.search = params.toString();
  window.history.pushState("", "", currentUrl.toString());
  // Update link pdf_download with new parameters
  // $('#pdf_download').attr('href', currentUrl.toString());
  updatePdfLink();
  });
  
  $('.filter_status').on('change', function(e){
  var status = $(this).val();
  $('.filter_status').val(status)
  
  if (role == 2 || role == 3 ) {
  $dTable.column(8).search(status ? '' + status + '' : '', true, false).draw();
  } else {
  // console.log(status);
  $dTable.column(9).search(status ? '' + status + '' : '', true, false).draw();
  }
  // $dTable.column(8).search(status ? '' + status + '' : '', true, false).draw();
  // Update URL with new parameters
  // Update URL with new parameters
  var currentUrl = new URL(window.location.href);
  var params = new URLSearchParams(currentUrl.search);
  params.set("status", status);
  currentUrl.search = params.toString();
  window.history.pushState("", "", currentUrl.toString());
  // Update link pdf_download with new parameters
  // $('#pdf_download').attr('href', currentUrl.toString());
  updatePdfLink();
  //  history.pushState({}, '', newUrl);
  });
  });
  
  
  function updatePdfLink() {
  var pdfUrl = 'http://192.168.60.175/tickets/cetak_pdf.pdf';
  var params = currentUrl.searchParams;
  var paramsArray = params.entries();
  for (let param of paramsArray) {
  pdfUrl += '?' + param[0] + '=' + param[1];
  }
  $('#pdf_download').attr('href', pdfUrl);
  }
  
  });
  
  </script>
  
  