<div class="row">
  <div class="col-md-6">
    <h3>Pemohon</h3>
    <h3 style="color: transparent;">a</h3>
    <br>
    <div class="form-group">
      <%= f.label "Nama", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :nama_pemohon, class: "form-control", id: "nama_pemohon", value: @ticket.try(:nama_pemohon), readonly: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "Satuan Kerja", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :divisi_pemohon, class: "form-control", id: "divisi_pemohon", value: @ticket.try(:divisi_pemohon), readonly: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :area_pemohon, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <select data-placeholder="Pilih Area" class="form-control" name="ticket[area_pemohon]" id="area_pemohon" data-live-search="true">
          <%= raw(getAreaParams(sessionArea.strip)) %>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Pemilik Kendala</h3>
    <div class="form-group">
      <%= f.label "Pilih Kendala", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <% if @ticket.pemilik_kendala == 2 %>
          <input type="radio" value="2" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala" checked>
          <label>Self Service</label>
          <input type="radio" value="0" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala">
          <label>Others</label>
        <% else %>
          <input type="radio" value="2" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala">
          <label>Self Service</label>
          <input type="radio" value="0" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala" checked>
          <label>Others</label>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "Nama", class: "col-sm-2 control-label", id: "label_nama_pemilik_kendala" %>
      <div class="col-sm-10">
        <%= f.text_field :nama_pemilik_kendala, class: "form-control", id: "nama_pemilik_kendala_self_service" %>
        <div id="nama_pemilik_kendala_others" >
          <% if @ticket.nama_pemilik_kendala.present? %>
            <select data-placeholder="Pilih Nama" class="form-control" name="ticket[nama_pemilik_kendala]" id="nama_pemilik_kendala_others1" data-live-search="true">
              <%= raw(getLDAPParams(@ticket.nama_pemilik_kendala)) %>
            </select>
          <% else %>
            <select data-placeholder="Pilih Nama" class="form-control" name="ticket[nama_pemilik_kendala]" id="nama_pemilik_kendala_others1" data-live-search="true">
              <%= raw(getLDAP) %>
            </select>
          <% end %>
          <% unless getLDAP.present? %>
            <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "Jabatan", class: "col-sm-2 control-label", id: "label_jabatan_pemilik_kendala"  %>
      <div class="col-sm-10">
        <%= f.hidden_field :jabatan_pemilik_kendala, value: current_user.position.try(:nama), class: "form-control", id: "jabatan_pemilik_kendala_self_service" %>
        <%= f.hidden_field :priority, value: current_user.position.try(:priority), class: "form-control", id: "priority_pemilik_kendala_self_service" %>
        <div id="jabatan_pemilik_kendala_others">
          <% if @ticket.jabatan_pemilik_kendala.present? %>
            <select data-placeholder="Pilih Jabatan" class="form-control" name="ticket[jabatan_pemilik_kendala]" id="jabatan_pemilik_kendala_others1" onchange="setPriority()" data-live-search="true">
              <%= raw(getJabatanParams(@ticket.jabatan_pemilik_kendala)) %>
            </select>
          <% else %>
            <select data-placeholder="Pilih Jabatan" class="form-control" name="ticket[jabatan_pemilik_kendala]" id="jabatan_pemilik_kendala_others1" onchange="setPriority()" data-live-search="true">
              <%= raw(getJabatan) %>
            </select>
          <% end %>
          <input type="hidden" name="ticket[priority]" id="priority_pemilik_kendala_others">
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "Satuan Kerja", class: "col-sm-2 control-label", id: "label_satuan_kerja_pemilik_kendala" %>
      <div class="col-sm-10">
        <%= f.text_field :divisi_pemilik_kendala, class: "form-control", id: "divisi_pemilik_kendala_self_service" %>
        <div id="divisi_pemilik_kendala_others">
          <% if @ticket.divisi_pemilik_kendala.present? %>
            <select data-placeholder="Pilih Divisi" class="form-control" name="ticket[divisi_pemilik_kendala]" id="divisi_pemilik_kendala_others1" data-live-search="true">
              <%= raw(getDivisiParams(@ticket.divisi_pemilik_kendala)) %>
            </select>
          <% else %>
            <select data-placeholder="Pilih Divisi" class="form-control" name="ticket[divisi_pemilik_kendala]" id="divisi_pemilik_kendala_others1" data-live-search="true">
              <%= raw(getDivisi) %>
            </select>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "Area", class: "col-sm-2 control-label", id: "label_area_pemilik_kendala_self_service" %>
      <div class="col-sm-10">
        <%= f.text_field :area_pemilik_kendala, class: "form-control", id: "area_pemilik_kendala_self_service" %>
        <div id="area_pemilik_kendala_others">
          <% if @ticket.area_pemilik_kendala.present? %>
            <select data-placeholder="Pilih Area" class="form-control" name="ticket[area_pemilik_kendala]" id="area_pemilik_kendala_others1" data-live-search="true">
              <%= raw(getAreaParams(@ticket.area_pemilik_kendala)) %>
            </select>
            <%= f.hidden_field :area_pemilik_kendala, :value => sessionArea %>
          <% else %>
            <select data-placeholder="Pilih Area" class="form-control" name="ticket[area_pemilik_kendala]" id="area_pemilik_kendala_others1" data-live-search="true">
              <%= raw(getArea) %>
            </select>
            <%= f.hidden_field :area_pemilik_kendala, :value => sessionArea.strip %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>