<div class="panel panel-default">
  <div class="panel-heading">Form Ticket - <%= @ticket.no_tiket%></div>
  <div class="panel-body">
    <%= form_for(@ticket, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @ticket.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h4>

        <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col-md-6">
        <div class="form-group">
            <%= f.hidden_field :no_tiket, class: "col-sm-2 control-label" %>
            <div class="col-sm-3">
                <%= f.hidden_field :no_tiket, class: "form-control", value: @ticket.no_tiket %>
            </div>
        </div>
        </div>
    </div>
    <%# <br>
    <br> %>

    <div class="row">
        <div class="col-md-6">
        <h3>Pemohon</h3>
        <%# <h3 style="color: transparent;">a</h3> %>
        <%# <br> %>
        <div class="form-group">
            <%= f.label "Nama", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.text_field :nama_pemohon, class: "form-control", id: "nama_pemohon" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Satuan Kerja", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.text_field :divisi_pemohon, class: "form-control", id: "divisi_pemohon" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.hidden_field :area_pemohon, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.hidden_field :area_pemohon, class: "form-control", id: "area_pemohon" %>
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <h3>Pemilik Kendala</h3>
        <div class="form-group">
            <%= f.label "Nama", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.text_field :nama_pemilik_kendala, class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Jabatan", class: "col-sm-2 control-label"  %>
            <div class="col-sm-10">
            <%= f.text_field :jabatan_pemilik_kendala, class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Satuan Kerja", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.text_field :divisi_pemilik_kendala, class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Area", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.text_field :area_pemilik_kendala, class: "form-control" %>
            </div>
        </div>
        </div>
    </div>

    <hr style="border-color: black;">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <%= f.label :kategori, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= f.text_field :kategori, class: "form-control" %>
                </div>
                </div>
                <div class="form-group">
                <%= f.label :sub_kategori, class: "col-sm-2 control-label", style:"color: white;" %>
                <div class="col-sm-10">
                    <%= f.text_field :sub_kategori, class: "form-control" %>
                </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                <%= f.label :jenis_layanan, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= f.text_field :jenis_layanan, class: "form-control" %>
                </div>
                </div>
                <div class="form-group">
                <%= f.label :assets, "Nama Perangkat", class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= f.text_field :assets, class: "form-control" %>
                </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Keterangan <p style="font-size: 10px;">(optional)</p></label>
            <div class="col-sm-10">
                <%= f.text_area :keterangan, class: "form-control", id: "keterangan", style: "resize: none; height: 10em;" %>
            </div>
        </div>
    
    
    <hr style="border-color: black;">

        <input type="hidden" name="status_edit" value="superadmin">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <%= f.label :teknisi, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <select data-placeholder="Pilih Teknisi" class="form-control" name="ticket[teknisi]" onchange="setStatusTiket()" id="teknisi" data-live-search="true" required>
                        <%= raw(superadmingetTeknisiParams(@ticket.teknisi))%>
                    </select>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <%= f.label :status_teknisi, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= f.text_field :status_teknisi, class: "form-control", id: "status_teknisi" %>
                </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Keterangan</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="keterangan_gantiteknisi" style="resize: none; height: 10em;" required></textarea>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
  </div>
</div>

<script>
  function setStatusTiket(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
    var aru_id = $("#teknisi").val();
    // console.log(aru_id);
    $.getJSON("/helper_json/" +aru_id+ "/getStatusTeknisi",
      function ( callback ) {
      if (callback != "error"){
        console.log(callback)
        $("#status_teknisi").val(callback);
      }
    });
  }
$('#teknisi').select2();
</script>