<style>
</style>
<%= form_for(@ticket, html: { class: "form-horizontal", role: "form" }) do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">Form Ticket -  
          <% if @ticket.new_record? %>
            <%=@no_tiket%>
          <% else %>
            <%=@ticket.no_tiket%>
          <% end %>
          

  </div>
  <div class="panel-body">
  

  <% if @ticket.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h4>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%# <%= f.label :no_tiket, class: "col-sm-2 control-label" %>
        <div class="col-sm-3">
          <% if @ticket.new_record? %>
            <%= f.hidden_field :no_tiket, class: "form-control", value: @no_tiket, readonly: true %>
          <% else %>
            <%= f.hidden_field :no_tiket, class: "form-control", value: @ticket.no_tiket, readonly: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# <br>
  <br> %>
<%if @ticket.new_record?%>
  <div class="row">
    <div class="col-md-6">
      <h3>Pemohon</h3>
      <h3 style="color: transparent;">a</h3>
      <br>
      <div class="form-group">
        <%= f.label "Nama", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :nama_pemohon, class: "form-control", id: "nama_pemohon", value: sessionName, readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Satuan Kerja", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :divisi_pemohon, class: "form-control", id: "divisi_pemohon", value: sessionDivision, readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :area_pemohon, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <select data-placeholder="Pilih Area" class="form-control" name="ticket[area_pemohon]" id="area_pemohon" data-live-search="true">
              <%= raw(getAreaParams(sessionArea.strip))%>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Pemilik Kendala</h3>
      <div class="form-group">
        <%= f.label "Pilih Kendala", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <% if @ticket.new_record? %>
            <input type="radio" value="2" name="ticket[pemilik_kendala]" id="pemilik-kendala" >
            <label>Self Service</label>
            <input type="radio" value="0" name="ticket[pemilik_kendala]" id="pemilik-kendala">
            <label>Others1</label>
          
          <% else %>
            <% if @ticket.pemilik_kendala == 2 %>
              <input type="radio" value="2" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala" checked>
              <label>Self Service</label>
              <input type="radio" value="0" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala">
              <label>Others2</label>
            <% else %>
              <input type="radio" value="2" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala">
              <label>Self Service</label>
              <input type="radio" value="0" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala" checked>
              <label>Others3</label>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Nama", class: "col-sm-2 control-label", id: "label_nama_pemilik_kendala" %>
        <div class="col-sm-10">
          <%= f.text_field :nama_pemilik_kendala, class: "form-control", id: "nama_pemilik_kendala_self_service" %>
          <div id="nama_pemilik_kendala_others" >
            <% if @ticket.new_record? %>
              <select data-placeholder="Pilih Nama" class="form-control" name="ticket[nama_pemilik_kendala]" id="nama_pemilik_kendala_others1" data-live-search="true">
                  <%= raw(getLDAP)%>
              </select>
              <% unless getLDAP.present? %>
                <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
              <% end %>
            <% else %>
              <select data-placeholder="Pilih Nama" class="form-control" name="ticket[nama_pemilik_kendala]" id="nama_pemilik_kendala_others1" data-live-search="true">
                  <%= raw(getLDAPParams(@ticket.nama_pemilik_kendala))%>
              </select>
              <% unless getLDAP.present? %>
                <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Jabatan", class: "col-sm-2 control-label", id: "label_jabatan_pemilik_kendala"  %>
        <div class="col-sm-10">
          <%= f.hidden_field :jabatan_pemilik_kendala, value: current_user.position.try(:nama), class: "form-control", id: "jabatan_pemilik_kendala_self_service" %>
          <%= f.hidden_field :priority, value: current_user.position.try(:priority), class: "form-control", id: "priority_pemilik_kendala_self_service" %>
          <div id="jabatan_pemilik_kendala_others">
            <% if @ticket.new_record? %>
              <select data-placeholder="Pilih Jabatan" class="form-control" name="ticket[jabatan_pemilik_kendala]" id="jabatan_pemilik_kendala_others1" onchange="setPriority()" data-live-search="true">
                  <%= raw(getJabatan)%>
              </select>
              <input type="hidden" name="ticket[priority]" id="priority_pemilik_kendala_others">
            <% else %>
              <select data-placeholder="Pilih Jabatan" class="form-control" name="ticket[jabatan_pemilik_kendala]" id="jabatan_pemilik_kendala_others1" onchange="setPriority()" data-live-search="true">
                  <% if @ticket.jabatan_pemilik_kendala.present? %>
                    <%= raw(getJabatanParams(@ticket.jabatan_pemilik_kendala))%>
                  <% else %>
                    <%= raw(getJabatan)%>
                  <% end %>
              </select>
              <input type="hidden" name="ticket[priority]" id="priority_pemilik_kendala_others">
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Satuan Kerja", class: "col-sm-2 control-label", id: "label_satuan_kerja_pemilik_kendala" %>
        <div class="col-sm-10">
          <%= f.text_field :divisi_pemilik_kendala, class: "form-control", id: "divisi_pemilik_kendala_self_service" %>
          <div id="divisi_pemilik_kendala_others">
            <% if @ticket.new_record? %>
              <select data-placeholder="Pilih Divisi" class="form-control" name="ticket[divisi_pemilik_kendala]" id="divisi_pemilik_kendala_others1" data-live-search="true">
                  <%= raw(getDivisi)%>
              </select>
            <% else %>
              <select data-placeholder="Pilih Nama" class="form-control" name="ticket[divisi_pemilik_kendala]" id="divisi_pemilik_kendala_others1" data-live-search="true">
                  <%= raw(getDivisiParams(@ticket.divisi_pemilik_kendala))%>
              </select>
            <% end %>
          </div>
        </div>
        
      </div>
      <div class="form-group">
          <%= f.label "Area", class: "col-sm-2 control-label", id: "label_area_pemilik_kendala_self_service" %>
        <div class="col-sm-10">
           <%= f.text_field :area_pemilik_kendala, class: "form-control", id: "area_pemilik_kendala_self_service" %>
           
          <div id="area_pemilik_kendala_others">
            <% if @ticket.new_record? %>
              <select data-placeholder="Pilih Area" class="form-control" name="ticket[area_pemilik_kendala]" id="area_pemilik_kendala_others1" data-live-search="true">
                 <%= raw(getArea)%>
              </select>
            <% else %>
              <select data-placeholder="Pilih Area" class="form-control" name="ticket[area_pemilik_kendala]" id="area_pemilik_kendala_others1" data-live-search="true">
                  <%= raw(getAreaParams(@ticket.area_pemilik_kendala))%>
              </select>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
<%else%>
  <div class="row">
    <div class="col-md-6">
      <h3>Pemohon</h3>
      <h3 style="color: transparent;">a</h3>
      <br>
      <div class="form-group">
        <%= f.label "Nama", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :nama_pemohon, class: "form-control", id: "nama_pemohon", value:  @ticket.try(:nama_pemohon), readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Satuan Kerja", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :divisi_pemohon, class: "form-control", id: "divisi_pemohon", value: @ticket.try(:divisi_pemohon), readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :area_pemohon, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <select data-placeholder="Pilih Area" class="form-control" name="ticket[area_pemohon]" id="area_pemohon" data-live-search="true">
              <%= raw(getAreaParams(@ticket.try(:area_pemohon)))%>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Pemilik Kendala</h3>
      <div class="form-group">
        <%= f.label "Pilih Kendala", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <% if @ticket.new_record? %>
            <input type="radio" value="2" name="ticket[pemilik_kendala]" id="pemilik-kendala">
            <label>Self Service</label>
            <input type="radio" value="0" name="ticket[pemilik_kendala]" id="pemilik-kendala">
            <label>Others</label>
          
          <% else %>
            <% if @ticket.pemilik_kendala == 2 %>
              <input type="radio" value="2" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala" checked>
              <label>Self Service</label>
              <input type="radio" value="0" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala">
              <label>Others</label>
            <% else %>
              <input type="radio" value="2" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala">
              <label>Self Service</label>
              <input type="radio" value="0" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala" checked>
              <label>Others</label>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Nama", class: "col-sm-2 control-label", id: "label_nama_pemilik_kendala" %>
        <div class="col-sm-10">
          <%= f.text_field :nama_pemilik_kendala, class: "form-control", id: "nama_pemilik_kendala_self_service" %>
          <div id="nama_pemilik_kendala_others" >
            <% if @ticket.new_record? %>
              <select data-placeholder="Pilih Nama" class="form-control" name="ticket[nama_pemilik_kendala]" id="nama_pemilik_kendala_others1" data-live-search="true">
                  <%= raw(getLDAP)%>
              </select>
              <% unless getLDAP.present? %>
                <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
              <% end %>
            <% else %>
              <select data-placeholder="Pilih Nama" class="form-control" name="ticket[nama_pemilik_kendala]" id="nama_pemilik_kendala_others1" data-live-search="true">
                  <%= raw(getLDAPParams(@ticket.nama_pemilik_kendala))%>
              </select>
              <% unless getLDAP.present? %>
                <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Jabatan", class: "col-sm-2 control-label", id: "label_jabatan_pemilik_kendala"  %>
        <div class="col-sm-10">
          <%= f.hidden_field :jabatan_pemilik_kendala, value: current_user.position.try(:nama), class: "form-control", id: "jabatan_pemilik_kendala_self_service" %>
          <%= f.hidden_field :priority, value: current_user.position.try(:priority), class: "form-control", id: "priority_pemilik_kendala_self_service" %>
          <div id="jabatan_pemilik_kendala_others">
            <% if @ticket.new_record? %>
              <select data-placeholder="Pilih Jabatan" class="form-control" name="ticket[jabatan_pemilik_kendala]" id="jabatan_pemilik_kendala_others1" onchange="setPriority()" data-live-search="true">
                  <%= raw(getJabatan)%>
              </select>
              <input type="hidden" name="ticket[priority]" id="priority_pemilik_kendala_others">
            <% else %>
              <select data-placeholder="Pilih Jabatan" class="form-control" name="ticket[jabatan_pemilik_kendala]" id="jabatan_pemilik_kendala_others1" onchange="setPriority()" data-live-search="true">
                  <% if @ticket.jabatan_pemilik_kendala.present? %>
                    <%= raw(getJabatanParams(@ticket.jabatan_pemilik_kendala))%>
                  <% else %>
                    <%= raw(getJabatan)%>
                  <% end %>
              </select>
              <input type="hidden" name="ticket[priority]" id="priority_pemilik_kendala_others">
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Satuan Kerja", class: "col-sm-2 control-label", id: "label_satuan_kerja_pemilik_kendala" %>
        <div class="col-sm-10">
          <%= f.text_field :divisi_pemilik_kendala, class: "form-control", id: "divisi_pemilik_kendala_self_service" %>
          <div id="divisi_pemilik_kendala_others">
            <% if @ticket.new_record? %>
              <select data-placeholder="Pilih Divisi" class="form-control" name="ticket[divisi_pemilik_kendala]" id="divisi_pemilik_kendala_others1" data-live-search="true">
                  <%= raw(getDivisi)%>
              </select>
            <% else %>
              <select data-placeholder="Pilih Nama" class="form-control" name="ticket[divisi_pemilik_kendala]" id="divisi_pemilik_kendala_others1" data-live-search="true">
                  <%= raw(getDivisiParams(@ticket.divisi_pemilik_kendala))%>
              </select>
            <% end %>
          </div>
        </div>
        
      </div>
      <div class="form-group">
          <%= f.label "Area", class: "col-sm-2 control-label", id: "label_area_pemilik_kendala_self_service" %>
        <div class="col-sm-10">
           <%= f.text_field :area_pemilik_kendala, class: "form-control", id: "area_pemilik_kendala_self_service" %>
           
          <div id="area_pemilik_kendala_others">
            <% if @ticket.new_record? %>
              <select data-placeholder="Pilih Area" class="form-control" name="ticket[area_pemilik_kendala]" id="area_pemilik_kendala_others1" data-live-search="true">
                 <%= raw(getArea)%>
              </select>
                            <%= f.hidden_field :area_pemilik_kendala, :value => sessionArea.strip %>
            <% else %>
              <select data-placeholder="Pilih Area" class="form-control" name="ticket[area_pemilik_kendala]" id="area_pemilik_kendala_others1" data-live-search="true">
                  <%= raw(getAreaParams(@ticket.area_pemilik_kendala))%>
              </select>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>

  <hr style="border-color: black;">

  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
        
          <%= f.label :kategori, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%if params_user = params[:category_id].present? && params[:jenis_layanan].present? && params[:sub_category].present?%>
            <% @category_id =params[:category_id].strip %>
            <% @jenis_layanan = params[:jenis_layanan].strip%>
            <% @sub_category = params[:sub_category].strip%>
        
          <%end%>

            <% if @ticket.new_record?  %>
            
              <select data-placeholder="Pilih Kategori" class="form-control kategori_select" name="ticket[kategori]" id="kategori" data-live-search="true" onchange="setKategori()" required <%= "disabled" if roleActive.id == 2 %> >
                <%unless @category_id.present?%>  
                  <%= raw(getKategori)%>
                <%else%>
                  <%= raw(getKategoriParams(@category_id))%>
                  <%= f.hidden_field :kategori, :value => Category.find(@category_id).name %>
                <%end%>
              </select>

            <% else %>

              <select data-placeholder="Pilih Kategori" class="form-control kategori_select" name="ticket[kategori]" id="kategori" data-live-search="true" onchange="setKategori()" required <%= "disabled" if roleActive.id == 2 %> >
                  <% if @ticket.kategori.present? %>
                      <% begin %>
                        <% if defined?(follow_up_ticket_path) %>
                          <% if follow_up_ticket_path.present? %>
                            <%= raw(getKategoriParamsbyName(@ticket.kategori))%>
                          <%else%>
                            <%= raw(getKategoriParams(@ticket.kategori))%>
                          <%end%>
                        <% else %>
                          <!-- handle route not defined -->
                        <% end %>
                      <% rescue ActionController::UrlGenerationError %>
                        <!-- handle error -->
                      <% end %>
                  <% else %>
                    <%= raw(getKategori)%>
                  <% end %>
              </select>
            <% end %>
          </div>
        </div>
    
      </div>

      <div class="col-md-6">
          <div class="form-group">
            <%= f.label "Jenis Layanan", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <% if params[:jenis_layanan].present? %>
                <%= f.hidden_field :jenis_layanan, :value =>  @jenis_layanan.capitalize %>
                <%= f.select :jenis_layanan, [["Request", "Request"], ["Insiden", "Insiden"]], {selected: params[:jenis_layanan].capitalize}, id: "jenis_layanann", class: 'dtSource form-control type_layanan', disabled: true  %>
              <% else %>
                <%= f.select :jenis_layanan, [["Request", "Request"], ["Insiden", "Insiden"]], { prompt: "" }, id: "jenis_layanann", class: "dtSource form-control type_layanan" %>
              <% end %>

            </div>
          </div>
          
      </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :sub_kategori, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <% if @ticket.new_record? && @sub_category.nil? %>
            <%= f.hidden_field :sub_kategori, class: "form-control", id: "sub_kategori_hidden" %>
            <select id="sub_kategori" class="form-control sub_kategori" name="ticket[sub_kategori]" required readonly></select>
            
          <% else %>
            <select data-placeholder="Pilih Sub Kategori" class="form-control kategori_select" name="ticket[sub_kategori]" id="sub_kategori" data-live-search="true" onchange="" required, <%= "disabled" if roleActive.id == 2 %> >
              <% if @sub_category.present? || @ticket.sub_kategori.present? %>
                <%= raw(getSubKategoriParams(@sub_category || @ticket.sub_kategori.strip))%>
              <% else %>
                <%= raw(getSubKategori)%>
              <% end %>
            </select>
            <%= f.hidden_field :sub_kategori, :value =>  @sub_category %>
            
          <% if  @ticket.sub_kategori.present? %>
          
              <input type="hidden" id="ceksubkategori" value="<%= @ticket.sub_kategori.strip %>">
          <%end%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%if roleActive.id != 2   %>

          <%= f.label :teknisi, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <% if @ticket.new_record? %>
              <select data-placeholder="Pilih Teknisi" class="form-control" name="ticket[teknisi]" onchange="setStatusTiket()" id="teknisi" data-live-search="true" required>
                  <%= raw(getTeknisi)%>
              </select>
            <% else %>
              <select data-placeholder="Pilih Teknisi" class="form-control" name="ticket[teknisi]" onchange="setStatusTiket()" id="teknisi" data-live-search="true" required>
                 <% if @ticket.teknisi.present? %>
                  <% if request.original_url.include?("superadminEdit") ||request.original_url.include?("follow_up")  %>
                    <%= raw(superadmingetTeknisiParams(@ticket.teknisi.strip))%>
                  <% else %>
                    <% raw(superadmingetTeknisiParams(@ticket.teknisi.strip))%>
                  <% end %>
                <% else %>
                  <%= raw(getTeknisi)%>
                <% end %>


              </select>
            <% end %>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <input type="hidden" name="ticket[antrian]" id="antrian">

  <div class="form-group" id="catatan_kategori_hardware">
    <label class="col-sm-2 control-label">Nama Perangkat <p style="font-size: 10px;"></p></label>
    <div class="col-sm-10">
      <%= f.text_field :catatan_kategori, class: "form-control" %>
    </div>
  </div>

<%if roleActive.id != 2   %>
  <div class="form-group">
      <%= f.label :status_teknisi, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :status_teknisi, name: "ticket[status_teknisi]",class: "form-control ", id: "status_teknisi", disabled: true %>
      </div>
  </div>
<%end%>
  <div class="form-group">
    <label class="col-sm-2 control-label">Tanggal 
</label>
    <div class="col-sm-10">
      <% if roleActive.id == 2 %>
        <%= f.datetime_local_field :date_ticket, class: "form-control", id: "tanggal", disabled: true, value: Time.now.in_time_zone('Asia/Jakarta').strftime('%Y-%m-%dT%H:%M') %>
      <% else %>
        <%= f.datetime_local_field :date_ticket, class: "form-control", id: "tanggal", value: Time.now.in_time_zone('Asia/Jakarta').strftime('%Y-%m-%dT%H:%M') %>
      <% end %>
      
    
    </div>
  </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Lampiran<p style="font-size: 10px;">(optional)</p></label>
      <div class="col-sm-10">
          <%= f.file_field :lampiran, class: "form-control", direct_upload: true, accept: 'image/jpeg, image/jpg, image/png, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document' , :id => "file" %>
          <%# <%= f.file_field :lampiran, class: "form-control", direct_upload: true, accept: 'image/jpeg, image/jpg, image/png, application/pdf', multiple: true , :id => "file"%> 
        <%# <%= f.file_field :lampiran, class: "form-control", direct_upload: true, accept: 'image/jpeg, image/jpg, image/png' %>
      </div>
    </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Keterangan</label>
    <div class="col-sm-10">
       <%= f.text_area :keterangan, class: "form-control", id: "keterangan", style: "resize: none; height: 10em;", :required => true %>
    
       <textarea class="form-control" id="cek-keterangan" style="display:none;"><%= @ticket.keterangan %></textarea>
 
    </div>
  </div>
  
  <div class="form-group" id="approvals">
    <label class="col-sm-2 control-label">Nama Atasan Terkait  </label>
    <div class="col-sm-10">
        <select data-placeholder="Pilih Nama" class="form-control" name="ticket[atasan_id]" id="getLdapUser" data-live-search="true" required>
                <%if @ticket.ticket_approval.map(&:user_id).nil? || @ticket.new_record? %>
                  <%= raw(getLDAP)%>
                <%else%>
                  <%if @ticket.ticket_approval.joins(:user).pluck('users.username').blank?%>
                     <%= raw(getLDAP)%>
                  <%else%>
                    <%= raw(getLDAPParams(@ticket.ticket_approval.joins(:user).pluck('users.username').first.to_s.strip))%>
                  <%end%>
                <%end%>
        </select>
        <% unless getLDAP.present? %>
          <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
        <% end %>
    </div> 
      

  </div>



  <% begin %>
    <% if defined?(follow_up_ticket_path) %>
      <% if follow_up_ticket_path.present? %>
        <hr style="border-color: black;">
        <%= f.hidden_field :sub_kategori, class:"sub_kategori_followup"%>
        <script>
          $('#sub_kategori').on('change', function() {
            var sub_kategori_followup = $(this).val();
            $('.sub_kategori_followup').val(sub_kategori_followup);
          });
        </script>
        <div class="form-group">
            <label class="col-sm-2 control-label">Status Ticket <p style="font-size: 10px;"></p></label>
            <div class="col-sm-10">
           <%# <%= select_tag(:status_tiket, options_for_select(["Waiting","Solved","Closed","Pending","On Processing","Planning","Processing Assign"], "On Processing" ), {:class => 'form-control', :name => 'ticket[status_ticket]'})  %>  
               <%= select_tag(:status_tiket, options_for_select(["On Processing"], "On Processing" ), {:class => 'form-control', :name => 'ticket[status_ticket]'})  %> 
                   
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Keterangan <p style="font-size: 10px;"></p></label>
            <div class="col-sm-10">
            <%= f.text_area :catatan_status, class: "form-control", id: "catatan_status", style: "resize: none; height: 10em;" %>
            </div>
        </div>

      <% end %>
    <% else %>
      <!-- handle route not defined -->
    <% end %>
  <% rescue ActionController::UrlGenerationError %>
    <!-- handle error -->
  <% end %>
      
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" , id:"submit-btn"%>
    </div>
  </div>
<% end %>
  </div>
</div>

<script>
    $(document).ready(function () {
        $("#getLdapUser").select2();
         $(document).ready(function() {
      $('#submit-btn').click(function(e) {
        // Mencegah submit form secara default
        e.preventDefault();
        
        // Melakukan pengecekan inputan area dan lainnya
        if (isInputsValid()) {
          // Jika inputan sudah sesuai, tampilkan popup
          if (confirm('Pastikan bahwa semua inputan telah sesuai sebelum mengirim data')) {
            // Submit form jika pengguna menekan tombol OK pada popup
            $('form').submit();
          }
        } else {
          // Jika inputan belum sesuai, tampilkan pesan error
          alert('Pastikan Anda telah memilih Pemilik Kendala dan memastikan bahwa semua inputan telah sesuai sebelum mengirim data.');
        }
      });
      
      // Fungsi untuk memeriksa inputan area dan lainnya
      function isInputsValid() {
        // Ganti kode di bawah ini dengan logika pengecekan inputan area dan lainnya
        var area = $('input[name="ticket[pemilik_kendala]"]:checked').val();
        if (area === undefined) {
          return false;
        } else {
          return true;
        }
      }
    });

    });
    $('#getLdapUser').change(function() {
      var option, userSelectBox, atasan_id;
      atasan_id = $('#getLdapUser').val();
      console.log(atasan_id);
      atasan_id = $('#getLdapUser :selected').text();
      userSelectBox = $('#nama_pengguna');
      userSelectBox.html('');
      option = $('#nama_pengguna').attr('value', atasan_id.replace(".", " ").toUpperCase());
      return userSelectBox.append(option);
    });
    const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file

    $("#file").on('change', function(e){
      if(this.files[0].size > 10000000){ // byte->10mb 
          alert("File is too big!");
          this.value = "";
        }; 
  
      // EventListener pour le bouton de suppression créé
      $('span.file-delete').click(function(){
        let name = $(this).next('span.name').text();
        // Supprimer l'affichage du nom de fichier
        $(this).parent().remove();
        for(let i = 0; i < dt.items.length; i++){
          // Correspondance du fichier et du nom
          if(name === dt.items[i].getAsFile().name){
            // Suppression du fichier dans l'objet DataTransfer
            dt.items.remove(i);
            continue;
          }
        }

       document.getElementById('attachment').files = dt.files;
      });
    });


        // showhide catatan_kategori


    function setStatusTiket(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var aru_id = $("#teknisi").val();
      // console.log(aru_id);
      $.getJSON("/helper_json/" +aru_id+ "/getStatusTeknisi",
        function ( callback ) {
        if (callback != "error"){
          console.log(callback)
          $("#status_teknisi").val(callback);
            $("#antrian").val(callback);
        }
      });
    }

    function setPriority(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var aru_id = $("#jabatan_pemilik_kendala_others1").val();
      // console.log(aru_id);
      $.getJSON("/helper_json/" +aru_id+ "/getPriority",
        function ( callback ) {
        if (callback != "error"){
            // console.log(callback)
            for (var i = 0; i < callback.length; i++){
              var obj = callback[i];
                if (obj == null){
                  $("#priority_pemilik_kendala_others").empty();
                } else{
                  $("#priority_pemilik_kendala_others").empty();
                  var priority = obj['value']
                      // ...use `element`...
                  $("#priority_pemilik_kendala_others").val(priority);
                }
            }
        }
      });
    }


    function setKategori(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var aru_id = $("#kategori").val();
      // console.log(aru_id);
      $.getJSON("/helper_json/" +aru_id+ "/getSubKategori",
        function ( callback ) {
        if (callback != "error"){
            // console.log(callback)
            for (var i = 0; i < callback.length; i++){
              var obj = callback[i];
                if (obj == null){
                  $("#sub_kategori").empty();
                  $("#jenis_layanan").empty();
                } else{
                  $("#sub_kategori").empty();
                  $("#sub_kategori").append('\
                    <option disabled selected>--Pilih Sub Kategori--</option>\
                  ');
                  var ukuran = obj['value'] ? JSON.parse(obj['value']) : "";
                  for (var i = 0; i < ukuran.length; i++) { // https://stackoverflow.com/questions/9329446/for-each-over-an-array-in-javascript
                      var value = ukuran[i];
                      // ...use `element`...
                      $("#sub_kategori").append(new Option(value));
                      // console.log(value);
                  }


          
                  $("#jenis_layanan").empty();
                  var tipe_layanan = obj['tipe_layanan']
                      // ...use `element`...
                  $("#jenis_layanan").val(tipe_layanan);

                  // var template = obj['template']
                  //     // ...use `element`...
                  // $("#keterangan").val(template);

                  // $("#status_tiket").empty();
                  // var status_tiket = obj['status_tiket']
                  //     // ...use `element`...
                  // $("#status_tiket").val(status_tiket);
                }
            }
        }
      });
      
    }

  

    jQuery(function () {

      
        var kategori = $('#kategori').val();
        var nama_perangkat = $('#catatan_kategori_hardware');
        var cekteknisi = $("#teknisi").val();
        var sub_category = '<%= @sub_category%>';
        console.log(sub_category)



        nama_perangkat.hide();
        
        $('#kategori').change(function() {
          if($('#kategori').val() == 'Hardware') {
            $('#catatan_kategori_hardware').show();
          }else{
            $('#catatan_kategori_hardware').hide();
          }
        });


        <% unless @ticket.new_record?  %>
          $.getJSON("/helper_json/" +cekteknisi+ "/getStatusTeknisi",
            function ( callback ) {
            if (callback != "error"){
              // console.log(callback)
              $("#status_teknisi").val(callback);
              //  $("#antrian").val(callback);
            }
          });
        <% end %>

        <% unless @ticket.new_record? && @category_id.nil?  %>
           var sub_kategori = $('#sub_kategori').val();
          if (sub_kategori.indexOf('/') !== -1) {
            sub_kategori = sub_kategori.replace(/\//g, '%20');
          }
           var kategori_id = $('#kategori').val();
    

         $.getJSON("/helper_json/" + encodeURIComponent(sub_kategori.replace('/', '%20')) + "/getTemplatesByKategori/" + kategori_id,
          function(callback) {
            if (callback !== "error") {
              callback.map(template_pesan);
              // console.log(template_pesan)
              // $("#status_teknisi").val(callback);
              // $("#antrian").val(callback);
            }
          });
        <% end %>

        function template_pesan(value){
          var sub_kategori = $('#sub_kategori').val();
          var ceksubkategori = $('#ceksubkategori').val();
          console.log(ceksubkategori)
          if (value.sub_category == sub_kategori) {
            // console.log(value);
  

            // Mengakses nilai template di dalam value.message_template
            var template = value.message_template.template;
             var aprroved = value.approved;

     
                if (aprroved === "true") {
                  $("#approvals").show();
                } else {
                  $("#approvals").hide();
                }


              // var cek = $("#cek-keterangan").val().replace(/:.*/g, '').replace(/[^a-zA-Z0-9]/g, '');
              var cekArray = $("#cek-keterangan").val().split(":");
              cekArray.pop(); // Menghapus elemen terakhir ("Kendala/Permintaan")
              var cek = cekArray.join(":").trim().replace(/:.*/g, '').replace(/[^a-zA-Z0-9]/g, '');

              var value_keterangan =  $("#cek-keterangan").val();
              var templateTrim = template.replace(/:.*/g, '').replace(/[^a-zA-Z0-9]/g, '');
                // alert(cek)
                  if (cek === templateTrim) {
                  $("#keterangan").val(value_keterangan);                       
                }else{
                 <% unless @ticket.new_record? %>
                     if (ceksubkategori !== sub_kategori){
                          $("#keterangan").val(template);
                     }else{
                        $("#keterangan").val(value_keterangan);
                     }
                 <%else%>
                     if (ceksubkategori !== sub_kategori){
                          $("#keterangan").val(template);
                     }else{
                        $("#keterangan").val(template);
                     }
                 <%end%>
                
                }


           


          }
        }
          
         
        

        var jabatan = $("#jabatan_pemilik_kendala_others1").val();
        // console.log(aru_id);
        <% unless @ticket.new_record? %>
          $.getJSON("/helper_json/" +jabatan+ "/getPriority",
            function ( callback ) {
            if (callback != "error"){
                // console.log(callback)
                for (var i = 0; i < callback.length; i++){
                  var obj = callback[i];
                    if (obj == null){
                      $("#priority_pemilik_kendala_others").empty();
                    } else{
                      $("#priority_pemilik_kendala_others").empty();
                      var priority = obj['value']
                          // ...use `element`...
                      $("#priority_pemilik_kendala_others").val(priority);
                    }
                }
            }
          });
        <% end %>

        var jenis_layanan = $("#jenis_layanann");
        var sub_kategori = $("#sub_kategori");
        var kategori = $("#kategori");
        $(sub_kategori,kategori,jenis_layanan).on('change', function(e) {
          var subkategori = sub_kategori.val();
          var kategoriid = kategori.val();

          if (subkategori !== null && subkategori.indexOf('/') !== -1) {
            subkategori = subkategori.replace(/\//g, '%20');
          }

          $.getJSON("/helper_json/" + encodeURIComponent(subkategori.replace('/', '%20')) + "/getTemplatesByKategori/" + kategoriid,
            function(callback) {
              if (callback !== "error") {
                callback.map(template_pesan);
              }
            });
        });






        $("#approvals").hide();
        $('#kategori').select2();
        $('#sub_kategori').select2();
        $('#assets').select2();
        $('#teknisi').select2();
        document.getElementById("nama_pemilik_kendala_self_service").style.display = "none";
        document.getElementById("divisi_pemilik_kendala_self_service").style.display = "none";
        document.getElementById("area_pemilik_kendala_self_service").style.display = "none";


        document.getElementById("pemilik-kendala").required = true;
        document.getElementById("nama_pemilik_kendala_others").style.display = "none";
        document.getElementById("divisi_pemilik_kendala_others").style.display = "none";
        document.getElementById("area_pemilik_kendala_others").style.display = "none";
        document.getElementById("label_jabatan_pemilik_kendala").style.display = "none";
        document.getElementById("label_nama_pemilik_kendala").style.display = "none";
        document.getElementById("label_satuan_kerja_pemilik_kendala").style.display = "none";
        document.getElementById("jabatan_pemilik_kendala_others").style.display = "none";
        document.getElementById("label_area_pemilik_kendala_self_service").style.display = "none";
        
        
        var checked = $('.messageCheckbox:checked').val();
        if (checked == "2"){
          var divisi = $("#divisi_pemohon").val();
          var nama = $("#nama_pemohon").val();
          var area = $("#area_pemohon").val();
          document.getElementById("label_nama_pemilik_kendala").style.display = "inline";
          document.getElementById("label_satuan_kerja_pemilik_kendala").style.display = "inline";
          document.getElementById("label_area_pemilik_kendala_self_service").style.display = "inline";
          
          document.getElementById("label_jabatan_pemilik_kendala").style.display = "none";

          document.getElementById("nama_pemilik_kendala_others").style.display = "none";
          document.getElementById("nama_pemilik_kendala_others1").required = false;
          $('#nama_pemilik_kendala_others1').attr('disabled', true);

          document.getElementById("divisi_pemilik_kendala_others").style.display = "none";
          document.getElementById("divisi_pemilik_kendala_others1").required = false;
          $('#divisi_pemilik_kendala_others1').attr('disabled', true);

          document.getElementById("jabatan_pemilik_kendala_others").style.display = "none";
          document.getElementById("jabatan_pemilik_kendala_others1").required = false;
          $('#jabatan_pemilik_kendala_others1').attr('disabled', true);
          
          document.getElementById("priority_pemilik_kendala_others").style.display = "none";
          document.getElementById("priority_pemilik_kendala_others").required = false;
          $('#priority_pemilik_kendala_others').attr('disabled', true);

          $('#nama_pemilik_kendala_self_service').show();
          $('#nama_pemilik_kendala_self_service').val(nama);
          $('#nama_pemilik_kendala_self_service').attr('readonly', true);
          $('#nama_pemilik_kendala_self_service').attr('disabled', false);

          $('#divisi_pemilik_kendala_self_service').show();
          $('#divisi_pemilik_kendala_self_service').val(divisi);
          $('#divisi_pemilik_kendala_self_service').attr('readonly', true);
          $('#divisi_pemilik_kendala_self_service').attr('disabled', false);

          $('#area_pemilik_kendala_self_service').show();
          $('#area_pemilik_kendala_self_service').val(area);
          $('#area_pemilik_kendala_self_service').attr('readonly', true);
          $('#area_pemilik_kendala_self_service').attr('disabled', false);


          $('#jabatan_pemilik_kendala_self_service').attr('disabled', false);

          $('#priority_pemilik_kendala_self_service').attr('disabled', false);

        } else if (checked == 0) {
          var area = $("#area_pemohon").val();
          document.getElementById("label_nama_pemilik_kendala").style.display = "inline";
          document.getElementById("label_satuan_kerja_pemilik_kendala").style.display = "inline";
          document.getElementById("label_area_pemilik_kendala_self_service").style.display = "inline";
          document.getElementById("label_jabatan_pemilik_kendala").style.display = "inline";

          document.getElementById("nama_pemilik_kendala_others").style.display = "inline";
          document.getElementById("nama_pemilik_kendala_others1").required = true;
          $('#nama_pemilik_kendala_others1').attr('disabled', false);

          document.getElementById("divisi_pemilik_kendala_others").style.display = "inline";
          document.getElementById("divisi_pemilik_kendala_others1").required = true;
          $('#divisi_pemilik_kendala_others1').attr('disabled', false);

          document.getElementById("jabatan_pemilik_kendala_others").style.display = "inline";
          document.getElementById("jabatan_pemilik_kendala_others1").required = true;
          $('#jabatan_pemilik_kendala_others1').attr('disabled', false);
          
          document.getElementById("jabatan_pemilik_kendala_others").style.display = "inline";
          document.getElementById("jabatan_pemilik_kendala_others1").required = true;
          $('#jabatan_pemilik_kendala_others1').attr('disabled', false);

          document.getElementById("area_pemilik_kendala_others").style.display = "inline";
          document.getElementById("area_pemilik_kendala_others").required = false;
          $('#area_pemilik_kendala_others').attr('disabled', false);

          // $('#area_pemilik_kendala_self_service').val(area);
          // $('#area_pemilik_kendala_self_service').attr('readonly', true);
          // $('#area_pemilik_kendala_self_service').attr('disabled', false);
          
          $('#divisi_pemilik_kendala_self_service').attr('disabled', true);
          $('#divisi_pemilik_kendala_self_service').val('');
          $('#divisi_pemilik_kendala_self_service').hide();

          $('#nama_pemilik_kendala_self_service').attr('disabled', true);
          $('#nama_pemilik_kendala_self_service').val('');
          $('#nama_pemilik_kendala_self_service').hide();

          $('#jabatan_pemilik_kendala_self_service').attr('disabled', true);

          $('#priority_pemilik_kendala_self_service').attr('disabled', true);

          $('#nama_pemilik_kendala_others1').select2();
          $('#divisi_pemilik_kendala_others1').select2();
          $('#area_pemilik_kendala_others1').select2();
          $('#jabatan_pemilik_kendala_others1').select2();
        }
        return $("input[name='ticket[pemilik_kendala]']").click(function () {
            var value = $(this).val();
            var divisi = $("#divisi_pemohon").val();
            var nama = $("#nama_pemohon").val();
            var area = $("#area_pemohon").val();
            if (value == "2") { //self service
                document.getElementById("label_nama_pemilik_kendala").style.display = "inline";
                document.getElementById("label_satuan_kerja_pemilik_kendala").style.display = "inline";
                document.getElementById("label_area_pemilik_kendala_self_service").style.display = "inline";
                document.getElementById("label_jabatan_pemilik_kendala").style.display = "none";

                document.getElementById("area_pemilik_kendala_others").style.display = "none";
                document.getElementById("area_pemilik_kendala_others1").required = false;
                $('#area_pemilik_kendala_others1').attr('disabled', true);

                document.getElementById("nama_pemilik_kendala_others").style.display = "none";
                document.getElementById("nama_pemilik_kendala_others1").required = false;
                $('#nama_pemilik_kendala_others1').attr('disabled', true);

                document.getElementById("divisi_pemilik_kendala_others").style.display = "none";
                document.getElementById("divisi_pemilik_kendala_others1").required = false;
                $('#divisi_pemilik_kendala_others1').attr('disabled', true);

                document.getElementById("jabatan_pemilik_kendala_others").style.display = "none";
                document.getElementById("jabatan_pemilik_kendala_others1").required = false;
                $('#jabatan_pemilik_kendala_others1').attr('disabled', true);

                document.getElementById("priority_pemilik_kendala_others").style.display = "none";
                document.getElementById("priority_pemilik_kendala_others").required = false;
                $('#priority_pemilik_kendala_others').attr('disabled', true);

                $('#nama_pemilik_kendala_self_service').show();
                $('#nama_pemilik_kendala_self_service').val(nama);
                $('#nama_pemilik_kendala_self_service').attr('readonly', true);
                $('#nama_pemilik_kendala_self_service').attr('disabled', false);

                $('#divisi_pemilik_kendala_self_service').show();
                $('#divisi_pemilik_kendala_self_service').val(divisi);
                $('#divisi_pemilik_kendala_self_service').attr('readonly', true);
                $('#divisi_pemilik_kendala_self_service').attr('disabled', false);

                $('#area_pemilik_kendala_self_service').show();
                $('#area_pemilik_kendala_self_service').val(area);
                $('#area_pemilik_kendala_self_service').attr('readonly', true);
                $('#area_pemilik_kendala_self_service').attr('disabled', false);

                // $('#area_pemilik_kendala_self_service').val(area);
                // $('#area_pemilik_kendala_self_service').attr('readonly', true);
                // $('#area_pemilik_kendala_self_service').attr('disabled', false);

                $('#jabatan_pemilik_kendala_self_service').attr('disabled', false);

                $('#priority_pemilik_kendala_self_service').attr('disabled', false);

            } else { //others
                document.getElementById("label_nama_pemilik_kendala").style.display = "inline";
                document.getElementById("label_satuan_kerja_pemilik_kendala").style.display = "inline";
                document.getElementById("label_area_pemilik_kendala_self_service").style.display = "inline";
                document.getElementById("label_jabatan_pemilik_kendala").style.display = "inline";

                document.getElementById("nama_pemilik_kendala_others").style.display = "inline";
                document.getElementById("nama_pemilik_kendala_others1").required = true;
                $('#nama_pemilik_kendala_others1').attr('disabled', false);

                document.getElementById("divisi_pemilik_kendala_others").style.display = "inline";
                document.getElementById("divisi_pemilik_kendala_others1").required = true;
                $('#divisi_pemilik_kendala_others1').attr('disabled', false);

                document.getElementById("jabatan_pemilik_kendala_others").style.display = "inline";
                document.getElementById("jabatan_pemilik_kendala_others1").required = true;
                $('#jabatan_pemilik_kendala_others1').attr('disabled', false);

                document.getElementById("priority_pemilik_kendala_others").style.display = "inline";
                document.getElementById("priority_pemilik_kendala_others").required = false;
                $('#priority_pemilik_kendala_others').attr('disabled', false);

                document.getElementById("area_pemilik_kendala_others").style.display = "inline";
                document.getElementById("area_pemilik_kendala_others1").required = false;
                $('#area_pemilik_kendala_others1').attr('disabled', false);

                // $('#area_pemilik_kendala_self_service').val(area);
                // $('#area_pemilik_kendala_self_service').attr('readonly', true);
                // $('#area_pemilik_kendala_self_service').attr('disabled', false);
                $('#area_pemilik_kendala_self_service').attr('disabled', true);
                $('#area_pemilik_kendala_self_service').val('');
                $('#area_pemilik_kendala_self_service').hide();

                $('#divisi_pemilik_kendala_self_service').attr('disabled', true);
                $('#divisi_pemilik_kendala_self_service').val('');
                $('#divisi_pemilik_kendala_self_service').hide();

                $('#nama_pemilik_kendala_self_service').attr('disabled', true);
                $('#nama_pemilik_kendala_self_service').val('');
                $('#nama_pemilik_kendala_self_service').hide();

                $('#jabatan_pemilik_kendala_self_service').attr('disabled', false);

                $('#priority_pemilik_kendala_self_service').attr('disabled', false);
                
                $('#nama_pemilik_kendala_others1').select2();
                $('#divisi_pemilik_kendala_others1').select2();
                 $('#area_pemilik_kendala_others1').select2();
                $('#jabatan_pemilik_kendala_others1').select2();
            }
        })
    });

    $(document).ready(function(){
        var status_tiket = $('#status_tiket').val();

      $('#catatan_status').val("Saat ini, tiket Anda sedang dalam proses penanganan oleh teknisi kami. Mohon tunggu dengan sabar dan kami akan memberikan update secepatnya.Terima kasih");

            $('#status_tiket').change(function() {
              if($('#status_tiket').val() == 'On Processing') {
                $('#catatan_status').val("Saat ini, tiket Anda sedang dalam proses penanganan oleh teknisi kami. Mohon tunggu dengan sabar dan kami akan memberikan update secepatnya. Terima kasih");
              }else{
                  $('#catatan_status').val("");
              }
            });
      });

</script>