
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-10">
        <h2>History</h2>
    </div>
</div>
<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
<div class="col-lg-12">
<%=%>

                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>History</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link" href="">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <%
                                    unless current_user.roles.any? { |r| r.id == 2 }
                                        @ticket_history = TicketHistory.where('ticket_id = ?', @ticket.id).order(:created_at => :desc)
                                    else
                                        # @ticket_history = TicketHistory.where('ticket_id = ? and status_tiket != ?', @ticket.ticket_id, "Problem").order(:created_at => :desc)
                                        # @ticket_history = TicketHistory.where('ticket_id = ? AND status_tiket != ?', @ticket.ticket_id, "Answer").where('status_tiket != ?', "Problem").order(created_at: :desc)
                                        @ticket_history = TicketHistory.where('ticket_id = ?', @ticket.id)
                                                                        .where('status_tiket != ? OR status_tiket IS NULL', "Problem")
                                                                        .order(created_at: :desc)

                                    end
                                %>
                                <% if @offerflow %>
                                                <span style="font-size: 12px; color: #ccc; display: block; margin-top: 10px;">Silakan scroll untuk melihat lebih banyak informasi</span>
                                <% end %>
                                    <div class="ibox-content no-padding" id="ibox-content" s style="<%= 'overflow-y: auto; height: 300px; ::-webkit-scrollbar: thin;' if @offerflow%>">
                                        <ul class="list-group">
                                            <%unique_tickets = @ticket_history.map { |keterangan| keterangan}.uniq(&:status_tiket) %>
                                            <% unique_tickets.each do |keterangan| %>                
                                                  <% filtered_ticket_history = @ticket_history.select { |t| t.keterangan == keterangan.try(:keterangan) } %>
                                                    <li class="list-group-item">
                    
                                                    <% unless filtered_ticket_history.empty? %>
                                                    <p>
                                                        <strong style="margin-bottom: 10px;">
                                                        <%if keterangan.try(:status_tiket).eql? "Auto Respond"%>
                                                            Admin
                                                        <%else%>
                                                            <% if keterangan.try(:status_tiket) == "Waiting" || keterangan.try(:status_tiket).blank? %>
                                                                <%= @ticket_history.map { |value| value }.first.ticket.nama_pemilik_kendala %>
                                                            <%elsif keterangan.try(:status_tiket) == "Closed"%>
                                                                <% filtered_ticket_history.first.try(:inputer)%> Admin
                                                            <%elsif keterangan.try(:status_tiket) == "On Processing"%>
                                                                <%=keterangan.ticket.try(:teknisi).blank? ? "Admin" : keterangan.ticket.try(:teknisi)%>
                                                            <% else %>
                                                                <%= filtered_ticket_history.first.try(:issued_by)%> 
                                                            <% end %>
                                                        <%end%>
                                                            - Status <%= keterangan.try(:status_tiket).blank? ? "Waiting" : keterangan.try(:status_tiket) %>
                                                        </strong>
                                                    </p>
                                                    <textarea class="form-control" style="resize: none; border-color: transparent;     
                                                        border: none;
                                                        overflow: auto;
                                                        outline: none;
                                                        font-size: 14px;
                                                        text-align: right;
                                                        white-space: pre-wrap;
                                                        word-wrap: break-word;" disabled><%if (keterangan.try(:status_tiket).eql? "On Processing") && (keterangan.try(:status_tiket).blank? || keterangan.try(:status_tiket).present?) %>Tiket layanan sedang dalam proses, Terimakasih dan mohon ditunggu :)) <% filtered_ticket_history.map(&:ticket).pluck(:catatan_status).first %><%elsif keterangan.try(:status_tiket).eql? "Closed" %> Tiket layanan sudah terselesaikan, Terimakasih telah menggunakan layanan Servicedesk :))<%elsif keterangan.try(:status_tiket).eql? "Waiting" || keterangan.try(:status_tiket).nil?   %><%= @ticket_history.map{|value| value}.first.ticket.try(:keterangan).strip%>  <%else%><%= keterangan.try(:keterangan) %><%end%>
                                                    </textarea>
                                                    <small class="block text-muted"><i class="fa fa-clock-o"></i> <%= filtered_ticket_history.first.created_at.strftime("%d %B %Y")%> - <%= filtered_ticket_history.first.created_at.strftime("%H:%M")%></small>
                                                    <% end %>
                                                </li>
                                            <% end %>

                                        </ul>
                                    </div>
                            </div>
                       
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">
$(function() {
    $(document).ready(function () {
        $('#ibox-content').removeClass('ibox-content');
        $('#vertical-timeline').removeClass('dark-timeline');
        $('#vertical-timeline').addClass('light-timeline');

  // set default textarea height
        $('textarea').each(function () {
            this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px; overflow-y:hidden;');
        }).on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });

    });

});
</script>

<% end %>



