
<div class="message <%= ticket_history.issued_by == current_user.username ? 'sent' : 'received' %>">
  <div class="message-avatar">
    <i class="fa fa-user" title="<% if ticket_history.status_tiket.eql? "Auto Respond" %>Admin<% else %> <%= ticket_history.issued_by == current_user.username ? 'sent' : 'received' %><% end %>"></i>
  </div>
  <div class="message-body">
    <div class="message-content"><%= ticket_history.try(:keterangan) %></div>
    <div class="message-time"><%= ticket_history.created_at.strftime("%H:%M") %></div>
  </div>
</div>
