<div class="row">
    <div class="col-md-6">
      <h3>Pemohon</h3>
      <h3 style="color: transparent;">a</h3>
      <br>
      <div class="form-group">
        <%= f.label "Nama", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :nama_pemohon, class: "form-control", id: "nama_pemohon", value: sessionName, readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Satuan Kerja", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :divisi_pemohon, class: "form-control", id: "divisi_pemohon", value: sessionDivision, readonly: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :area_pemohon, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <select data-placeholder="Pilih Area" class="form-control" name="ticket[area_pemohon]" id="area_pemohon" data-live-search="true">
            <%= raw(getAreaParams(sessionArea.strip)) %>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Pemilik Kendala</h3>
      <div class="form-group">
        <%= f.label "Pilih Kendala", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <input type="radio" value="2" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala-self-service">
          <label>Self Service</label>
          <input type="radio" value="0" class="messageCheckbox" name="ticket[pemilik_kendala]" id="pemilik-kendala-others">
          <label>Others1</label>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Nama", class: "col-sm-2 control-label", id: "label_nama_pemilik_kendala" %>
        <div class="col-sm-10">
          <%= f.text_field :nama_pemilik_kendala, class: "form-control", id: "nama_pemilik_kendala_self_service" %>
          <div id="nama_pemilik_kendala_others">
            <select data-placeholder="Pilih Nama" class="form-control" name="ticket[nama_pemilik_kendala]" id="nama_pemilik_kendala_others1" data-live-search="true">
              <%= raw(getLDAP) %>
            </select>
            <% unless getLDAP.present? %>
              <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Jabatan", class: "col-sm-2 control-label", id: "label_jabatan_pemilik_kendala"  %>
        <div class="col-sm-10">
          <%= f.hidden_field :jabatan_pemilik_kendala, class: "form-control", id: "jabatan_pemilik_kendala_self_service" %>
          <div id="jabatan_pemilik_kendala_others1">
            <input type="text" class="form-control" id="jabatan_pemilik_kendala_others" readonly>
          </div>
        </div>
      </div>
    </div>
</div>