<hr style="border-color: black;">
<%= f.hidden_field :sub_kategori, class: "sub_kategori_followup" %>
<div class="form-group">
  <label class="col-sm-2 control-label">Status Ticket <p style="font-size: 10px;"></p></label>
  <div class="col-sm-10">
    <%= select_tag(:status_tiket, "<option value='On Processing'>On Processing</option>".html_safe, class: 'form-control', name: 'ticket[status_ticket]') %>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Keterangan <p style="font-size: 10px;"></p></label>
  <div class="col-sm-10">
    <%= f.text_area :catatan_status, class: "form-control", id: "catatan_status", style: "resize: none; height: 10em;" %>
  </div>
</div>
<script>
  $('#sub_kategori').on('change', function() {
    var sub_kategori_followup = $(this).val();
    $('.sub_kategori_followup').val(sub_kategori_followup);
  });
</script>