<div class="panel panel-default">
  <div class="panel-heading">Form Ticket - <%= @ticket.try(:no_tiket)%>
          <% if roleActive.permissions.ticket.superadminEdit? && roleActive.id != 2 %>  
             <div class="ibox-tools">
                <a class="dropdown-item"  href="<%= superadminEdit_ticket_path(@ticket.id)%>">
                    <i class="fa fa-wrench"></i>
                </a>
            </div>
          <%end%>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
<%
=begin%>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">No Ticket</label>
            <div class="col-sm-6">
              <input type="text" value="<%= @ticket.try(:no_tiket)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
<%
=end%>
      <div class="row">
        <div class="col-md-6">
          <h3>Pemohon</h3>
          <br>
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:nama_pemohon)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Satuan Kerja</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:divisi_pemohon)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Pemilik Kendala</h3>
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:nama_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Satuan Kerja</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:divisi_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Area</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:area_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>

      <hr style="border-color: black;">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Kategori</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:kategori)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Sub Kategori</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:sub_kategori)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Jenis Layanan</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:jenis_layanan)%>" class="form-control" disabled>
            </div>
          </div>
          <%if @ticket.try(:status_tiket).present?%>          
            <div class="form-group">
              <label class="col-sm-2 control-label">Status Tiket</label>
              <div class="col-sm-10">
                <input type="text" value="<%= @ticket.try(:status_tiket)%>" class="form-control" disabled>
              </div>
            </div>
          <%end%>  
        </div>
      </div>
      <div class="row">
<%
=begin%>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Sub Layanan</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:sub_kategori)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
<%
=end%>
      <%if @ticket.teknisi.present?%>   
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Teknisi</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket.try(:teknisi)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
        
        <%# <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label"> Status Antrian</label>
            <div class="col-sm-10">
              <input type="text" value="antrian 2 tiket" class="form-control" disabled>
            </div>
          </div>
        </div>         %>
      <%end%>        
      <div class="row">

      </div>    
      <hr style="border-color: black;">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Keterangan</label>
            <div class="col-sm-10">
             <textarea class="form-control" style="resize: none; height: 10em; border-color: transparent;" disabled><%= @ticket.try(:keterangan)%></textarea>
            </div>
          </div>
        </div>
        <% if @ticket.lampiran.attached? %>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Lampiran</label>
            <div class="col-sm-10">
                <td>
                <% @ticket.lampiran.each do |lampiran| %>
                  <span style="margin-right: 10px">
                    <%= link_to "#{[ "#{lampiran.filename}" ]}", rails_blob_path(lampiran, disposition: 'preview'), :target => "_blank" %>
                    <%# <%= link_to '', url_for(controller: :tickets, action: :delete_file_lampiran, attachment_id: lampiran.id), class: 'fa fa-close', method: "DELETE", data: { confirm: 'Apa kamu yakin?' }                     <br> %>
                  </span>
                <% end %>

            </td>
            </div>
          </div>
        </div>
        <% end %>

      </div>

      <% if @ticket.ticket_approval.joins(:user).pluck('users.username').first.present?%>
        
        <div class="form-group" id="approvals">
          <label class="col-sm-1 control-label">Nama Atasan Terkait</label>
          <div class="col-sm-11">
            <% if @ticket.ticket_approval.map(&:status).first == "Approved" %>
              <label class="control-label" style="color: green;"><%= @ticket.ticket_approval.map(&:status).first %></label>
            <%elsif  @ticket.ticket_approval.map(&:status).first == "On Approval" %>
              <label class="control-label" style="color: blue;"><%= @ticket.ticket_approval.map(&:status).first %></label>
            <% else %>
              <label class="control-label" style="color: red;"><%= @ticket.ticket_approval.map(&:status).first %></label>
            <% end %>          
            <%unless request.url.include?"notification"%>
              <select data-placeholder="Pilih Nama" class="form-control" name="ticket[atasan_id]" id="getLdapUser" data-live-search="true">
                <%if @ticket.ticket_approval.joins(:user).pluck('users.username').first.present? %>
                  <%= raw(getLDAPParams(@ticket.ticket_approval.joins(:user).pluck('users.username').first))%>
                <%else%>
                  <%= raw(getLDAP)%>
                <%end%>
              </select>
              <% unless getLDAP.present? %>
                <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
              <% end %>
            <%else%>
              <input type="text" value="<%=@ticket.ticket_approval.joins(:user).pluck('users.username').to_s.gsub("[","").gsub("]","").gsub('"',"")%>" class="form-control" disabled>
            <%end%>
          </div> 

          <div class="col-sm-11">
            <input type="text" value="<%=@ticket.ticket_approval.map(&:catatan).first.nil? ? "Tidak Ada Catatan" : @ticket.ticket_approval.map(&:catatan).first%>" class="form-control" disabled>
          </div> 
        </div>
      <%end%>
    </form>
  </div>
</div>

<script>
   $("#getLdapUser").select2();
</script>