<%= tag :meta, name: 'ticket-id', content: @ticket.id %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <strong>Chat room </strong> can be used to create chat room in your app.
          You can also use a small chat in the right corner to provide live discussion.     <%=@ticket.status_tiket%>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox chat-view">
        <div class="ibox-title">
            <%if @ticket_history.present? && @ticket_history.try(:created_at).present?%>
                <small class="pull-right text-muted">Last message:  <%=@ticket_history.map(&:created_at).last.strftime("%d %B %Y") %> - <%=@ticket_history.map(&:created_at).last.strftime("%H %M") %></small>
                    Chat room panel - Ticket <%= @ticket_history.map(&:no_tiket).last  %>
            <%end%>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12">
              <div class="chat-discussion" id="chat-discussion">
                <%
                    status = ["Answer", "Auto Respond"]
                    @ticket_history = TicketHistory.where(no_tiket: @ticket.no_tiket, status_tiket: status)

                    unless current_user.roles.any? { |r| r.id == 2 } 
                    @ticket_history = @ticket_history.order(created_at: :asc)
                    else
                    @ticket_history = @ticket_history.order(keterangan: :asc, created_at: :asc)
                    end
                %>
                <style>
                    .chat-container {
                        display: flex;
                        flex-direction: column;
                        height: calc(100vh - 80px);
                        /* overflow-y: auto; */
                    }

                    .chat-date {
                        text-align: center;
                        font-size: 12px;
                        color: gray;
                        margin: 10px 0;
                    }

                    .message {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 10px;
                        align-items: center;
                    }

                    .message.sent {
                      flex-direction: row-reverse;
                    }

                    .message-avatar {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .message-avatar i {
                         font-size: 18px;
                    }

                    .message-body {
                        display: flex;
                        flex-direction: column;
                        max-width: 95%;
                    }

                    .message-content {
                        /* background-color: #f1f0f0; */
                        padding: 10px;
                        border-radius: 20px;
                        font-size: 16px;
                        margin-bottom: 5px;
                        word-wrap: break-word;
                    }

                    .message-time {
                        font-size: 12px;
                        color: gray;
                        align-self: flex-end;
                    }

                </style>
                <div class="chat-container" id="chat-list" data-channel="<%= @ticket.no_tiket %>">
                  <% @ticket_history.sort_by(&:created_at).reverse_each do |ticket_history| %>
                    <%message_type = (ticket_history.issued_by == current_user.name ) || (ticket_history.issued_by == ticket_history.ticket.nama_pemohon) ? 'sent' : 'received' %>
                    <%user = User.all%>
                    <div class="message <%= message_type %>">
                      <%if (roleActive.id == 2) && (!ticket_history.status_tiket.eql? "Auto Respond")%>
                        <%if (ticket_history.issued_by == current_user.name) %>
                          <a style="padding-right:10px;" class="delete-button " href="<%= ticket_destroy_chat_helper_json_path(ticket_id: ticket_history.ticket_id, id: ticket_history.id) %>">
                            <i class="fa fa-trash"></i> 
                          </a> 
                        <%end%>
                      <%elsif user.find_by(name: ticket_history.issued_by).roles.ids.reject { |id| id == 2 }.present?%>
                          <a style="padding-right:10px;" class="delete-button " href="<%= ticket_destroy_chat_helper_json_path(ticket_id: ticket_history.ticket_id, id: ticket_history.id) %>">
                            <i class="fa fa-trash"></i> 
                          </a>
                      <%end%>
                      <div class="message-avatar">
                        <i class="fa fa-user" title="<% if ticket_history.status_tiket.eql? "Auto Respond" %> <%= "Admin" %> <% else %> <%= ticket_history.issued_by %> <% end %>"></i>
                      </div>
                      <div class="message-body">
                        <div class="message-content"> <%= simple_format(ticket_history.try(:keterangan)) %></div>
                        <div class="message-time" data-time="<%= ticket_history.created_at.to_i %>"><%= ticket_history.created_at.strftime("%H:%M") %></div>                        
                      </div>
                    </div>
                    
                  <% end %>
                </div>

                <script>
                  // Fungsi untuk mengarahkan scrollbar ke bawah
                  function scrollToBottom() {
                    var chatContainer = document.querySelector('.chat-container');
                    chatContainer.scrollTop = chatContainer.scrollHeight;
                  }

                  // Memanggil fungsi untuk mengarahkan scrollbar ke bawah saat pertama kali halaman dimuat
                  scrollToBottom();

                  // Memuat pesan baru secara otomatis dengan menggunakan AJAX setiap 5 detik
                  setInterval(function() {
                    var firstMessageTime = document.querySelector('.message-time:first-child');
                    var url = '/load_new_messages?channel=' + <%= @ticket.no_tiket %> + '&first_time=' + firstMessageTime.dataset.time;

                    fetch(url)
                      .then(function(response) {
                        return response.text();
                      })
                      .then(function(html) {
                        var chatContainer = document.querySelector('.chat-container');
                        chatContainer.insertAdjacentHTML('afterbegin', html);
                      });
                  }, 5000);
                </script>

              </div>
            </div>
          </div>
         <%= form_for(@ticket, html: { class: "form-horizontal", role: "form" }) do |f| %>
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group input-group-sm">
                <!-- <input type="text" class="form-control", name="ticket[keterangan]", id="chat-input-field" data-channel="<%= @ticket.no_tiket %>"> -->
                <textarea class="form-control"  style="resize: vertical;" name="ticket[keterangan]" id="chat-input-field" data-channel="<%= @ticket.no_tiket %>"></textarea>
                
                <span class="input-group-btn">
                    <%if ( @ticket.status_tiket.present? && @ticket.status_tiket != "Closed" ) ||(@ticket.status_tiket.nil?) %>
                      <%= f.submit "Send", class: "btn btn-primary", id: "send-message", "data-action": "click->messages#send" %>
                    <%else%>
                      <%= f.submit "Send", class: "btn btn-primary", id: "send-message", "data-action": "click->messages#send", disabled: true %>
                    <%end%>
                </span>
              </div>
            </div>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const chatInputField = document.getElementById("chat-input-field");
    const sendButton = document.getElementById("send-message");

    chatInputField.addEventListener("keydown", function(event) {
      if (event.key === "Enter" && !event.shiftKey) {
        sendButton.click();
        event.preventDefault();
      }
    });
  });
</script>
