<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
  body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
  }

  .ibox-title {
    font-size: 10px;
    font-style: italic;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .in-table tr td,
  .in-table tr th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 3px;
  }

  .in-table tr th {
    background-color: #c6d9f0;
  }

  .in-table table {
    border: 0px;
    margin-top: 5px;
  }

  .bottom-table tr td {
    border-collapse: collapse;
    border: 1px solid black;
    padding-left: 3px;
  }

  /*table, tr, td, th, tbody, thead, tfoot {*/
  /*  page-break-inside: avoid !important;*/
  /*}*/
  table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  .logo{
   width: 100px;
  }

  /* .border-1{
    border-style:groove;
	  border-width: 1px;
    
  } */
  .test{
    margin-left:5px;
  }
  div.alwaysbreak {
     page-break-before: always; 
  }

  .bottom{
        position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  .footer {
    height: 50px; /* the footer's total height */
  }
  .footer-content {
    padding-top: 200px;
  }
  .text-danger {
  color: #a94442;
}
</style>
<div>
    <div class="border-1" style="padding: 2px " >
      <table class="bottom-table" >
        <thead class="mb-5"style="border: none;">
            <tr style="border: none;">
            <td colspan="3"  style="border: none;">
                
                <h6 style="text-align: right; font-style: italic;font-size: 16px; " >
                 
                <div class="col">
                    <%= image_tag wicked_pdf_asset_base64('pgn.png'), :height=>40%> 
                </div>
                </h6>
            </td>
            </tr>
        </thead> 
      </table>

      <table class="table table-bordered" >
            <thead>
                <tr>
                      <th>No</th>
                      <th>Open Tiket</th>
                      <th>No tiket</th>
                      <th>Kategori</th>
                      <th>Sub kategori</th>
                      <th>Tipe layanan</th>
                      <th>Teknisi</th>
                      <th>Priority</th>
                      <th>Status tiket</th>
                      <% unless roleActive.id == 2 %>
                        <th>Resolution Time</th>
                      <% end %>
                      <th>Satisfaction</th>
                </tr>
            </thead>

                    <tbody>
                  
            <% @tickets.each_with_index do |ticket, index| %>
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= ticket.created_at.strftime(" %m/%d/%Y at %I:%M%p" )    %></td>
                    <td><%= ticket.no_tiket %></td>
                    <td><%= ticket.kategori %></td>
                    <td><%= ticket.sub_kategori %></td>
                    <td><%= ticket.jenis_layanan %></td>
                    <td><%= ticket.teknisi %></td>
                    <td><%= ticket.priority %></td>
                    <td align="center">
                      <style>
                        .status-tiket{
                          font-size: 12px;
                          color: black;
                        }
                      </style>
                      <%# status tiket open,solved,closed,pending,on proces,planning %>
                     <% if ticket.status_tiket %>
                      <% if ticket.status_tiket.match(/(Waiting|Problem|Eskalasi)/)%>
                        <span class="label label-danger status-tiket "><%= ticket.status_tiket %></span>
                      <% elsif ticket.status_tiket.match(/(Processing Assign|Processing Plan)/) %>
                        <span class="label label-warning status-tiket"><%= ticket.status_tiket %></span>
                      <% elsif ticket.status_tiket.match(/(On Processing)/) %>
                        <span class="label label-info status-tiket"><%= ticket.status_tiket %></span>
                      <% elsif ticket.status_tiket.match(/(Solved|Closed)/) %>
                        <span class="label label-primary status-tiket"><%= ticket.status_tiket %></span>
                      <% end %>
                    <% else %>
                      <span class="label label-default status-tiket">No Status</span>
                    <% end %>

                    </td>
                    <% unless roleActive.id == 2 %>
                      <td><%= ticket.resolution_time %></td>
                    <% end %>
                    <td width="10">
                      <% unless ticket.satisfaction.blank? %>
                        <% while ticket.satisfaction >= 1 %>
                          <i class="fa fa-star text-danger"></i>
                          <% ticket.satisfaction = ticket.satisfaction - 1 %>
                        <% end %>
                      <% end %>
                    </td>
                 
                </tr>
                <% end %>
            </tbody>
        <%# <tfoot >
        <tr style="border: none;">
            <td colspan="10" style="border: none; text-align: center;  position: fixed; margin-top: 300px;">test</td>
        </tr>
        </tfoot> %>
      </table>
      <tfoot style="vertical-align:bottom" class="footer">
        <tr style="height:100px">
          <td> 
               <p class="pt-3"  style="text-align: center;"><%=Time.zone.now.strftime("Printed on %m/%d/%Y at %I:%M%p"   ) %></p>
           <%# <div class="footer-content"  style="text-align: center;">Sticky Footer</div> %>
          </td>
        </tr>
      </tfoot>
    </div>

</div>
