<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
          <h2>Form Ticket</h2>
          <ol class="breadcrumb">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="<%= tickets_url %>">List</a>
            </li>
            <li class="active">
              <strong>Form</strong>
            </li>
          </ol>
        </div>
      </div>
      <div class="ibox-content" style="background: none; border: none;">
        <div class="page-header">
          <%= link_to tickets_path, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Back
          <% end %>
          <%= link_to @ticket, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-info-sign"></span>
          Show
          <% end %>
          <h1>Editing ticket</h1>
        </div>
        <%= render 'edit' %>
      </div>
    </div>
  </div>
</div>
