<%
=begin
%>
<div class="panel panel-default">
  <div class="panel-heading">Form Ticket - <%=@ticket.no_tiket%> 
   
     <div class="ibox-tools">
                          
     <%# <input class="form-check-input" id="checkbox1" type="checkbox">
            <label class="form-check-label" for="checkbox1">
                Mengetahui Atasan
            </label>          %>
     </div>                           
  </div>
  
  <div class="panel-body">
  <%# <%= form_for :status_reports, url: process_tickets_followup_path, method: :post, html: {class: "form-horizontal", role: "form"} do |submit| %> 
    <%= form_for(@ticket, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @ticket.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h4>

        <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col-md-6">
        <div class="form-group">
            <%= f.hidden_field :no_tiket, class: "col-sm-2 control-label" %>
            <div class="col-sm-3">
                <%= f.hidden_field :no_tiket, class: "form-control", value: @ticket.no_tiket, disabled: true %>
            </div>
        </div>
        </div>
    </div>
    <%# <br>
    <br> %>

    <div class="row">
        <div class="col-md-6">
        <h3>Pemohon</h3>
        <%# <h3 style="color: transparent;">a</h3> %>
        <%# <br> %>
        <div class="form-group">
            <%= f.label "Nama", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.text_field :nama_pemohon, class: "form-control", id: "nama_pemohon", disabled: true %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Satuan Kerja", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.text_field :divisi_pemohon, class: "form-control", id: "divisi_pemohon", disabled: true %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Priority", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= select_tag(:priority, options_for_select(["Very Low","Low","Medium","Hight","Very Hight"], @ticket.try(:priority) ), {:class => 'form-control', :name => 'ticket[status_ticket]'})  %>           
            </div>
        </div>
        <div class="form-group">
            <%= f.hidden_field :area_pemohon, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.hidden_field :area_pemohon, class: "form-control", id: "area_pemohon", disabled: true %>
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <h3>Pemilik Kendala</h3>
        <div class="form-group">
            <%= f.label "Nama", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.text_field :nama_pemilik_kendala, class: "form-control", readonly: true %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Jabatan", class: "col-sm-2 control-label"  %>
            <div class="col-sm-10">
            <%= f.text_field :jabatan_pemilik_kendala, class: "form-control", disabled: true %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Satuan Kerja", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.text_field :divisi_pemilik_kendala, class: "form-control", disabled: true %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Area", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
            <%= f.text_field :area_pemilik_kendala, class: "form-control", readonly: true %>
            </div>
        </div>
        </div>
    </div>

    <hr style="border-color: black;">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <%= f.label :kategori, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                
                 <select data-placeholder="Pilih Kategori" class="form-control kategori_select" name="ticket[kategori]" id="kategori" data-live-search="true" onchange="setKategori()" required <%= "disabled" if roleActive.id == 2 %> >
                        <% if @ticket.kategori.present? %>
                            <%= raw(getKategoriParams(@ticket.kategori.strip))%>
                        <% else %>
                            <%= raw(getKategori)%>
                        <% end %>
                 </select>
                </div>
                </div>
                <div class="form-group">
                <%= f.label :sub_kategori, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <select data-placeholder="Pilih Kategori" class="form-control kategori_select" name="ticket[sub_kategori]" id="sub_kategori" data-live-search="true" onchange="" required, <%= "disabled" if roleActive.id == 2 %> >
                    <% if @ticket.sub_kategori.present? %>
                        <%= raw(getSubKategoriParams(@ticket.sub_kategori.strip))%>
                    <% else %>
                        <%= raw(getSubKategori)%>
                    <% end %>
                    </select>
                    <%= f.hidden_field :sub_kategori, :value =>  @sub_category %>
                </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                <%= f.label :jenis_layanan, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%# <%= f.text_field :jenis_layanan, class: "form-control", readonly: true %>
                     <%= f.select :jenis_layanan, ["Request", "Insiden"], {prompt: ""}, id: "jenis_layanann", class: 'dtSource form-control type_layanan' %>
                </div>
                </div>
                <%if @ticket.catatan_kategori.present?%>
                    <div class="form-group" id="perangkat">
                        <%= f.label :assets, "Nama Perangkat", class: "col-sm-2 control-label" %>
                        <div class="col-sm-10">
                            <%= f.text_field :assets, class: "form-control", readonly: true %>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-1 control-label">Keterangan <p style="font-size: 10px;">(optional)</p></label>
            <div class="col-sm-11">
                <%= f.text_area :keterangan, class: "form-control", id: "keterangan", style: "resize: none; height: 10em;", :required => true %>
            </div>
        </div>
    
    
    <hr style="border-color: black;">

        <input type="hidden" name="status_edit" value="superadmin">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <%= f.label :teknisi, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <select data-placeholder="Pilih Teknisi" class="form-control" name="ticket[teknisi]" onchange="setStatusTiket()" id="teknisi" data-live-search="true" required>
                        <%if @ticket.teknisi.present?%>
                            <%= raw(superadmingetTeknisiParams(@ticket.teknisi))%>
                        <%else%>
                            <%= raw(getTeknisi)%>
                        <%end%>
                    </select>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <%= f.label :status_teknisi, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= f.text_field :status_teknisi, class: "form-control", id: "status_teknisi", readonly: true %>
                </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Status Ticket <p style="font-size: 10px;"></p></label>
            <div class="col-sm-10">
           <%= select_tag(:status_tiket, options_for_select(["Solved","Closed","Pending","On Processing","Planning","Processing Assign"], "On Processing" ), {:class => 'form-control', :name => 'ticket[status_ticket]'})  %> 
                  
            </div>
        </div>
       

        <div class="form-group">
            <label class="col-sm-2 control-label">Keterangan <p style="font-size: 10px;"></p></label>
            <div class="col-sm-10">
            <%= f.text_area :catatan_status, class: "form-control", id: "catatan_status", style: "resize: none; height: 10em;" %>
            </div>
        </div>


        <%if @ticket.ticket_approval.joins(:user).pluck('users.username').first.present?%>
              <div class="form-group">
                <label class="col-sm-2 control-label">Nama Atasan Terkait </label>
                <div class="col-sm-10">
                    <select data-placeholder="Pilih Nama" class="form-control" name="ticket[atasan_id]" id="getLdapUser" data-live-search="true">
                        <%if @ticket.ticket_approval.joins(:user).pluck('users.username').first.present? %>
                         <%= raw(getLDAPParams(@ticket.ticket_approval.joins(:user).pluck('users.username').first))%>
                        <%else%>
                         <%= raw(getLDAP)%>
                        <%end%>
                    </select>
                    <% unless getLDAP.present? %>
                    <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
                    <% end %>
                </div> 
            </div>
  
        <%end%>
        <%# <div id="approve_atasan">
  
            <div class="form-group">
                <label class="col-sm-2 control-label" for="ticket_Satuan Kerja">Nama Atasan</label>
                <div class="col-sm-10">
                <input class="form-control"  type="text"  name="ticket[nama_atasan]">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="ticket_Satuan Kerja">Email Atasan</label>
                <div class="col-sm-10">
                <input class="form-control"  type="text"  name="ticket[email_atasan]">
                </div>
            </div>
          
        </div> %>
    
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Follow Up", class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
   <%# <% end %>
  </div>
</div>

<script>
  $("#getLdapUser").select2();


         $.getJSON("/helper_json/" + encodeURIComponent(sub_kategori.replace('/', '%20')) + "/getTemplatesByKategori/" + kategori_id,
          function(callback) {
            if (callback !== "error") {
              callback.map(template_pesan);
              // $("#status_teknisi").val(callback);
              // $("#antrian").val(callback);
            }
          });

    function setKategori(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var aru_id = $("#kategori").val();
      // console.log(aru_id);
      $.getJSON("/helper_json/" +aru_id+ "/getSubKategori",
        function ( callback ) {
        if (callback != "error"){
            // console.log(callback)
            for (var i = 0; i < callback.length; i++){
              var obj = callback[i];
                if (obj == null){
                  $("#sub_kategori").empty();
                  $("#jenis_layanan").empty();
                } else{
                  $("#sub_kategori").empty();
                  $("#sub_kategori").append('\
                    <option disabled selected>--Pilih Sub Kategori--</option>\
                  ');
                  var ukuran = obj['value'] ? JSON.parse(obj['value']) : "";
                  for (var i = 0; i < ukuran.length; i++) { // https://stackoverflow.com/questions/9329446/for-each-over-an-array-in-javascript
                      var value = ukuran[i];
                      // ...use `element`...
                      $("#sub_kategori").append(new Option(value));
                      // console.log(value);
                  }


          
                  $("#jenis_layanan").empty();
                  var tipe_layanan = obj['tipe_layanan']
                      // ...use `element`...
                  $("#jenis_layanan").val(tipe_layanan);
                }
            }
        }
      });
      
    }


 if($('#ticket_assets').val() == '') {
          $('#perangkat').hide();
        }else{
            $('#perangkat').show();
        }

jQuery(function () {
      $('#approve_atasan').hide();
    $('#checkbox1').change(function() {
      if ($(this).is(':checked')) {
        // console.log('Checkbox is checked');
        // Do something when checkbox is checked
        $('#approve_atasan').show();
      } else {
        // console.log('Checkbox is not checked');
        $('#approve_atasan').hide();
        // Do something when checkbox is not checked
      }
    });

    var status_tiket = $('#status_tiket').val();

 $('#catatan_status').val("Terimakasih telah menghubungi Helpdesk PGAS Solution, permintaan Bapak/Ibu sudah kami terima dan akan diteruskan pada teknisi terkait penanganannya");

    console.log(status_tiket);
       $('#status_tiket').change(function() {
        if($('#status_tiket').val() == 'On Processing') {
          $('#catatan_status').val("Terimakasih telah menghubungi Helpdesk PGAS Solution, permintaan Bapak/Ibu sudah kami terima dan akan diteruskan pada teknisi terkait penanganannya");
        }else{
            $('#catatan_status').val("");
        }
      });
});

  function setStatusTiket(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
    var aru_id = $("#teknisi").val();
    // console.log(aru_id);
    $.getJSON("/helper_json/" +aru_id+ "/getStatusTeknisi",
      function ( callback ) {
      if (callback != "error"){
        console.log(callback)
        $("#status_teknisi").val(callback);
      }
    });
  }
$('#teknisi').select2();

</script>

<%
=end
%>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">

      <div class="ibox-content" style="background: none; border: none;">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
