<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
   <%=%>
      <div class="ibox-content" style="background: none; border: none;">
        <%= render 'show' %>
      </div>
       <div class="ibox-content" style="background: none; border: none;">
        <%= render 'history' %>
      </div>
    </div>
  </div>
</div>
