<div class="panel panel-default">
  <div class="panel-heading">Form Aset SIT</div>
  <div class="panel-body">
<%= form_for(@assetssit, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @assetssit.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@assetssit.errors.count, "error") %> prohibited this assetssit from being saved:</h4>

      <ul>
      <% @assetssit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nama_perangkat, "Nama Perangkat", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
          <select data-placeholder="Pilih Nama Perangkat" class="form-control" name="assetssit[nama_perangkat]" id="assets" data-live-search="true" required>
              <%= raw(getCollectionAsset)%>
          </select>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :merk, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :merk, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tipe, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>