<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form assetssit</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= assetssits_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to new_assetssit_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Assetssit
    <% end %>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
                  <th>Nama perangkat</th>
                  <th>Merk</th>
                <th>type</th>
        <th>Aksi</th>
        <%# <th></th> %>
      </tr>
      </thead>

      <tbody>
      <% @assetssits.each_with_index do |assetssit, index| %>
      <tr>
        <td><%= index+1 %></td>
                  <td><%= assetssit.nama_perangkat %></td>
                  <td><%= assetssit.merk %></td>
                  <td><%= assetssit.tipe %></td>
                <td><%= link_to 'Show', assetssit %>
       <%= link_to 'Edit', edit_assetssit_path(assetssit) %>
       <%= link_to 'Destroy', assetssit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
