<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name" style="height: 150px;"><%= image_tag "helpdesk-logo.jpeg", width: 150 %></h1>

    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "m-t", role: "form", style: "padding-top: 30px;"}) do |f| %>
      <div class="form-group">
        <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username", class: "form-control", id: "username", required: true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control", required: true %>
      </div>
      <button type="submit" class="btn btn-info block full-width m-b">Login</button>
    <% end %>
    <%
      if Time.now.year > 2022
        date = "2022 - " + "#{Time.now.year}"
      else
        date = Time.now.year
        # Time.now.year
      end
    %>
    <p class="m-t"> <small>HELPDESK &copy; <%= date %></small> </p>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    //https://stackoverflow.com/questions/222740/how-to-get-the-new-value-of-an-html-input-after-a-keypress-has-modified-it
    var onChange = function(evt) {
      if (this.value.match(/(<|>|;|'|"|--)/)){
        regex = /(<|>|;|'|"|--)/;
        var hasil = this.value.replace(regex, '');
        $("#username").val(hasil);
      }
      // console.info(this.value);
      // or
      // console.info(evt.target.value);
    };
    var input = document.getElementById('username');
    input.addEventListener('input', onChange, false);
  </script>
<% end %>