<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-warning pull-left">Waiting</span>
        </div>
        <div class="ibox-content">
            <% @getWaiting = Ticket.where(status_tiket: "Waiting").count %>
            <h1 class="no-margins"><%= @getWaiting %></h1>
            <small>Total tiket</small>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-primary pull-left">Processing Assign</span>
        </div>
        <div class="ibox-content">
            <% @getProcessingAssign = Ticket.where(status_tiket: "Processing Assign").count %>
            <h1 class="no-margins"><%= @getProcessingAssign %></h1>
            <small>Total tiket</small>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-primary pull-left">Processing Plan</span>
        </div>
        <div class="ibox-content">
            <% @getProcessingPlan = Ticket.where(status_tiket: "Processing Plan").count %>
            <h1 class="no-margins"><%= @getProcessingPlan %></h1>
            <small>Total tiket</small>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-warning pull-left">Problem</span>
        </div>
        <div class="ibox-content">
            <% @getProblem = Ticket.where(status_tiket: "Problem").count %>
            <h1 class="no-margins"><%= @getProblem %></h1>
            <small>Total tiket</small>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-info pull-left">Solved</span>
        </div>
        <div class="ibox-content">
            <% @getSolved = Ticket.where(status_tiket: "Solved").count %>
            <h1 class="no-margins"><%= @getSolved %></h1>
            <small>Total tiket</small>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-info pull-left">Closed</span>
        </div>
        <div class="ibox-content">
            <% @getClosed = Ticket.where(status_tiket: "Closed").count %>
            <h1 class="no-margins"><%= @getClosed %></h1>
            <small>Total tiket</small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    Nilai Rata - Rata kepuasan karyawan
                    <small>Terkait kinerja kalian.</small>
                </h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div>
                    <canvas id="lineChart" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
                    <% content_for :javascript do %>

<script type="text/javascript">
    $(document).ready(function () {
        var lineData = {
        labels: [
            <%Ticket.select('DISTINCT ON(teknisi) *').order(:teknisi => :desc).each do |teknisi| %>
                "<%= teknisi.teknisi %>",
            <% end %>
        ],
        datasets: [
            {
                label: "Example dataset",
                fillColor: "rgba(26,179,148,0.5)",
                strokeColor: "rgba(26,179,148,0.7)",
                pointColor: "rgba(26,179,148,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(26,179,148,1)",
                data: [
                    <%Ticket.select('DISTINCT ON(teknisi) *').order(:teknisi => :desc).each do |teknisi| %>
                        <% @count = Ticket.where(teknisi: teknisi.teknisi).average(:satisfaction) %>
                        <% if @count.present? %>
                            "<%= number_with_precision(@count, :precision => 2, :delimiter => ',') %>",
                        <% else %>
                            "0",
                        <% end %>
                    <% end %>
                    
                ]
            }
        ]
    };

    var lineOptions = {
        scaleShowGridLines: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        scaleGridLineWidth: 1,
        bezierCurve: true,
        bezierCurveTension: 0.4,
        pointDot: true,
        pointDotRadius: 4,
        pointDotStrokeWidth: 1,
        pointHitDetectionRadius: 20,
        datasetStroke: true,
        datasetStrokeWidth: 2,
        datasetFill: true,
        responsive: true,
    };


    var ctx = document.getElementById("lineChart").getContext("2d");
    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
    })
</script>
<% end %>