<style>
@media (min-width: 768px) {
  .container {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    /* width: 90%; */
  }
}
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #18a689;
  }

  .owl-prev {
    left: -15px;
  }

  .owl-next {
    right: -15px;
  }
  
  .owl-carousel .owl-item img {
    width: 70% !important;
  }
  .card__background {
      /* background: linear-gradient(60deg, rgba(26, 179, 148, 1) 0%, rgba(0, 172, 193, 1) 100%); */
      background: linear-gradient(60deg, rgba(26, 179, 148, 0.5) 0%, rgba(0, 172, 193, 1) 90%);
      animation-name: card-appear;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    
    @keyframes card-appear {
      0% {
        opacity: 0;
        transform: scale(0.5);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
  }
</style>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@josephfusco/filterizr@6.3.5/dist/filterizr.min.css">
<script src="https://unpkg.com/@josephfusco/filterizr@6.3.5/dist/filterizr.min.js"></script>

  
</head>

  <button class="btn btn-warning  theme-config" style="margin-top: 10px; border-radius: 0 10px 10px 0;" onclick="showPopup()"><i class="fa fa fa-wechat fa-spin"></i> F.A.Q</button>
<div class=" col-lg-10" style="padding-top: 10px; padding-bottom: 0px; padding-top: 50px; padding-left:0px">
        <button type="button" class="col-lg-2 btn btn-outline btn-primary btn-rounded" style="font-weight: bold; margin-right: 15px;" id="insiden-btn">Insiden</button>
        <button type="button" class="col-lg-2 btn btn-outline btn-primary btn-rounded active" style="font-weight: bold;" id="request-btn">Request</button>
        <input placeholder="Search for something..." type="text" class="col-lg-6 btn btn-outline btn-warning btn-rounded" style="font-weight: bold; margin-left:15px;" id="search-input"></input>
      </div>
    <!--Waves end-->
      <div  id="section-insiden">
        <section class="hero-section">

            <div class="card-grid owl-carousel">
              <% Category.all.order("CASE WHEN name = 'Other' THEN 1 ELSE 0 END, name ASC").each do |category| %>
                <% kategori_id = category.id %>
                <% jenislayanan = category.jenis_layanan %>
                <% if jenislayanan.present? && (jenislayanan.include?('Insiden') || jenislayanan.include?('Keduanya')) %>
                  <a class="card" href="<%= dashboard_insiden_path(kategori_id) %>">
                  <%# style="background-image: url(https://images.unsplash.com/photo-1644954497793-9b0280236ca1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)" %>
                     <div class="card__background" ></div> 

                    <div class="card__content">
                    <% if category.lampiran_icon.attached? %>
                      <%= image_tag category.lampiran_icon, class: "card__image"%>
                    <% else %>
                      <!-- Alternative content or image placeholder goes here -->
                    <% end %>
                      <h3 class="card__heading"><%= category.name %></h3>
                      <br>
                         <small style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #fff;"><%= category.try(:deskripsi_kategori)%></small>
                    </div>
                  </a>
                <% end %>
              <% end %>
            <div> 
        </section>

        <div class="owl-nav">
  <%# <button class="owl-prev"><i class="fa fa-angle-left"></i></button>
  <button class="owl-next"><i class="fa fa-angle-right"></i></button> %>
</div>
      </div>
      <div  id="section-request">
        <section class="hero-section" >

            <div class="card-grid owl-carousel">
              <% Category.all.order("CASE WHEN name = 'Other' THEN 1 ELSE 0 END, name ASC").each do |category| %>
                <% kategori_id = category.id %>
                <% jenislayanan = category.jenis_layanan %>
                <% if jenislayanan.present? && (jenislayanan.include?('Request') || jenislayanan.include?('Keduanya')) %>
                  <a class="card" href="<%= dashboard_request_path(kategori_id) %>">
                    <div class="card__background" ></div>
                    <div class="card__content">
                      <% if category.lampiran_icon.attached? %>
                        <%= image_tag category.lampiran_icon, class: "card__image" %>
                      <% else %>

                        <!-- Alternative content or image placeholder goes here -->
                      <% end %>
                      <h3 class="card__heading"><%= category.name.gsub("-","/") %></h3> 
                      <br>
                      <small style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #fff;"><%= category.try(:deskripsi_kategori)%></small>
                    </div>
                  </a>
                <% end %>
              <% end %>
            <div>
  
        </section>
      </div>

   <%# <button type="button" class=" btn btn-outline btn-warning btn-rounded" style="margin:5px; padding: 5px 10px;  color: #fff; font-size: 18px;">Get Started</button> %>
    
	<div id="popup" class="popup">
		<h2>Frequently Asked Questions</h2>
		<p>Q: BAGAIMANA CARA MENGAJUKAN PERMINTAAN LAYANAN HELPDPESK?</p>
		<p>A: ANDA BISA MENGAJUKAN PERMINTAAN MELALUI FITUR PEMBUATAN TIKET LAYANAN.</p>
		<p>Q: BAGAIMANA SAYA DAPAT MENGHUBUNGI CS?</p>
		<p>A: ANDA DAPAT MENGHUBUNGI KAMI MELALUI EMAIL"SERVICEDESK@PGN-SOLUTION.CO.ID" & WHATSAPP "0851-5835-8885" (PADA JAM KERJA 08-16 WIB).</p>
		<button onclick="hidePopup()">Close</button>
	</div>




<script>
$(document).ready(function(){
  var owl = $('.owl-carousel');
  owl.owlCarousel({
    loop: false,
    margin: 20,
    nav: true,
    navText: ['<span class="owl-prev"><i class="fa fa-angle-left"></i></span>', '<span class="owl-next"><i class="fa fa-angle-right"></i></span>'],
    responsive:{
      0:{
        items: 1
      },
      600:{
        items: 3
      },
      1000:{
        items: 4
      },
      onInitialized: function(){
        searchCards();
      }
    }
  });

  $('#search-input').on('input', function() {
    searchCards();
  });

function searchCards() {
  var searchText = $('#search-input').val().toLowerCase();
  
  // Melakukan pencarian pada setiap elemen card di dalam slider
  $('.owl-carousel .card').filter(function(){
    var cardText = $(this).text().toLowerCase();
    return cardText.indexOf(searchText) !== -1;
  }).fadeIn();

  $('.owl-carousel .card').filter(function(){
    var cardText = $(this).text().toLowerCase();
    return cardText.indexOf(searchText) === -1;
  }).hide();

  // Menampilkan card "other" jika tidak ada hasil pencarian yang match
  var $otherCards = $('.card').not('.owl-carousel .card');
  if ($('.owl-carousel .card:visible').length === 0) {
    searchText = 'other';
    $otherCards.filter(function(){
      var cardText = $(this).text().toLowerCase();
      return cardText.indexOf(searchText) === -1;
    }).hide();

    $otherCards.filter(function(){
      var cardText = $(this).text().toLowerCase();
      return cardText.indexOf(searchText) !== -1;
    }).show();
  } else {
    $otherCards.hide();
  }

  // Melakukan pencarian pada setiap elemen card di slide yang baru tampil
  $('.owl-item:not(.cloned) .card').filter(function(){
    var cardText = $(this).text().toLowerCase();
    return cardText.indexOf(searchText) !== -1;
  }).fadeIn();

  $('.owl-item:not(.cloned) .card').filter(function(){
    var cardText = $(this).text().toLowerCase();
    return cardText.indexOf(searchText) === -1;
  }).hide();

  // Menyesuaikan posisi slide agar card yang match berada pada posisi awal slide
  $('.owl-item:not(.cloned)').each(function(index) {
    var $this = $(this);
    if ($this.find('.card:visible').length) {
      owl.trigger('to.owl.carousel', [index, 0, true]);
      return false;
    }
  });
}

});
// Get reference to the buttons
const insidenBtn = document.getElementById('insiden-btn');
const requestBtn = document.getElementById('request-btn');

// Add event listener to the insiden button
insidenBtn.addEventListener('click', function() {
  const urlParams = new URLSearchParams(window.location.search);
  urlParams.set('page', 'insiden');
  const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
  window.history.pushState({}, '', newUrl);
  // Remove the 'active' class from the request button
  requestBtn.classList.remove('active');
  // Add the 'active' class to the insiden button
  insidenBtn.classList.add('active');
});

// Add event listener to the request button
requestBtn.addEventListener('click', function() {
  const urlParams = new URLSearchParams(window.location.search);
  urlParams.set('page', 'request');
  const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
  window.history.pushState({}, '', newUrl);
  // Remove the 'active' class from the insiden button
  insidenBtn.classList.remove('active');
  // Add the 'active' class to the request button
  requestBtn.classList.add('active');
});

</script>