<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">
        <h2>Proses Tiket</h2>
    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a style=" color: #676a6c;" class="nav-link active" data-toggle="tab" href="#tab-1"> Insiden/Request</a></li>
                            <li><a style=" color: #676a6c;" class="nav-link" data-toggle="tab" href="#tab-2">Problem</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                <br>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <span class="label label-warning pull-left">Waiting</span>
                                        </div>
                                        <div class="ibox-content">
                                            <% @getWaiting = Ticket.where(status_tiket: "Waiting").count %>
                                            <h1 class="no-margins"><%= @getWaiting %></h1>
                                            <small>Total tiket</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <span class="label label-primary pull-left">Follow Up</span>
                                        </div>
                                        <div class="ibox-content">
                                            <% @getProcessingAssign = Ticket.where(status_tiket: "Follow Up").count %>
                                            <h1 class="no-margins"><%= @getProcessingAssign %></h1>
                                            <small>Total tiket</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <span class="label label-primary pull-left">On Processing</span>
                                        </div>
                                        <div class="ibox-content">
                                            <% @getProcessingPlan = Ticket.where(status_tiket: "On Processing").count %>
                                            <h1 class="no-margins"><%= @getProcessingPlan %></h1>
                                            <small>Total tiket</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <span class="label label-warning pull-left">Solved</span>
                                        </div>
                                        <div class="ibox-content">
                                            <% @getProblem = Ticket.where(status_tiket: "Solved").count %>
                                            <h1 class="no-margins"><%= @getProblem %></h1>
                                            <small>Total tiket</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <span class="label label-info pull-left">Closed
                                        
                                            </span>
                                        </div>
                                        <div class="ibox-content">
                                            <% @getSolved = Ticket.where(status_tiket: "Closed").count %>
                                            <h1 class="no-margins"><%= @getSolved %></h1>
                                            <small>Total tiket</small>
                                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <span class="label label-info pull-left">Total Tiket</span>
                                        </div>
                                        <div class="ibox-content">
                                            <% @getClosed = Ticket.count %>
                                            <h1 class="no-margins"><%= @getClosed %></h1>
                                            <small>Total tiket</small>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div role="tabpanel" id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                     <br>
                                    <div class="col-lg-4">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-warning pull-left">Processing Assign</span>
                                            </div>
                                            <div class="ibox-content">
                                                <% @getWaiting = TicketProblem.where(status: "Processing Assign").count %>
                                                <h1 class="no-margins"><%= @getWaiting %></h1>
                                                <small>Total tiket</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-primary pull-left">Solved</span>
                                            </div>
                                            <div class="ibox-content">
                                               <div class="row text-center">
                                                    <div class="col-lg-4">                                                    
                                                        <% @getProcessingAssign = TicketProblem.where(status: "Solved").count %>
                                                        <h1 class="no-margins"><%= @getProcessingAssign %></h1>
                                                        <small>Total Tiket</small>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <% @getProcessingAssign = TicketProblem.where(status: "Temporary").count %>
                                                        <h1 class="no-margins"><%= @getProcessingAssign %></h1>
                                                        <small>Temporary</small>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <% @getProcessingAssign = TicketProblem.where(status: "Pihak Ketiga").count %>
                                                        <h1 class="no-margins"><%= @getProcessingAssign %></h1>
                                                        <small>Pihak Ketiga</small>
                                                    </div>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-primary pull-left">Observation</span>
                                            </div>
                                            <div class="ibox-content">
                                                <% @getProcessingAssign = TicketProblem.where(status: "Observation").count %>
                                                <h1 class="no-margins"><%= @getProcessingAssign %></h1>
                                                <small>Total tiket</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-primary pull-left">Closed</span>
                                            </div>
                                            <div class="ibox-content">
                                                <% @getProcessingPlan = TicketProblem.where(status: "Closed").count %>
                                                <h1 class="no-margins"><%= @getProcessingPlan %></h1>
                                                <small>Total tiket</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-warning pull-left">Total Tiket</span>
                                            </div>
                                            <div class="ibox-content">
                                                <% @getProblem = TicketProblem.count %>
                                                <h1 class="no-margins"><%= @getProblem %></h1>
                                                <small>Total tiket</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<div class="row wrapper border-bottom page-heading">

<div class="col-lg-10">
        <h2>Penilaian</h2>
</div>
</div>
<br>
<div class="row">
<div class="col-md-2">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-warning pull-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </span>
        </div>
        <div class="ibox-content">
            <% @getClosed = Ticket.where(satisfaction: "5").count %>
            <h1 class="no-margins"><%= @getClosed %></h1>
            <small>Total Penilaian</small>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-warning pull-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </span>
        </div>
        <div class="ibox-content">
            <% @getClosed = Ticket.where(satisfaction: "4").count %>
            <h1 class="no-margins"><%= @getClosed %></h1>
            <small>Total Penilaian</small>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-warning pull-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </span>
        </div>
        <div class="ibox-content">
            <% @getClosed = Ticket.where(satisfaction: "3").count %>
            <h1 class="no-margins"><%= @getClosed %></h1>
            <small>Total Penilaian</small>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-warning pull-left"><i class="fa fa-star"></i><i class="fa fa-star"></i> </span>
        </div>
        <div class="ibox-content">
            <% @getClosed = Ticket.where(satisfaction: "2").count %>
            <h1 class="no-margins"><%= @getClosed %></h1>
            <small>Total Penilaian</small>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-warning pull-left"><i class="fa fa-star"></i> </span>
        </div>
        <div class="ibox-content">
            <% @getClosed = Ticket.where(satisfaction: "1").count %>
            <h1 class="no-margins"><%= @getClosed %></h1>
            <small>Total Penilaian</small>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-warning pull-left">Total rata - rata penilaian </span>
        </div>
        <div class="ibox-content">

            <% @getClosed = Ticket.average(:satisfaction) %>
            <% if @getClosed.present? %>
                <% @getClosedCount = @getClosed.round(2) %>
                <h1 class="no-margins"><%= @getClosedCount %></h1>
            <% else %>
                <h1 class="no-margins">N/A</h1>
            <% end %>
            <small>Total Penilaian</small>
        </div>
    </div>
</div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                Tiket
                    <%# <small>Terkait kinerja kalian.</small> %>
                </h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div>
                <div class="col-lg-12">
                    <div class="form-group col-lg-3">
                        <label for="area_filter ">Filter berdasarkan Area:</label>
                        <select class="form-control col-lg-4" id="area_filter">
                            <option value="">Pilih</option>
                            <% Area.order(nama: :asc).each do |area| %>
                            <option value="<%= area.nama %>"><%= area.nama %></option>
                            <% end %>
                        </select>
                    </div>
                     <div class="form-group col-lg-3">
                        <label for="area_filter ">Filter Kategori:</label>
                        <select class="form-control col-lg-4" id="kategori_filter">
                            <option value="">Pilih</option>
                            <% Category.order(name: :asc).each do |area| %>
                            <option value="<%= area.name %>"><%= area.name %></option>
                            <% end %>
                        </select>
                    </div>
                     <div class="form-group col-lg-3">
                        <label for="area_filter ">Filter Teknisi:</label>
                        <select class="form-control col-lg-4" id="teknisi_filter">
                            <option value="">Pilih</option>
                            <% Ticket.select("DISTINCT (teknisi) as teknisi").each do |area| %>
                            <option value="<%= area.teknisi %>"><%= area.teknisi %></option>
                            <% end %>
                        </select>
                    </div>
                     <div class="form-group col-lg-3">
                        <label for="area_filter ">Filter Layanan:</label>
                        <select class="form-control col-lg-4" id="layanan_filter">
                            <option value="">Pilih</option>
                            <option value="request">Request</option>
                            <option value="insiden">Insiden</option>
                            <option value="problem">Problem</option>
                        </select>
                    </div>
                </div>
                    <canvas id="lineChart" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
                    <% content_for :javascript do %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

<script type="text/javascript">
var originalData;
 $(document).ready(function () {

    // Get initial data for chart
    var lineData = {
        labels: [
            <% Ticket.select("DISTINCT date_trunc('month', created_at) as created_month").order(created_month: :asc).each do |month| %>
                "<%= month.created_month.strftime("%B %Y") %>",
            <% end %>
        ],
        datasets: [
            <% Ticket.select("DISTINCT upper(teknisi) as teknisi, upper(area_pemilik_kendala) as area_pemilik_kendala, upper(kategori) as kategori, upper(jenis_layanan) as jenis_layanan").each do |teknisi| %>
                {
                    label: "<%= teknisi.teknisi %> - <%= teknisi.area_pemilik_kendala %> - <%= teknisi.kategori %> - <%= teknisi.jenis_layanan %>",
                    borderColor: "<%= '#' + (SecureRandom.hex(3)) %>",
                    pointBackgroundColor: "<%= '#' + (SecureRandom.hex(3)) %>",
                    pointBorderColor: "#fff",
                    pointBorderWidth: 1,
                    pointRadius: 5,
                    pointHoverRadius: 7,
                    data: [
                        <% Ticket.select("DISTINCT date_trunc('month', created_at) as created_month").order(created_month: :asc).each do |month| %>
                            <% @count = Ticket.where("date_trunc('month', created_at) = :month AND upper(teknisi) = :teknisi AND upper(jenis_layanan) = :jenis_layanan", month: month.created_month, area_pemilik_kendala: teknisi.area_pemilik_kendala, teknisi: teknisi.teknisi,  kategori: teknisi.kategori, jenis_layanan: teknisi.jenis_layanan).count %>
                            <% if @count.present? %>
                                "<%= @count %>",
                            <% else %>
                                "0",
                            <% end %>
                        <% end %>
                    ]
                },
            <% end %>
        ]
    };

    var lineOptions = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        responsive: true,
        legend: {
            display: false,
            position: "bottom"
        }
    };

    var ctx = document.getElementById("lineChart").getContext("2d");
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: lineData,
        options: lineOptions
    });

   // Function to update chart with filtered data
   var originalData = [];
    for (var i = 0; i < lineData.datasets.length; i++) {
    var dataset = lineData.datasets[i];
    originalData.push({
        label: dataset.label,
        data: dataset.data.slice(),
        backgroundColor: dataset.backgroundColor,
        borderColor: dataset.borderColor,
        borderWidth: dataset.borderWidth
    });
    }

// Function to update chart with filtered data
function updateChart() {
  // Get filters
  var areaFilter = $("#area_filter").val();
  var kategoriFilter = $("#kategori_filter").val();
  var teknisiFilter = $("#teknisi_filter").val();
  var layananFilter = $("#layanan_filter").val();

  // Filter data based on selected options
  var filteredData = originalData.filter(function (dataset) {
    return (dataset.label.toLowerCase().includes(areaFilter.toLowerCase()) || areaFilter === "") &&
           (dataset.label.toLowerCase().includes(kategoriFilter.toLowerCase()) || kategoriFilter === "") &&
           (dataset.label.toLowerCase().includes(teknisiFilter.toLowerCase()) || teknisiFilter === "") &&
           (dataset.label.toLowerCase().includes(layananFilter.toLowerCase()) || layananFilter === "");
  });

  // Check if filtered data is empty and show message
  if (filteredData.length === 0) {
    alert("Tidak ada data yang ditemukan.");
  }

  // Update the chart with the filtered data
  lineChart.data.datasets = filteredData;
  lineChart.update();
}

// Listen for changes on the filter inputs and update the chart
$("#area_filter, #kategori_filter, #teknisi_filter, #layanan_filter").on("change", function() {
  updateChart();
});     
});
    
    
    
    

        

</script>

<% end %>