            <div class="col-lg-12">
                    <div class="jumbotron ">
                       
                    </div>
            </div>


            <div class="ibox col-lg-6">
                                    <div class="ibox-title">
                                        <h5>Informasi Teknisi</h5>
                                        <div class="ibox-tools">
                                            <%# <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a> %>
                                        </div>
                                    </div>
                                    <div class="ibox-content table-responsive">
                                        <table class="table table-hover no-margins">
                                            <thead>
                                            <tr>
                                                <th>Status</th>
                                                <%# <th>Date</th> %>
                                                <th>Teknisi</th>
                                                <th>Total Ticket</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <%
                                            # Ticket.where('status_teknisi LIKE ?', "%Waiting%").group(:teknisi)
                                            # Ticket.where(status_tiket: "Waiting", teknisi: current_user.name)
                                           Ticket.where('status_teknisi LIKE ?', "%Waiting%").group(:teknisi).count.each  do |value|%>
                                                <tr>
                                                    <td><small class="label label-danger status-tiket">Waiting</small> </td>
                                                    <%# <td><i class="fa fa-clock-o"></i> 09:40pm</td> %>
                                                    <td><%= value[0]%></td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i><%=value[1]%></td>
                                                </tr>
                                            <%end%>
                                                
                                            </tbody>
                                        </table>
                                    </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-left">Waiting</span>
                        </div>
                        <div class="ibox-content">
                            <% @getWaiting = Ticket.where(status_tiket: "Waiting", nama_pemohon: current_user.name).count %>
                            <h1 class="no-margins"><%= @getWaiting %></h1>
                            <small>Total tiket</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-left">Processing Assign</span>
                        </div>
                        <div class="ibox-content">
                            <% @getProcessingAssign = Ticket.where(status_tiket: "Processing Assign", nama_pemohon: current_user.name).count %>
                            <h1 class="no-margins"><%= @getProcessingAssign %></h1>
                            <small>Total tiket</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-left">Processing Plan</span>
                        </div>
                        <div class="ibox-content">
                            <% @getProcessingPlan = Ticket.where(status_tiket: "Processing Plan", nama_pemohon: current_user.name).count %>
                            <h1 class="no-margins"><%= @getProcessingPlan %></h1>
                            <small>Total tiket</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-left">Problem</span>
                        </div>
                        <div class="ibox-content">
                            <% @getProblem = Ticket.where(status_tiket: "Problem", nama_pemohon: current_user.name).count %>
                            <h1 class="no-margins"><%= @getProblem %></h1>
                            <small>Total tiket</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-info pull-left">Solved</span>
                        </div>
                        <div class="ibox-content">
                            <% @getSolved = Ticket.where(status_tiket: "Solved", nama_pemohon: current_user.name).count %>
                            <h1 class="no-margins"><%= @getSolved %></h1>
                            <small>Total tiket</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-info pull-left">Closed</span>
                        </div>
                        <div class="ibox-content">
                            <% @getClosed = Ticket.where(status_tiket: "Closed", nama_pemohon: current_user.name).count %>
                            <h1 class="no-margins"><%= @getClosed %></h1>
                            <small>Total tiket</small>
                        </div>
                    </div>
                </div>
            </div>
            