
<div class="panel panel-default">
  <div class="panel-heading">Form Aset User</div>
  <div class="panel-body">
    <%= form_for(@assetsuser, html: { class: "form-horizontal", role: "form" }) do |f| %>
      <% if @assetsuser.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@assetsuser.errors.count, "error") %> prohibited this assetsuser from being saved:</h4>
          <ul>
            <% @assetsuser.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <%=@assetsuser.manual_user.inspect%>
      <div class="form-group">
        <%= f.label 'Nama Pengguna', class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%if @assetsuser.user.present? || @assetsuser.new_record?%>
              <select data-placeholder="Pilih Nama" class="getLdapUser form-control" name="assetsuser[user]" id="getLdapUser" data-live-search="true">
                <%if @assetsuser.user.nil?%>
                  <%= raw(getLDAP)%>
                <%else%>
                  <%= raw(getLDAPParams(@assetsuser.user))%>
                <%end%>
                <option value="manual">Manual Input</option>
              </select>
              <%  %>
            <%else%>
               <%= f.text_field :manual_user, class: "form-control" %>
            <%end%>
            <input type="text" class="form-control" name="assetsuser[manual_user]" id="manual-input" style="margin-top:5px; display:none;">
            <% unless getLDAP.present? %>
              <label class="control-label" style="color: red;">LDAP Tidak Tersedia</label>
            <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :nip, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :nip, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Satuan Kerja', class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <select data-placeholder="Pilih Satuan kerja" class="form-control" name="assetsuser[divisi]" id="divisi" data-live-search="true" required>
              <%if @assetsuser.divisi.nil?%>
                <%= raw(getDivisi)%>
              <%else%>
                <%= raw(getDivisiParams(@assetsuser.divisi.strip))%>
              <%end%>

            </select>
        </div>
      </div>
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Area</label>
          <div class="col-sm-10">
              <div class="container-area">
                <%= f.collection_select :lokasi, Area.all, :nama, :nama, {prompt: "-- Pilih Area --"}, class: 'form-control lokasi' %>
              </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <%= f.label "Status Pekerja", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
           <%= select_tag "assetsuser[status_pekerja]", options_for_select([["Pilih Status Pekerja", ""], ["Organik", "Organik"], ["TAD", "TAD"]], @assetsuser.status_pekerja), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Email", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%if  @assetsuser.user.present? && @assetsuser.user.present?%>
             <%= f.text_field :email, value: @assetsuser.user.downcase + "@pgn-solution.co.id",class: "form-control" %>
          <%else%>
             <%= f.text_field :email,class: "form-control" %>
          <%end%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "No Handphone", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :no_hp, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Status Laptop", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= select_tag "assetsuser[status_laptop]", options_for_select([["Pilih Status Laptop", ""], ["Sewa Murni", "Sewa Murni"], ["Sewa Milik(Operasional)", "Sewa Milik(Operasional)"], ["Investasi", "Investasi"]], selected: @assetsuser.status_laptop), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Komputer", class: "col-sm-2 control-label" %>

        <div class="col-sm-10">
          <%= select_tag "assetsuser[jenis_perangkat]", options_for_select([["Pilih Komputer", ""], ["PC", "PC"], ["Notebook", "Notebook"]], selected: @assetsuser.jenis_perangkat), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Periode Laptop", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :periode_laptop, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Spesifikasi", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :spesifikasi, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Serial Number", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :serial_number, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Nama Komputer", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :nama_komputer, class: "form-control" %>
        </div>
      </div>
      <div class="form-group" id="hbb">
        <%= f.label "No HBB", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :no_hbb, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "No BAST", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :no_bast, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Upload BAST", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
         <%= f.file_field :lampiran, class: "form-control", direct_upload: true, accept: 'image/jpeg, image/jpg, image/png, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document' , :id => "file" %>
          <div style="margin-top: 10px;">
            <% if @assetsuser.lampiran.attached? %>
              <span style="margin-right: 10px"><%= link_to "#{[ "#{@assetsuser.lampiran.nil? ? "" : @assetsuser.lampiran.filename}" ]}", rails_blob_path(@assetsuser.lampiran.nil? ? "" : @assetsuser.lampiran, disposition: 'preview'), :target => "_blank" %>
                <%# <%= link_to '', url_for(controller: :assetsusers, action: :delete_file, attachment_id: @assetsuser.lampiran.id), class: 'fa fa-close', method: "DELETE", data: { confirm: 'Are you sure?' } %>
                <% if  @assetsuser.lampiran.id.present?%>
                  <%= link_to '', url_for(controller: :assetsusers, action: :delete_file, attachment_id: begin @assetsuser.lampiran.id rescue "Photo Tidak Ada" end), class: 'fa fa-close', method: "DELETE", data: { confirm: 'Are you sure?' } %>
                <%end%>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "No HBB", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :no_hbb, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Penyedia", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= select_tag "assetsuser[penyedia]", options_for_select(["Berca", "PGAS COM", "BHINEKA"], selected: @assetsuser.penyedia), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Keterangan", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :keterangan, class: "form-control",style: "resize: none; height: 10em;" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Tahun", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= select_tag "assetsuser[tahun]", options_for_select((2019..Date.current.year + 5).to_a, selected: @assetsuser.tahun ), class: "form-control" %>
        </div>
      </div>
 


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Tambah Asset User", class: "btn btn-primary", value: "Tambah Asset User" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function () {
  let namaKomputer = {
    identity: 'SOL',
    device: '',
    year: '',
    division: '',
    type: '',
    number: '019',
  };
  $('#divisi').change(function() {
    namaKomputer['division'] = $(this).val();
  });
  $('#getKodePerangkat').change(function() {
    namaKomputer['device'] = $(this).val();
  });
  $('#tahun').change(function() {
    namaKomputer['year'] = $(this).val().substring(2);
  });
  $('#wo_ke').change(function() {
    if ($('#jenis_kontrak').val() == 'WO' && $(this).val() >= 3) {
      namaKomputer['type'] = $(this).val();
    } else {
      namaKomputer['division'] = '';
    }
  });
  $('#divisi, #tahun, #wo_ke, #getKodePerangkat').change(function () {
    namaKomputer['number'] = ("000" + (parseInt(namaKomputer['number']) + 1)).slice(-3)
    $('#nama_komputer').val(`${namaKomputer['identity']}${namaKomputer['device']}${namaKomputer['year']}-${namaKomputer['division']}${namaKomputer['type']}${namaKomputer['number']}`)
  });
  $("#getKodePerangkat").change(function () {
    $.getJSON("/helper_json/" +$(this).val()+ "/getMerkPerangkat",
      function ( callback ) {
      if (callback != "error"){
        if (callback.length > 0) {
          $("select#assetsuser_merk").empty();
          $("select#assetsuser_merk").removeAttr('disabled');
          $("#assetsuser_merk").append('<option disabled selected>--Pilih Merk --</option>');
          for (let i = 0; i < callback.length; i++){
            $("#assetsuser_merk").append(new Option(callback[i]));
          }
        } else {
          $("select#assetsuser_merk").empty();
        }
      }
    });
  });
  $("#assetsuser_merk").change(function () {
    $.getJSON("/helper_json/" +$(this).val() + '-' + $('#getKodePerangkat').val() + "/getTipePerangkat/",
      function ( callback ) {
      if (callback != "error"){
        if (callback.length > 0) {
          $("select#assetsuser_tipe").empty();
          $("select#assetsuser_tipe").removeAttr('disabled');
          $("#assetsuser_tipe").append('<option disabled selected>--Pilih Tipe --</option>');
          for (let i = 0; i < callback.length; i++){
            $("#assetsuser_tipe").append(new Option(callback[i]));
          }
        } else {
          $("select#assetsuser_tipe").empty();
        }
      }
    });
  });
  $("#getLdapUser").select2();
  $(".lokasi").select2();
  $("#getKodePerangkat").select2();
  $(".jenis_kontrak").select2();
  $("#divisi").select2();
  $(".merk").select2();
  $(".tipe").select2();
  $('.woke').hide();
    });
    function dataSource(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var data = $("#jenis_kontrak").val();
      console.log(data);
      if (data == "Kontrak Payung"){
        $('.woke').hide();
      }else if (data == "WO"){
        $('.woke').show();
        document.getElementById("wo_ke").required = true;
      }
    }

function hideSermac(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var data = $("#getKodePerangkat").val();
      console.log(data);
      if (data == "SV" || data == "AP"){
        $('.sermac').hide();
        $('.jeniskontrak').hide();
        $('.vendorr').show();
      }else if (data == "NB" || data == "PC"){
        $('.sermac').show();
        $('.jeniskontrak').show();
        $('.vendorr').hide();
        document.getElementById("serial_number").required = true;
        document.getElementById("mac_address").required = true;
      }
    }
    function dataKomputer(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var data = $(".lokasi").val();
      console.log(data);
     
        document.getElementById("nama_komputer").required = false;
      
    }

    $(function() {
      $('#getLdapUser').change(function() {
        if ($(this).val() === 'manual' || $(this).val() === 'Manual Input') {
          $('#manual-input').show();
          // Mengosongkan nilai elemen dengan id "assetsuser_email"
          $('#assetsuser_email').val('');
        } else {
          $('#manual-input').hide();
          // Mengirim nilai opsi yang dipilih ke elemen dengan id "assetsuser_email"
          // Menambahkan string "@pgn-solution.co.id"
          var emailVal = $(this).val() + '@pgn-solution.co.id';
          
          // Mengirim nilai opsi yang dipilih yang telah ditambahkan string ke elemen dengan id "assetsuser_email"
          $('#assetsuser_email').val(emailVal);
        }
      });
      $('#assetsuser_status_laptop_').change(function() {
        if ($(this).val() === 'Inventaris') {
          $('#hbb').show();
        } else {
          $('#hbb').hide();
        }
      });
    });
    $('#hbb').hide();

</script>