<%
                        unless 
                            @lisensi = Assetlisensi.where('serial_number = ?', @assetsuser.nama_komputer).order(:created_at => :desc)
                       
                        end
                    %>

<div class="row wrapper border-bottom page-heading">

    <div class="col-lg-10">
        <h2>Lisensi yang terdaftar</h2>
    </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">Detail Lisensi</div>
  <div class="panel-body">
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
        <th>Nama Lisensi</th>
        <th>Type Lisensi</th>
        <th>Tahun Pembelian</th>
        <th>Waktu Instalasi</th>
        <th>Waktu Expired</th>
        <th>Aksi</th>
      </tr>
      </thead>
      <tbody>
      <% @lisensi.each_with_index do |lisensii, index|%>
      <tr>
                <td><%= index+1%></td>
                <td><%= lisensii.nama_lisensi %></td>
                <td><%= lisensii.type_lisensi %></td>
                <td><%= lisensii.tahun_pembelian %></td>
                <td><%= lisensii.waktu_instalasi %></td>
                <td><%= lisensii.waktu_expired %></td>
                <td><%= link_to 'Lihat', lisensii %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  </div>
  </div>



