<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
  body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
  }

  .ibox-title {
    font-size: 10px;
    font-style: italic;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .in-table tr td,
  .in-table tr th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 3px;
  }

  .in-table tr th {
    background-color: #c6d9f0;
  }

  .in-table table {
    border: 0px;
    margin-top: 5px;
  }

  .bottom-table tr td {
    border-collapse: collapse;
    border: 1px solid black;
    padding-left: 3px;
  }

  /*table, tr, td, th, tbody, thead, tfoot {*/
  /*  page-break-inside: avoid !important;*/
  /*}*/
  table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  .logo{
   width: 100px;
  }

  /* .border-1{
    border-style:groove;
	  border-width: 1px;
    
  } */
  .test{
    margin-left:5px;
  }
  div.alwaysbreak {
     page-break-before: always; 
  }

  .bottom{
        position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  .footer {
    height: 50px; /* the footer's total height */
  }
  .footer-content {
    padding-top: 200px;
  }
  .text-danger {
  color: #a94442;
}
</style>
<div>
    <div class="border-1" style="padding: 2px " >
      <table class="bottom-table" >
        <thead class="mb-5"style="border: none;">
            <tr style="border: none;">
            <td colspan="3"  style="border: none;">
                
                <h6 style="text-align: right; font-style: italic;font-size: 16px; " >
                 
                <div class="col">
                    <%= image_tag wicked_pdf_asset_base64('pgn.png'), :height=>40%> 
                </div>
                </h6>
            </td>
            </tr>
        </thead> 
      </table>

      <table class="table table-bordered" >
            <thead>
                <tr>
                      <th>No</th>
                      <th>Nama Pengguna</th>
                      <th>NIP</th>
                      <th>Satuan Kerja</th>
                      <th>Area</th>
                      <th>Status Pekerja</th>
                      <th>Email</th>
                      <th>No Handphone</th>
                      <th>Status Periode Pengadaan</th>
                      <th>Periode Laptop</th>
                      <th>Komputer</th>
                      <th>Spesifikasi</th>
                      <th>Serial Number</th>
                      <th>Nama Komputer</th>
                      <th>No BAST</th>
                      <th>No HBB</th>
                      <th>Penyedia</th>
                      <th>Keterangan</th>
                      <th>Tahun</th>
                </tr>
            </thead>

            <tbody>  
              <% @assetuser.each_with_index do |assetsuser, index| %>
                  <tr>
                      <td><%= index+1 %></td>
                      <td>      
                        <%if assetsuser.user.present?%>
                          <%= assetsuser.user %>
                        <%else%>
                          <%= assetsuser.manual_user %>
                        <%end%>
                      </td>
                      <td><%= assetsuser.try(:nip) %></td>
                      <td><%= assetsuser.try(:divisi) %></td>
                      <td><%= assetsuser.try(:lokasi) %></td>
                      <td><%= assetsuser.try(:status_pekerja) %></td>
                      <td><%= assetsuser.try(:email) %></td>
                      <td><%= assetsuser.try(:no_hp) %></td>
                      <td><%= assetsuser.try(:status_laptop) %></td>
                      <td><%= assetsuser.try(:periode_laptop) %></td>
                      <td><%= assetsuser.try(:jenis_perangkat) %></td>
                      <td><%= assetsuser.try(:spesifikasi) %></td>
                      <td><%= assetsuser.try(:serial_number) %></td>
                      <td><%= assetsuser.try(:nama_komputer) %></td>
                      <td><%= assetsuser.try(:no_bast) %></td>
                      <td><%= assetsuser.try(:no_hbb) %></td>
                      <td><%= assetsuser.try(:penyedia) %></td>
                      <td><%= assetsuser.try(:keterangan) %></td>
                      <td><%= assetsuser.try(:tahun) %></td>
                  </tr>
              <% end %>
            </tbody>

      </table>

      <tfoot style="vertical-align:bottom" class="footer">
        <tr style="height:100px">
          <td> 
               <p class="pt-3"  style="text-align: center;"><%=Time.zone.now.strftime("Printed on %m/%d/%Y at %I:%M%p"   ) %></p>
           <%# <div class="footer-content"  style="text-align: center;">Sticky Footer</div> %>
          </td>
        </tr>
      </tfoot>
    </div>

</div>
