<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
  <%if roleActive.id != 2%>
    <h2>Form Asset User</h2>
  <%else%>
    <h2>Asset User</h2>
  <%end%>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= assetsusers_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
<%if roleActive.id != 2%>
  <div class="page-header">
  
    <%= link_to new_assetsuser_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Tambah Asset User
    <% end %>
    <%= link_to '', class: 'btn btn-info', data: { toggle: "modal", target: "#import-modal" } do %>
      <span class="fa fa-cloud-upload"></span>
      Import Asset User
    <% end %>

    <!-- Import Modal -->
    <div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-labelledby="import-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_with url: import_assetsusers_path, local: true, multipart: true, class: "import-form" do |form| %>
            <div class="modal-header">
              <h5 class="modal-title" id="import-modal-label">Import Assets</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Select an Excel file to import:</p>
              <%= form.file_field :file %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= form.submit "Import", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!--    <h1>Listing </h1>-->
  </div>
<%end%>

  <div class="table-responsive">
    <%= form_tag(:action => :index) do %>
        <%= select_tag "Satuan Kerja", options_for_select(@assetsusers.map(&:divisi).uniq),{class: "col-2 form-control-sm inline filter_satuan_kerja" ,prompt: "-- Satuan Kerja --"} %>
        <%= select_tag "Status Laptop", options_for_select(["Sewa", "Inventaris"]), {class: "col-2 form-control-sm inline filter_status_laptop",prompt: "-- Status Laptop --"} %>
        <%if roleActive.id != 2 %>
            <div class=" btn-group">
              <button data-toggle="dropdown" class=" col-2  btn-xs dropdown-toggle"><%=%>Download <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'PDF', url_for(controller: :assetsusers, action: :cetak_pdf, format: "pdf"), class: 'dropdown-item ', target: '_blank', id:'pdf_download'%>
                </li>
                                                    
                <li>
                  <%= link_to 'Excel', url_for(controller: :assetsusers, action: :cetak_excel), class: 'dropdown-item  ', target: '_blank', id:'excel_download' %>
                </li>
              </ul>
            </div>
        <%end%>
    <% end %>

    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      
      <tr>
        <th>No</th>
        <th>Nama Pengguna</th>
        <th>Satuan Kerja</th>
        <th>Area</th>
        <th>Spesifikasi</th>
        <th>Serial Number</th>
        <th>Nama Laptop</th>
        <th style="display: none;"></th>
      <%if roleActive.id != 2%>
        <th>Aksi</th>
      <%end%>
        <%# <th></th>
        <th></th> %>

      </tr>
      </thead>

      <tbody>
      <% @assetsusers.each_with_index do |assetsuser, index| %>
      <tr>
        <td><%= index+1 %></td>
                  <td>
                    <%if assetsuser.user.present?%>
                      <%= assetsuser.user %>
                    <% else %>
                      <%= assetsuser.try(:manual_user)%>
                    <% end %>
                  </td>
                  <td><%= assetsuser.try(:divisi) %></td>
                  <td><%= assetsuser.try(:lokasi) %></td>
                  <td><%= assetsuser.try(:spesifikasi) %></td>
                  <td><%= assetsuser.try(:serial_number) %></td>
                  <td><%= assetsuser.try(:nama_komputer) %></td>
                  <td style="display: none;"><%= assetsuser.try(:status_laptop) %></td>
      <%if roleActive.id != 2%>
        <td><%= link_to 'Show', assetsuser %>
          <%= link_to 'Edit', edit_assetsuser_path(assetsuser) %>
          <%= link_to 'Destroy', assetsuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        </tr>

      <% end %>
      </tbody>
      
    </table>
    
  </div>
</div>
<script type="text/javascript" charset="utf-8">
      // $(function () {
$(document).ready(function() {
    var $dTable = $('.dataTables-example').DataTable({
        dom: "<'myfilter'f><'mylength'l>t<'myfilter'i><'p'p>",
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Search..."
        }
    });

    $('.filter_satuan_kerja').on('change', function(e) {
        var divisi = $(this).val();
        $('.filter_satuan_kerja').val(divisi)

        $dTable.column(2).search(divisi ? '^' + divisi + '$' : '', true, false).draw();
        // Update URL with new parameters
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("divisi", divisi);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/assetsusers/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);

        var excelUrl = '/assetsusers/cetak_excel.pdf';
        var excelLink = excelUrl + '' + currentUrl.search;
        document.getElementById('excel_download').setAttribute('href', excelLink);
    });

    $('.filter_status_laptop').on('change', function(e) {
        var status_laptop = $(this).val();

        $('.filter_status_laptop').val(status_laptop)

        $dTable.column(7).search(status_laptop ? '^' + status_laptop + '$' : '', true, false).draw();
        // Update URL with new parameters
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("status_laptop", status_laptop);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/assetsusers/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);

        // excel    
        var excelUrl = '/assetsusers/cetak_excel.pdf';
        var excelLink = excelUrl + '' + currentUrl.search;
        document.getElementById('excel_download').setAttribute('href', excelLink);
    });
});

      // });
      


</script>
