<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form Layanan Digital</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= assetsusers_url %>">List</a>
      </li>
      <li class="active">
        <strong>Detail</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to assetsusers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
    <%= link_to edit_assetsuser_path(@assetsuser), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %>
<!--    <h1>Show </h1>-->
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">Detail Aset Pegawai</div>
        <div class="panel-body">
          <dl class="dl-horizontal">
          
            <dt>Nama Pengguna:</dt>
            <dd>
            <%if @assetsuser.user.present?%>
              <%= @assetsuser.user %>
            <%else%>
              <%= @assetsuser.manual_user %>
            <%end%>
            </dd>
            <dt>NIP:</dt>
            <dd><%= @assetsuser.nip %></dd>
            <dt>Satuan Kerja:</dt>
            <dd><%= @assetsuser.divisi %></dd>
            <dt>Area:</dt>
            <dd><%= @assetsuser.lokasi %></dd>
            <dt>Status  Pekerja:</dt>
            <dd><%= @assetsuser.status_pekerja %></dd>
            <dt>Email:</dt>
            <dd><%= @assetsuser.email %></dd>
            <dt>No Handphone:</dt>
            <dd><%= @assetsuser.no_hp %></dd>
            <dt>Status Periode Pengadaan:</dt>
            <dd><%= @assetsuser.status_laptop %></dd>
            <dt>Periode Laptop:</dt>
            <dd><%= @assetsuser.periode_laptop %></dd>
            <dt>Komputer:</dt>
            <dd><%= @assetsuser.jenis_perangkat %></dd>
            <dt>Spesifikasi:</dt>
            <dd><%= @assetsuser.spesifikasi %></dd>
            <dt>Serial Number:</dt>
            <dd><%= @assetsuser.serial_number %></dd>
            <dt>Nama Komputer:</dt>
            <dd><%= @assetsuser.nama_komputer %></dd>
            <dt>No BAST:</dt>
            <dd><%= @assetsuser.no_bast %></dd>
            <dt>No HBB:</dt>
            <dd><%= @assetsuser.no_hbb %></dd>
            <dt>Penyedia:</dt>
            <dd><%= @assetsuser.penyedia %></dd>
            <dt>Keterangan:</dt>
            <dd><%= @assetsuser.keterangan %></dd>
            <dt>Tahun:</dt>
            <dd><%= @assetsuser.tahun %></dd>
            <dt>Lampiran BAST:</dt>
            <dd>
              <% if @assetsuser.lampiran.attached? %>
                <span style="margin-right: 10px"><%= link_to "#{[ "#{@assetsuser.lampiran.nil? ? "" : @assetsuser.lampiran.filename}" ]}", rails_blob_path(@assetsuser.lampiran.nil? ? "" : @assetsuser.lampiran, disposition: 'preview'), :target => "_blank" %>
                </span>
              <% end %>
            </dd>
    
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <% if @assetsuser.lampiran.attached? %>
        <div class="panel panel-success">
          <div class="panel-heading">Lampiran</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dd>
                <iframe src="<%= rails_blob_path(@assetsuser.lampiran, disposition: 'preview') %>" style="width: 75%; height: 365px;"></iframe>
              </dd>
            </dl>
          </div>
        </div>
      <%else%>
        <div class="panel panel-success">
          <div class="panel-heading">Lampiran</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              Tidak Ada Lampiran
            </dl>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <% @change = Change.all %>
      <% @change_teknis = @change.where("nama_perangkat = ?", @assetsuser.try(:nama_komputer)).presence %>
      <% @change_lainnya = @change.where("REPLACE(REPLACE(LOWER(nama_user), '.', ''), ' ', '') ILIKE ?", "%#{(@assetsuser.try(:user).gsub(/[^\w\s]/, "").gsub(/\s+/, " ").downcase)}%").presence %>
      <% @change_pemilik = @change_teknis&.where(judul: "Perubahan Pemilik") || @change_lainya&.where(judul: "Perubahan Pemilik") %>
      

      <% if @change_teknis.present? %>
        <div class="panel panel-success">
          <div class="panel-heading">History</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <div class="tabs-container">
                <ul class="nav nav-tabs" role="tablist">
                  <% if @change_teknis.present? %>
                    <li class="nav-item">
                      <a class="nav-link active" title="Berdasarkan Nama Perangkat" data-toggle="tab" href="#tab-1">Perubahan Teknis</a>
                    </li>
                  <% end %>
                
                  <% if @change_pemilik.present? %>
                    <li class="nav-item">
                      <a class="nav-link" title="Berdasarkan Judul Perubahan Pemilik" data-toggle="tab" href="#tab-2">Perubahan Pemilik</a>
                    </li>
                  <% end %>
                
                  <% if @change_lainnya.present? %>
                    <li class="nav-item">
                      <a class="nav-link" title="Berdasarkan Nama User" data-toggle="tab" href="#tab-3">Lainnya</a>
                    </li>
                  <% end %>
                </ul>
                
                <div class="tab-content">
                  <div role="tabpanel" id="tab-1" class="tab-pane ">
                    <div class="panel-body">
                      <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>                 
                          <tr>
                            <!-- <th>No Tiket</th> -->
                            <!-- <th>Layanan</th> -->
                            <th>Teknisi</th>
                            <th>Keterangan</th>
                            <th>Tanggal</th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <%@change_teknis.map do |teknis|%>
                          <tbody>         
                            <tr>
                              <td><%=teknis.try(:teknisi).presence || "N/A"%></td>   
                              <td><%=teknis.try(:deskripsi).presence || "N/A"%></td>   
                              <td><%=teknis.try(:tanggal).presence || "N/A"%></td>   
                              <td><%= link_to 'Show', teknis %></td>
                            </tr>
                          </tbody>
                        <%end%>
                        
                      </table>
                      
                    </div>
                  </div>
                  <div role="tabpanel" id="tab-2" class="tab-pane">
                    <div class="panel-body">
                      <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>                 
                          <tr>
                            <!-- <th>No Tiket</th> -->
                            <!-- <th>Layanan</th> -->
                            <th>Teknisi</th>
                            <th>Keterangan</th>
                            <th>Tanggal</th>
                            <!-- <th>Pemilik Sebelumnya</th>
                            <th>Pemilik Sekarang</th> -->
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <%@change_pemilik.map do |pemilik|%>
                          <tbody>         
                            <tr>
                              <td><%=pemilik.try(:teknisi).presence || "N/A"%></td>   
                              <td><%=pemilik.try(:deskripsi).presence || "N/A"%></td>   
                              <td><%=pemilik.try(:tanggal).presence || "N/A"%></td>   
                              <td><%= link_to 'Show', pemilik %></td>
                            </tr>
                          </tbody>
                        <%end%>
                        
                      </table>
                    </div>
                  </div>
                  <div role="tabpanel" id="tab-3" class="tab-pane">
                    <div class="panel-body">
                      <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>                 
                          <tr>
                            <!-- <th>No Tiket</th> -->
                            <!-- <th>Layanan</th> -->
                            <th>Teknisi</th>
                            <th>Keterangan</th>
                            <th>Tanggal</th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <%if @change_lainnya.present?%>
                          <%@change_lainnya.map do |lainya|%>
                            <tbody>         
                              <tr>
                                <td><%=lainya.try(:teknisi).presence || "N/A" %></td>   
                                <td><%=lainya.try(:deskripsi).presence || "N/A"%></td>   
                                <td><%=lainya.try(:tanggal).presence || "N/A" %></td>   
                                <td><%= link_to 'Show', lainya %></td>
                              </tr>
                            </tbody>
                          <%end%>
                        <%end%>
                        
                      </table>
                      
                    </div>
                  </div>
                </div>
              </div>
              <% @laptop = Ticket.where("lower(kategori) = ? AND lower(sub_kategori) = ? AND Lower(nama_pemilik_kendala) = ?", "Hardware".downcase, "Perbaikan laptop".downcase, @assetsuser.try(:user).gsub("."," ").downcase) %>
              <% @laptop.try(:ids)%>
              <% @assetsuser.try(:user)%>
              <% @assetsuser.try(:manual_user)%>

              <!-- pc -->
              <%Ticket.where("lower(kategori) = ? AND lower(sub_kategori) = ?", "Hardware".downcase, "Perbaikan PC".downcase) %>

            <style>
              .nav-tabs .nav-item .nav-link {
                color: black;
              }
              .nav-tabs {
                border-bottom: 2px solid #ddd;
              }
              .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
                /* color: #555;
                cursor: default;
                background-color: #fff; */
                border: 2px solid #ddd;
                /* border-bottom-color: transparent; */
              }
            </style>              

            </div>
            </dl>
          </div>
        </div>
      <%else%>
        <div class="panel panel-success">
          <div class="panel-heading">History</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              Tidak Ada History
            </dl>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  

<!-- preview lampiran -->

