<style>
@media (min-width: 768px) {
  .container {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1270px;
    /* width: 90%; */
}
}
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #18a689;
  }

  .owl-prev {
    left: -15px;
  }

  .owl-next {
    right: -15px;
  }

  .card__background {
    width: 90%; 
    margin-right: 2%; 
    height: 35vh; 
  }

  @media (max-width: 600px) {
    .card__background {
      width: 100%;
      height: auto;
    }
  }

  .card__background {
      /* background: linear-gradient(60deg, rgba(26, 179, 148, 1) 0%, rgba(0, 172, 193, 1) 100%); */
      background: linear-gradient(60deg, rgba(26, 179, 148, 0.5) 0%, rgba(0, 172, 193, 1) 90%);
      animation-name: card-appear;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    
    @keyframes card-appear {
      0% {
        opacity: 0;
        transform: scale(0.5);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
  }
</style>


<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@josephfusco/filterizr@6.3.5/dist/filterizr.min.css">
<script src="https://unpkg.com/@josephfusco/filterizr@6.3.5/dist/filterizr.min.js"></script>

  
</head>

<button onclick="window.history.back()" class="btn btn-warning theme-config" style="margin-top: 10px; border-radius: 0 10px 10px 0;"><i class="fa fa-arrow-left"></i> Back</button>

<div class=" col-lg-10" style="padding-top: 10px; padding-bottom: 0px; padding-top: 50px; padding-left:0px">
        <button type="button" class="col-lg-2 btn btn-outline btn-primary btn-rounded active" style="margin-right: 15px;" id="insiden-btn">Sub Category</button>
        <input placeholder="Search for something..." type="text" class="col-lg-6 btn btn-outline btn-warning btn-rounded" style="margin-left:15px;" id="search-input"></input>
      </div>
    <!--Waves end-->
      <div  id="section-insiden">
    
        <div class="owl-nav">
          <button class="owl-prev"><i class="fa fa-angle-left"></i></button>
          <button class="owl-next"><i class="fa fa-angle-right"></i></button>
        </div>
      </div>
      <div  id="section-request">
        <section class="hero-section" >

            <div class="card-grid owl-carousel">
                  <%# <a class="card" href="">
                    <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)"></div>
                    <div class="card__content">
                      <h3 class="card__heading"></h3>
                      <br>
                    </div>
                  </a> %>
              <% category = Category.find_by(id: request.original_url.split('/')[4]) %>
              <% category_id = request.original_url.split('/')[4] %>
              <% jenis_layanan = request.original_url.split('/')[5] %>
              <% sub_kategori_array = category.sub_category.gsub("[","").gsub("]","").gsub("\\","").gsub("//","").gsub('"',"").split(',') %>
              <% jenis_layanan_array = category.jenis_layanan.gsub("[","").gsub("]","").gsub("\\","").gsub("//","").gsub('"',"").split(',') %>

              <% sub_kategori_array.zip(jenis_layanan_array).each do |subkategori, jenislayanan| %>
              <%jenis_layanan%>
                <% if jenislayanan.strip == "Insiden" || jenislayanan == "Keduanya" %>
                  <a class="card" href="<%= new_ticket_path(category_id: category_id.strip, jenis_layanan: jenis_layanan.strip, sub_category: subkategori.strip.to_s.gsub('"','').gsub('\\','').gsub('//','').gsub('[','').gsub(']','')) %>">
                    <div class="card__background" ></div>
                    <div class="card__content">
                      <h3 class="card__heading"><%= subkategori %></h3>
                  
                      <br>
                    </div>
                  </a>
                <% end %>
              <% end %>
              
            <div>
  
        </section>
      </div>

   <%# <button type="button" class=" btn btn-outline btn-warning btn-rounded" style="margin:5px; padding: 5px 10px;  color: #fff; font-size: 18px;">Get Started</button> %>
    
	<div id="popup" class="popup">
		<h2>Frequently Asked Questions</h2>
		<p>Q: BAGAIMANA CARA MENGAJUKAN PERMINTAAN LAYANAN HELPDPESK?</p>
		<p>A: ANDA BISA MENGAJUKAN PERMINTAAN MELALUI FITUR PEMBUATAN TIKET LAYANAN.</p>
		<p>Q: BAGAIMANA SAYA DAPAT MENGHUBUNGI CS?</p>
		<p>A: ANDA DAPAT MENGHUBUNGI KAMI MELALUI EMAIL"SERVICEDESK@PGN-SOLUTION.CO.ID" & WHATSAPP "0851-5835-8885" (PADA JAM KERJA 08-16 WIB).</p>
		<button onclick="hidePopup()">Close</button>
	</div>

<div id="no-result">
  <p>Sub category tidak ditemukan</p>
</div>

<script>
$(document).ready(function(){
    var owl = $('.owl-carousel');
  var cardCount = $('.card').length;
  // console.log('Jumlah card: ' + cardCount);
  
  var responsiveItems = cardCount < 3 ? 3 : cardCount;
  var responsiveMargin = cardCount < 3 ? (cardCount == 2 ? 10 : (cardCount == 1 ? 40 : 0)) : 20;
  // penyesuaian item dan margin pada responsive
  
    window.addEventListener('DOMContentLoaded', function() {
    var cardBackgrounds = document.querySelectorAll('.card__background ');
    

    function updateCardBackgroundStyles() {
      var cardBackgroundWidth, cardBackgroundMargin, cardBackgroundHeight;

      if (cardCount === 5) {
        cardBackgroundWidth = '100%';
        cardBackgroundMargin = '2%';
      } else if  (cardCount === 1 )  {
        cardBackgroundWidth = '55%';
        cardBackgroundMargin = '2%';
        cardBackgroundHeight = '35vh';
      } else if  (cardCount === 3 )  {
        cardBackgroundWidth = '60%';
        cardBackgroundMargin = '2%';
        cardBackgroundHeight = '33vh';
      }  else if  (cardCount === 2 )  {
        cardBackgroundWidth = '55%';
        cardBackgroundMargin = '2%';
        cardBackgroundHeight = '35vh';
      } else if  (cardCount === 4 )  {
        cardBackgroundWidth = '70%';
        cardBackgroundMargin = '2%';
        cardBackgroundHeight = '30vh';
      }

      cardBackgrounds.forEach(function(cardBackground) {
        cardBackground.style.width = cardBackgroundWidth;
        cardBackground.style.marginRight = cardBackgroundMargin;
        cardBackground.style.height = cardBackgroundHeight;
      });
  }

  // Panggil fungsi untuk mengatur gaya card background saat halaman dimuat
  updateCardBackgroundStyles();

  // Panggil fungsi saat window diresize untuk mengatur ulang gaya card background jika diperlukan
  window.addEventListener('resize', function() {
    updateCardBackgroundStyles();
    });
  });

  var responsiveSize = "100%";
  if (cardCount == 2) {
    responsiveSize = "calc((100% - 40px) / 2)";
  } else if (cardCount == 1) {
    responsiveSize = "calc(100% - 40px)";
  }
  // penyesuaian ukuran card untuk jumlah card 1 dan 2
  
  owl.owlCarousel({
    loop: false,
    margin: 20,
    nav: false,
    navText: ['<span class="owl-prev"><i class="fa fa-angle-left"></i></span>', '<span class="owl-next"><i class="fa fa-angle-right"></i></span>'],
    responsive:{
      0:{
        items: 1
      },
      600:{
        items: responsiveItems <= 1 ? 1 : 3,
        margin: responsiveMargin, // penyesuaian margin untuk card yang hanya satu atau dua
        slideBy: responsiveItems <= 1 ? 1 : 3, // agar slider hanya meluncurkan satu atau tiga item
        center: responsiveItems <= 1 ? true : false, // mengatur center slide untuk satu item
        size: responsiveSize // penyesuaian ukuran card untuk jumlah card 1 dan 2
      },
      1000:{
        items: responsiveItems,
        margin: 20
      }
    },
    onInitialized: function(){
      searchCards();
    }
  });

  $('#search-input').on('input', function() {
    searchCards();
  });

function searchCards() {
  var searchText = $('#search-input').val().toLowerCase();
  var cardsVisible = false;

  // Melakukan pencarian pada setiap elemen card di dalam slider
  $('.owl-carousel .card').filter(function(){
    var cardText = $(this).text().toLowerCase();
    if (cardText.indexOf(searchText) !== -1) {
      cardsVisible = true;
      return true;
    } else {
      return false;
    }
  }).fadeIn();

  // Menyembunyikan elemen card yang tidak sesuai dengan pencarian
  $('.owl-carousel .card').filter(function(){
    var cardText = $(this).text().toLowerCase();
    if (cardText.indexOf(searchText) === -1) {
      return true;
    } else {
      return false;
    }
  }).hide();

  // Melakukan pencarian pada setiap elemen card di luar slider
  $('.card').filter(function(){
    var cardText = $(this).text().toLowerCase();
    if (cardText.indexOf(searchText) !== -1) {
      cardsVisible = true;
      return true;
    } else {
      return false;
    }
  }).fadeIn();

  // Menyembunyikan elemen card yang tidak sesuai dengan pencarian
  $('.card').filter(function(){
    var cardText = $(this).text().toLowerCase();
    if (cardText.indexOf(searchText) === -1) {
      return true;
    } else {
      return false;
    }
  }).hide();

  // Melakukan pencarian pada setiap elemen yang berada pada slide yang baru tampil
  $('.owl-item:not(.cloned) .card').filter(function(){
    var cardText = $(this).text().toLowerCase();
    if (cardText.indexOf(searchText) !== -1) {
      cardsVisible = true;
      return true;
    } else {
      return false;
    }
  }).fadeIn();

  // Menyembunyikan elemen card yang tidak sesuai dengan pencarian
  $('.owl-item:not(.cloned) .card').filter(function(){
    var cardText = $(this).text().toLowerCase();
    if (cardText.indexOf(searchText) === -1) {
      return true;
    } else {
      return false;
    }
  }).hide();

  // Menampilkan pesan jika tidak ada sub category yang ditemukan
  if (!cardsVisible) {
    $('#no-result').show();
  } else {
    $('#no-result').hide();
  }

  // Menyesuaikan posisi slide agar card yang match berada pada posisi awal slide
  $('.owl-item:not(.cloned)').each(function(index) {
    var $this = $(this);
    if ($this.find('.card:visible').length) {
      owl.trigger('to.owl.carousel', [index, 0, true]);
      return false;
    }
  });
}

});

</script>