<div class="panel panel-default">
  <div class="panel-heading">Form Asset Digital</div>
  <div class="panel-body">
<%= form_for(@assetsdigital, html: { class: "form-horizontal wizard-big ", role: "form", id:"form" }) do |f| %>
  <% if @assetsdigital.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@assetsdigital.errors.count, "error") %> prohibited this assetsdigital from being saved:</h4>

      <ul>
      <% @assetsdigital.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Layanan Digital</h1>
  <fieldset>
  <div class="row">
  <div class="col-md-6">
  <h2>Layanan Digital</h2>
  <div class="form-group">
    <%= f.label :nama_aplikasi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nama_aplikasi, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pemilik_proses, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :pemilik_proses, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :deskripsi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :deskripsi, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pic, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :pic, class: "form-control", required:true %>
    </div>
  </div>
  </div>
  <div class="col-md-6">
  <h2>Teknologi</h2>
  <div class="form-group">
    <%= f.label :bahasa, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :bahasa, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :framework, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :framework, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :current_version, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :current_version, class: "form-control", required:true %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :lisensi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :lisensi, class: "form-control", required:true %>
    </div>
  </div>
  </div>
  </fieldset>
  <h1>Tingkat Layanan</h1>
  <fieldset>
  <div class="row">
  <div class="col-md-6">
  <h2>Aspek Keamanan Informasi</h2>
  <div class="form-group">
    <%= f.label :antivirus, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :antivirus, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :server_hardening, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :server_hardening, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :intruder_incident, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :intruder_incident, class: "form-control", required:true %>
    </div>
  </div>
  </div>
  <div class="col-md-6">
  <h2>Aspek Infrastruktur</h2>
  <div class="form-group">
    <%= f.label :availability, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :availability, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pemeliharaan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :pemeliharaan, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bug_fixing, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :bug_fixing, class: "form-control", required:true %>
    </div>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
  <h2>Aspek Layanan</h2>
  <div class="form-group">
    <%= f.label :waktu_respon, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :waktu_respon, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :jam_layanan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :jam_layanan, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :waktu_eskalasi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :waktu_eskalasi, class: "form-control", required:true %>
    </div>
  </div>
  </div>
  <div class="col-md-6">
  <h2>Aspek Aplikasi</h2>
  <div class="form-group">
    <%= f.label :waktu_respon, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :waktu_respon2, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pemeliharaan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :pemeliharaan, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
  <%= f.label :bug_fixing, class: "col-sm-2 control-label" %>
    <%= f.label :periode, class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= f.number_field :periode, class: "form-control", required:true %>
    </div>

 
    <%= f.label :retensi, class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= f.number_field :retensi, class: "form-control", required:true%>
    </div>
  </div>
  </div>
  </div>
  </fieldset>
  <h1>Komponen Pendukung</h1>
  <fieldset>
  <h2>Komponen Pendukung</h2>
  <div class="form-group">
    <%= f.label :storage_server, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :storage_server, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :server, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :server, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :internet, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :internet, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :proteksi_akses, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :proteksi_akses, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :antivirus, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :antivirus, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :domain, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :domain, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pemeliharaan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :bug_fixing, class: "form-control", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :uji_keamanan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :uji_keamanan, class: "form-control", required:true %>
    </div>
  </div>
  </fieldset>
  <h1>Biaya</h1>
  <fieldset>
  <h2>Estimasi Based on Cloud</h2>
  <div class="form-group">
    <%= f.label :biaya_hardware, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :biaya_hardware, class: "form-control", id:"biaya_hardware", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :biaya_jaringan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :biaya_jaringan, class: "form-control",  id:"biaya_jaringan", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :biaya_keamanan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :biaya_keamanan, class: "form-control", id:"biaya_keamanan", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :biaya_pemeliharaan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :biaya_pemeliharaan, class: "form-control", id:"biaya_pemeliharaan", required:true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :total, class: "form-control", id:"total", required:true%>
    </div>
  </div>

<% end %>
  </div>
</div>
<% content_for :javascript do %>

<script type="text/javascript">




$(function() {

    $("#wizard").steps();
    $("#form").steps({
        bodyTag: "fieldset",
        onStepChanging: function (event, currentIndex, newIndex) {
            // Always allow going backward even if the current step contains invalid fields!
            if (currentIndex > newIndex) {
                return true;
            }

            // Forbid suppress#ing "Warning" step if the user is to young
            if (newIndex === 3 && Number($("#age").val()) < 18) {
                return false;
            }

            var form = $(this);

            // Clean up if user went backward before
            if (currentIndex < newIndex) {
                // To remove error styles
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }

            // Disable validation on fields that are disabled or hidden.
            form.validate().settings.ignore = ":disabled,:hidden";

            // Start validation; Prevent going forward if false
            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {
            // Suppress (skip) "Warning" step if the user is old enough.
            if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                $(this).steps("next");
            }

            // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3) {
                $(this).steps("previous");
            }
        },
        onFinishing: function (event, currentIndex) {
            var form = $(this);

            // Disable validation on fields that are disabled.
            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
            form.validate().settings.ignore = ":disabled";

            // Start validation; Prevent form submission if false
            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            var form = $(this);

            // Submit form input
            form.submit();
        },
        onCanceled: function (event) {
        // Lakukan tindakan yang diinginkan saat tombol cancel diklik
        // Misalnya, mengarahkan pengguna ke halaman lain atau melakukan reset form
          var form = $(this);
        // Contoh:
        // $("#form")[0].reset();
         form[0].reset();
           window.location.href = "http://192.168.60.175/assetsdigitals/new";
        }
    }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
   });

});

$(document).ready(function () {
  let totalBiaya = {
    rupiah :'Rp. ',
    hardware: 0,
    network: 0,
    security: 0,
    maintenance: 0,

  };
  $('#biaya_hardware').change(function() {
    totalBiaya['hardware'] = parseFloat($(this).val());
  });
  $('#biaya_jaringan').change(function() {
    totalBiaya['network'] = parseFloat($(this).val());
  });
  $('#biaya_keamanan').change(function() {
    totalBiaya['security'] = parseFloat($(this).val());
  });
  $('#biaya_pemeliharaan').change(function() {
    totalBiaya['maintenance'] = parseFloat($(this).val());
  });
  $('#biaya_hardware, #biaya_jaringan, #biaya_keamanan, #biaya_pemeliharaan').change(function () {
    const totalEstimationBasedOnCloud = totalBiaya['hardware'] + totalBiaya['network'] + totalBiaya['security'] + totalBiaya['maintenance'];
    $('#total').val(totalEstimationBasedOnCloud)
  });
    });
</script>

<% end %>
