<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form Asset Digital</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= assetsdigitals_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to new_assetsdigital_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Tambah Asset Digital
    <% end %>
        <%= link_to '', class: 'btn btn-primary', data: { toggle: "modal", target: "#import-modal" } do %>
      <span class="glyphicon glyphicon-plus"></span>
      Import Asset Digital
    <% end %>

    <!-- Import Modal -->
    <div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-labelledby="import-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_with url: import_assetsdigitals_path, local: true, multipart: true, class: "import-form" do |form| %>
            <div class="modal-header">
              <h5 class="modal-title" id="import-modal-label">Import Assets</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Select an Excel file to import:</p>
              <%= form.file_field :file %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= form.submit "Import", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
                  <th>Nama aplikasi</th>
                  <th>Pemilik proses</th>
                  <th>Deskripsi</th>
                  <th>Pic</th>
                <th>Aksi</th>
      </tr>
      </thead>

      <tbody>
      <% @assetsdigitals.each_with_index do |assetsdigital, index| %>
      <tr>
        <td><%= index+1 %></td>
                  <td><%= assetsdigital.nama_aplikasi %></td>
                  <td><%= assetsdigital.pemilik_proses %></td>
                  <td><%= assetsdigital.deskripsi %></td>
                  <td><%= assetsdigital.pic %></td>
                <td><%= link_to 'Show', assetsdigital, class:"btn btn-sm btn-success"%>
        <%= link_to 'Edit', edit_assetsdigital_path(assetsdigital),class:"btn btn-sm btn-primary" %>
        <%= link_to 'Destroy', assetsdigital, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-sm btn-danger" %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
