<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form Layanan Digital</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= assetsdigitals_url %>">List</a>
      </li>
      <li class="active">
        <strong>Detail</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to assetsdigitals_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
    <%= link_to edit_assetsdigital_path(@assetsdigital), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %>
<!--    <h1>Show </h1>-->
  </div>
  <dl class="dl-horizontal">
<div class="panel panel-success">
  <div class="panel-heading">Detail Aplikasi</div>
  <div class="panel-body">
  <div class="row">
  <div class="col-sm-8">
      <dt>Nama aplikasi :</dt>
      <dd><%= @assetsdigital.nama_aplikasi %></dd>

      <dt>Pemilik proses :</dt>
      <dd><%= @assetsdigital.pemilik_proses %></dd>

      <dt>Deskripsi :</dt>
      <dd><%= @assetsdigital.deskripsi %></dd>

      <dt>Pic :</dt>
      <dd><%= @assetsdigital.pic %></dd>
      </div>
      </div>
    </div>
    </div>
    <div class="panel panel-default">
  <div class="panel-heading">Teknologi</div>
  <div class="panel-body">
      <dt>Bahasa :</dt>
      <dd><%= @assetsdigital.bahasa %></dd>

      <dt>Framework :</dt>
      <dd><%= @assetsdigital.framework %></dd>

      <dt>Current version :</dt>
      <dd><%= @assetsdigital.current_version %></dd>


      <dt>Lisensi :</dt>
      <dd><%= @assetsdigital.lisensi %></dd>
    </div>
    </div>
    <div class="panel panel-default">
  <div class="panel-heading">Tingkat Layanan</div>
  <div class="panel-body">
  <div class="row">
    <div class="col-md-6">
    <h3>Aspek Keamanan Informasi</h3>
      <dt>Antivirus :</dt>
      <dd><%= @assetsdigital.antivirus %></dd>

      <dt>Server hardening :</dt>
      <dd><%= @assetsdigital.server_hardening %></dd>

      <dt>Intruder incident :</dt>
      <dd><%= @assetsdigital.intruder_incident %></dd>
      </div>
    <div class="col-md-6">
    <h3>Aspek Insfrastruktur</h3>
      <dt>Availability :</dt>
      <dd><%= @assetsdigital.availability %></dd>

      <dt>Pemeliharaan :</dt>
      <dd><%= @assetsdigital.pemeliharaan %></dd>

      <dt>Bug fixing :</dt>
      <dd><%= @assetsdigital.bug_fixing %></dd>
      </div>
  </div>
  <div class="row">
  <div class=col-md-6>
  <h3>Aspek Layanan</h3>
      <dt>Waktu respon :</dt>
      <dd><%= @assetsdigital.waktu_respon %></dd>

      <dt>Jam layanan :</dt>
      <dd><%= @assetsdigital.jam_layanan %></dd>

      <dt>Waktu eskalasi :</dt>
      <dd><%= @assetsdigital.waktu_eskalasi %></dd>

      
    </div>
  <div class="col-md-6">
  <h3>Aspek Aplikasi</h3>
      <dt>Waktu respon :</dt>
      <dd><%= @assetsdigital.waktu_respon2 %></dd>
      <dt>Pemeliharaan :</dt>
      <dd><%= @assetsdigital.pemeliharaan %></dd>

      <dt>Periode :</dt>
      <dd><%= @assetsdigital.periode %></dd>

      <dt>Retensi :</dt>
      <dd><%= @assetsdigital.retensi %></dd>
      </div>
      </div>
      </div>
      </div>
    <div class="panel panel-default">
  <div class="panel-heading">Komponen Pendukung</div>
  <div class="panel-body">
      <dt>Storage server:</dt>
      <dd><%= @assetsdigital.storage_server %></dd>

      <dt>Server:</dt>
      <dd><%= @assetsdigital.server %></dd>

      <dt>Internet:</dt>
      <dd><%= @assetsdigital.internet %></dd>

      <dt>Proteksi akses:</dt>
      <dd><%= @assetsdigital.proteksi_akses %></dd>

      <dt>Antivirus:</dt>
      <dd><%= @assetsdigital.antivirus %></dd>

      <dt>Domain:</dt>
      <dd><%= @assetsdigital.domain %></dd>

      <dt>Bug fixing:</dt>
      <dd><%= @assetsdigital.bug_fixing %></dd>

      <dt>Uji keamanan:</dt>
      <dd><%= @assetsdigital.uji_keamanan %></dd>
    </div>
    </div>
    <div class="panel panel-default">
  <div class="panel-heading">Biaya</div>
  <div class="panel-body">
  <div class="row">
  <div class="col-md-6">
      <dt>Biaya hardware:</dt>
      <dd>Rp. <%= @assetsdigital.biaya_hardware %></dd>

      <dt>Biaya jaringan:</dt>
      <dd>Rp. <%= @assetsdigital.biaya_jaringan %></dd>

      <dt>Biaya keamanan:</dt>
      <dd>Rp. <%= @assetsdigital.biaya_keamanan %></dd>
      </div>
    <div class="col-md-6">
      <dt>Biaya pemeliharaan:</dt>
      <dd>Rp. <%= @assetsdigital.biaya_pemeliharaan %></dd>

      <dt>Total:</dt>
      <dd>Rp. <%= @assetsdigital.total %></dd>
      </div>
      </div>
    </div>
    </div>
  </dl>
</div>

<%
=begin
%>
<%= render 'history'%>
<%
=end
%>