<div class="panel panel-default">
  <div class="panel-heading">Form category</div>
  <div class="panel-body">
<%= form_for(@category, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @category.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%
=begin%>  
  <div class="form-group">
    <label class="col-sm-2 control-label">PIC</label>
    <div class="col-sm-10">
      <select data-placeholder="Pilih Teknisi" class="form-control" name="category[pic]" data-live-search="true" id="pic" required>
        <%= raw(getPic)%>
      </select>
    </div>
  </div>
<%
=end%>
  <div class="form-group">
    <label class="col-sm-2 control-label">Kategori</label>
    <div class="col-sm-10">
       <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Deskripsi Kategori</label>
    <div class="col-sm-10">
       <%= f.text_area :deskripsi_kategori, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
  
    <label class="col-sm-2 control-label">Icon Card</label>
    <div class="col-sm-10">
      <%= f.file_field :lampiran_icon, class: "form-control", direct_upload: true, accept: 'image/jpeg, image/jpg, image/png' , :id => "file" %>
          <div style="margin-top: 10px;">
            <% if @category.lampiran_icon.attached? %>
              <span style="margin-right: 10px"><%= link_to "#{[ "#{@category.lampiran_icon.nil? ? "" : @category.lampiran_icon.filename}" ]}", rails_blob_path(@category.lampiran_icon.nil? ? "" : @category.lampiran_icon, disposition: 'preview'), :target => "_blank" %>
                <%# <%= link_to '', url_for(controller: :categorys, action: :delete_file, attachment_id: @category.lampiran_icon.id), class: 'fa fa-close', method: "DELETE", data: { confirm: 'Are you sure?' } %>
                <% if  @category.lampiran_icon.id.present?%>
                  <%= link_to '', url_for(controller: :categories, action: :delete_file, attachment_id: begin @category.lampiran_icon.id rescue "Photo Tidak Ada" end), class: 'fa fa-close', method: "DELETE", data: { confirm: 'Are you sure?' } %>
                <%end%>
              </span>
            <% end %>
          </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Kendala</label>
    <div class="col-sm-10">
    <style>
            /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 420px) {
              #sub-category {width: 250px;}
            }

            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
              #sub-category {width: 550px;}
            }

            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) {
              #sub-category {width: 500px;}
            } 

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
              #sub-category {width: 500px;}
            } 

            /* Extra large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1200px) {
              #sub-category {width: 700px;}
            }
          </style>
      <button class="btn btn-primary btn-sm tambah_usulan" type="button" >+ Sub Kategori</button>
      <div class="row">
          <div class="col-sm-12">
          </div>
          <div class="col-sm-12">
            <table class="table table-borderless">
              <tbody id="usulan_vendor"> 
                <% if @category.new_record? %>
                  <tr>
                    <td>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-md-6"><input name="category[sub_category][]" type="text" placeholder="Sub Kategori" class="form-control"></div>
                              <div class="col-md-3">
                                <%= select_tag "category[jenis_layanan][]", options_for_select([["Pilih Jenis Layanan", ""], ["Insiden", "Insiden"], ["Request", "Request"], ["Keduanya", "Keduanya"]]), class: "form-control" %>
                              </div>
                            <div class="col-md-3">
                              <%= f.collection_select :templates_id, MessageTemplate.all, :id, :name, {prompt: "-- Pilih Template Pesan --"}, class: 'form-control ', id: '', name:'category[templates_id][]', :required => true  %>
                            </div>
                          </div>
                        </div>
                      </div>    
                    </td>
                    <td>
                      <div class="form-check">
                        <select id="approved" name="category[approved][]" class="form-control">
                          <option value="false">Not Approved</option>
                          <option value="true">Approved</option>
                        </select>
                      </div>
                    </td>
                  <tr>
                <% else %>
                  <% unless !@sub_category.kind_of?(Array) %>
                  
                    <% [@sub_category,@jenis_layanan,@templates_id,@approved].transpose.each do |etc, jenis_layanan, template, approved| %>
                      <tr>
                        <td>
                          <div class="col-sm-12">
                            <div class="row">
                              <div class="col-md-6"><input name="category[sub_category][]" type="text" placeholder="Sub Kategori"   value="<%= etc %>" class="form-control"></div>
                                <div class="col-md-3">
                                  <select class="form-control" name="category[jenis_layanan][]">
                                    <% if jenis_layanan.present? %>
                                      <% if jenis_layanan.include?("Request") %>
                                        <option value="Request" selected>Request</option>
                                        <option value="Insiden">Insiden</option>
                                        <option value="Keduanya">Keduanya</option>
                                        <% if jenis_layanan.include?("Insiden") %>
                                          <option value="Request">Request</option>
                                          <option value="Insiden" selected>Insiden</option>
                                          <option value="Keduanya">Keduanya</option>
                                        <% end %>
                                        <% if jenis_layanan.include?("Keduanya") %>
                                          <option value="Keduanya">Keduanya</option>
                                        <% end %>
                                      <% elsif jenis_layanan.include?("Insiden") %>
                                        <option value="Request">Request</option>
                                        <option value="Insiden" selected>Insiden</option>
                                        <option value="Keduanya">Keduanya</option>
                                        <% if jenis_layanan.include?("Keduanya") %>
                                          <option value="Keduanya">Keduanya</option>
                                        <% end %>
                                      <% elsif jenis_layanan.include?("Keduanya") %>
                                        <option value="Request">Request</option>
                                        <option value="Insiden">Insiden</option>
                                        <option value="Keduanya" selected>Keduanya</option>
                                      <% else %>
                                        <option value="" selected>-- Pilih Jenis Layanan --</option>
                                        <option value="Request">Request</option>
                                        <option value="Insiden">Insiden</option>
                                        <option value="Keduanya">Keduanya</option>
                                      <% end %>
                                    <% else %>
                                      <option value="" selected>-- Pilih Jenis Layanan --</option>
                                      <option value="Request">Request</option>
                                      <option value="Insiden">Insiden</option>
                                      <option value="Keduanya">Keduanya</option>
                                    <% end %>
                                  </select>
                                </div>
                                <div class="col-md-3">
                                  <select name="category[templates_id][]" id="templates_id" class="form-control" required>
                                    <option value="">-- Pilih Template Pesan --</option>
                                    <% MessageTemplate.all.each do |pesan| %>
                                      <% selected = (template.strip.to_i == pesan.id) ? "selected" : "" %>
                                      <option value="<%= pesan.id %>" <%= selected %>> <%= pesan.name %> </option>
                                    <% end %>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>    
                        </td>
                        <td>
                          <div class="form-check">
                           <select id="approved" name="category[approved][]" class="form-control">
                            <%if approved.include? "true"%>
                              <option value="<%=approved%>" selected>Approved</option>
                              <option value="false">Non Approved</option>
                            <%else%>
                              <option value="true">Approved</option>
                              <option value="<%=approved%>" selected>Non Approved</option>
                            <%end%>
                           </select>
                          </div>
                        </td>
                        <td>
                          <button class="btn btn-danger btn-sm remove_usulan" type="button">Hapus</button>
                        </td>
                      <tr>
                    <% end %>
                  <% end %>
                <% end %>
              <tbody> 
            </table>
          </div>
      </div>
    </div>
  </div>
  

<%
=begin
%> 
  <div class="form-group">
    <label class="col-sm-2 control-label">Kategori</label>
    <div class="col-sm-10">
      <%= f.select :name, ["Layanan User", "Layanan Digital", "Layanan System", "Layanan Lisensi"], {prompt: "Silahkan Dipilih"}, id: "getKategori", onchange: "dataSource()", class: 'dtSource form-control kategori' %>
    </div>
  </div>
 

    <div class="form-group">
      <%= f.label :sub_category, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.hidden_field :sub_category, class: "form-control", id: "sub_layanan_hidden" %>
        <select id="sub_layanan" class="form-control" name="category[sub_layanan]" required></select>
      </div>
    </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Kendala</label>
    <div class="col-sm-10">
    <style>
            /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 420px) {
              #sub-category {width: 250px;}
            }

            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
              #sub-category {width: 550px;}
            }

            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) {
              #sub-category {width: 500px;}
            } 

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
              #sub-category {width: 500px;}
            } 

            /* Extra large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1200px) {
              #sub-category {width: 700px;}
            }
          </style>
      <button class="btn btn-primary btn-sm tambah_usulan" type="button" >+ Kendala</button>
      <div class="row">
          <div class="col-sm-12">
          </div>
          <div class="col-sm-6">
            <table class="table table-borderless">
              <tbody id="usulan_vendor"> 
                <% if @category.new_record? %>
                  <tr>
                    <td>
                      <div class="input-group">
                        <input type="text" name="category[sub_category][]" class="form-control" id="sub-category">
                      </div>
                    </td>
                  <tr>
                <% else %>
                  <% unless !@sub_category.kind_of?(Array) %>
                    <% @sub_category.each do |etc| %>
                      <tr>
                        <td>
                          <div class="input-group">
                            <input type="text" name="category[sub_category][]" class="form-control" id="sub-category" value="<%= etc %>">
                          </div>
                        </td>
                        <td>
                          <button class="btn btn-danger btn-sm remove_usulan" type="button">Hapus</button>\
                        </td>
                      <tr>
                    <% end %>
                  <% end %>
                <% end %>
              <tbody> 
            </table>
          </div>
      </div>
    </div>
  </div>
<%
=end
%>  
<%
=begin
%>
  <div class="form-group">
    <label class="col-sm-2 control-label">Tipe Layanan</label>
    <div class="col-sm-10">
      <%= f.collection_select :service_type_id, ServiceType.all, :id, :nama, {prompt: "-- Pilih Tipe Layanan --"}, class: 'form-control', id: 'service-type' %>
    </div>
  </div>
<%
=end%>  
<%
=begin
%>
  <div class="form-group">
    <%= f.label :template, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :template, class: "form-control" %>
    </div>
  </div>
<%
=end
%>
<%
=begin
%>
    <div class="form-group">
      <label class="col-sm-2 control-label">Status Tiket</label>
      <div class="col-sm-10">
        <% if @category.new_record? %>
          <select data-placeholder="Pilih Status Tiket" class="form-control" name="category[status_template_tiket]" id="status_template_tiket" data-live-search="true">
              <%= raw(getTemplateStatus)%>
          </select>
        <% else %>
          <select data-placeholder="Pilih Status Tiket" class="form-control" name="category[status_template_tiket]" id="status_template_tiket" data-live-search="true">
              <% if @category.status_template_tiket.present? %>
                <%= raw(getTemplateStatusParams(@category.status_template_tiket))%>
              <% else %>
                <%= raw(getTemplateStatus)%>
              <% end %>
          </select>
        <% end %>
      </div>
    </div>
<%
=end%>

 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>
<script type="text/javascript">

$("select#getKategori").change(function () {
      $.getJSON("/helper_json/" +$(this).val()+ "/getLayanan", function (callback) {
        console.log(callback)
        if (callback != "error"){
          if (callback.length > 0) {
            $("select#sub_layanan").empty();
            $("select#sub_layanan").removeAttr('disabled');
            $("#sub_layanan").append('<option disabled selected>--Pilih Sub Kategori --</option>');
            for (let i = 0; i < callback.length; i++){
              $("#sub_layanan").append(new Option(callback[i]));
            }
          } else {
            $("select#sub_layanan").empty();
            

                    
          }
        }
      });
    });
function dataSource(){ // https://stackoverflow.com/questions/1078118/how-do-i-iterate-over-a-json-structure
      var data = $("#kategori").val();
      console.log(data);
      if (data == "Layanan User"){
        $('.assetuser').show();
        $('.assetdigital').hide();
      }else if (data == "Layanan Digital"){
        $('.assetdigital').show();
        $('.assetuser').hide();
      }
    }
    $('#sub_layanan').select2();
    $('#pic').select2();

   $(document).ready(function() {

//   $('input[type="checkbox"]').on('change', function() {
//     if ($(this).is(':checked')) {
//       $(this).val('true');
//     } else {
//       $(this).val('false');
//     }
//   });
// $('input[type="checkbox"]').val('false');
  $('.tambah_usulan').on('click', function() {
  // Simpan nilai opsi yang dipilih sebelumnya
  var selectedValues = $('.template_pesan').map(function() {
    return $(this).val();
  }).get();

  // Tambahkan baris baru ke tabel
  $('#usulan_vendor').append(' \
    <tr> \
      <td> \
        <div class="col-sm-12"> \
          <div class="row"> \
            <div class="col-md-6"> \
              <input name="category[sub_category][]" type="text" placeholder="Sub Kategori" class="form-control"> \
            </div> \
            <div class="col-md-3"> \
              <select name="category[jenis_layanan][]" class="form-control"> \
                <option value="">Pilih Jenis Layanan</option> \
                <option value="Insiden">Insiden</option> \
                <option value="Request">Request</option> \
                <option value="Keduanya">Keduanya</option> \
              </select> \
            </div> \
            <div class="col-md-3"> \
              <select class="form-control template_pesan" name="category[templates_id][]" required> \
              </select> \
            </div> \
          </div> \
        </div> \
      </td> \
      <td> \
        <div class="form-check">\
          <select id="approved" name="category[approved][]" class="form-control">\
            <option value="false">Not Approved</option>\
            <option value="true">Approved</option>\
          </select>\
        </div>\
      </td> \
      <td> \
        <button class="btn btn-danger btn-sm remove_usulan" type="button">Hapus</button> \
      </td> \
    </tr>');

  // Setelah baris baru ditambahkan, tambahkan option yang baru ke setiap select dropdown
  setTimeout(() => {
    $.getJSON("/helper_json/getTemplateTiket", function(callback) {
      $(".template_pesan").append($('<option/>', {
        disabled: true,
        selected: true,
        value: "",
        text: "--Pilih--"
      }));

      if (callback != "error") {
        callback.map(template_pesan); //https://www.w3schools.com/js
      }

      $('.template_pesan').select2();

      // Kembalikan nilai opsi yang dipilih sebelumnya ke setiap select dropdown
      $('.template_pesan').each(function(index) {
        $(this).val(selectedValues[index]).trigger('change');
      });
    });
  }, 0);

  return false;
});  


  $('#usulan_vendor').on('click', '.remove_usulan', function() {
    $(this).parent().parent().remove();
    return false;
  });

  function template_pesan(value){
    // console.log(value)
  
    $(".template_pesan").append('<option value="'+value.id+'">'+value.name+'</option>')
  }
});
 

</script> 
<!--Javascriptnya ada di coffee -->