<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form category</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= categories_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to new_category_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Category
    <% end %>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
                  <th>Name</th>
                  <th>Sub category</th>
                  <%# <th>Service type</th> %>
                  <%# <th>PIC</th> %>
                <th>Aksi</th>
        <%# <th></th>
        <th></th> %>
      </tr>
      </thead>

      <tbody>
      <% @categories.each_with_index do |category, index| %>
      <tr>
        <td><%= index+1 %></td>
                  <td><%= category.name %></td>
                  <td><%= category.sub_category.gsub('"','').gsub('[','').gsub(']','') %></td>
                  <%# <td><%= category.service_type.nama %>
<%
=begin%>                  
                  <td><%= category.pic %></td>
<%
=end%>
        <td>
            <%= link_to 'Show', category %>
            <%= link_to 'Edit', edit_category_path(category) %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
