<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form category</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>   
        <a href="<%= categories_url %>">List</a>
      </li>
      <li class="active">
        <strong>Detail</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to categories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
    <%= link_to edit_category_path(@category), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %>
<!--    <h1>Show </h1>-->
  </div>
<div class="panel-heading">Detail Kategori</div>
  <div class="panel-body">
  <dl class="dl-horizontal">
      <dt>PIC :</dt>
      <dd><%= @category.try(:pic) %></dd>

<%
=begin%>
      <dt>Sub category:</dt>
      <dd><%= @category.sub_category %></dd>

      <dt>Sub Layanan</dt>
      <dd><%= @category.sub_layanan %></dd>

      <dt>Kendala:</dt>
      <dd><%= @category.kendala %></dd>

      <dt>Service type:</dt>
      <dd><%= @category.template %></dd>
<%
=end%>
  </dl>
</div>
</div>
</div>
