<div class="panel panel-default">
  <div class="panel-heading">Form ticket_approval</div>
  <div class="panel-body">
<%= form_for(@ticket_approval, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @ticket_approval.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@ticket_approval.errors.count, "error") %> prohibited this ticket_approval from being saved:</h4>

      <ul>
      <% @ticket_approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ticket, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :ticket, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :user, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :status, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :catatan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :catatan, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>