<div class="row">


  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class="ibox-tools">                        
        </div>                       
        <input type="hidden" id="roleActive"  value="<%= roleActive.id %>">             
          <%= form_tag(:action => :index) do %>
            <%= select_tag "category", options_for_select(@kategori.uniq),{class: "col-2 form-control-sm  input-s-sm inline filter_kategori" ,prompt: "-- Kategori --"} %>
            <%= select_tag "status", options_for_select(@status.uniq),{class: "col-2 form-control-sm inline filter_status" ,prompt: "-- Status --"} %> 
          <% end %>             
      </div>
      <div class="ibox-content">
        <div class="row">                                  
        </div>                                       
        <div class="table-responsive">                                     
          <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead> 
              <tr>
                <th>No</th>
                <th>Open Tiket</th>
                <th>No Tiket Insiden</th>
                <th>Requester</th>
                <th>Kategori</th>
                <th>Teknisi</th>
                <th>Priority</th>
                <th>Status Tiket</th>
                <th>Keterangan</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% @ticket_approvals.each_with_index do |ticket_approval, index| %>
                <tr>
                  <td><%= index+1%></td>
                  <td><%= ticket_approval.ticket.nil? ? "" : ticket_approval.ticket.created_at.strftime(" %d/%m/%Y at %I:%M%p" )    %></td>
                  <td><%= ticket_approval.ticket.nil? ? "" : ticket_approval.ticket.try(:no_tiket)%></td>
                  <td><%= ticket_approval.ticket.nil? ? "" : ticket_approval.ticket.try(:nama_pemohon)%></td>
                  <td><%= ticket_approval.ticket.nil? ? "" : ticket_approval.ticket.try(:kategori)%></td>
                  <td><%= ticket_approval.ticket.nil? ? "" : ticket_approval.ticket.try(:teknisi)%></td>
                  <td><%= ticket_approval.ticket.nil? ? "" : ticket_approval.ticket.try(:priority)%></td>
                  <td align="center">
                      <style>
                        .status-tiket{
                          font-size: 12px;
                          color: black;
                        }
                      </style>
                      <%# status tiket open,solved,closed,pending,on proces,planning %>
                      <% if ticket_approval.status.present? && ticket_approval.status.match(/(Reject)/) %>
                        <span class="label label-danger status-tiket"><%= ticket_approval.status %></span>
                      <% elsif  ticket_approval.status.present? &&  ticket_approval.status.match(/(Approved)/) %>
                        <span class="label label-success status-tiket"><%= ticket_approval.status %></span>
                      <% elsif  ticket_approval.status.present? &&  ticket_approval.status.match(/(On Approval)/) %>
                         <span class="label label-info status-tiket"><%= ticket_approval.status %></span>
                      <% end %>
                  </td>
                  <td><%= ticket_approval.try(:catatan).nil? ? "Tidak Ada Keterangan" : ticket_approval.try(:catatan) %></td>
                  <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                     <%# <%= link_to 'Show', ticket_approval %>
                     <%# <%= link_to 'Edit', edit_ticket_approval_path(ticket_approval) %>
                     <%= link_to 'Approved', approvals_ticket_approval_path(ticket_approval), method: :post, data: { confirm: 'Apakah Anda Yakin untuk Menyetujui Tiket?' } %>
                     <%# <%= link_to 'Reject', reject_ticket_approval_path(ticket_approval), method: :post, data: { confirm: 'Apakah Anda Yakin untuk Reject Tiket?' } %>
                     <!-- ubah link reject menjadi button -->
        
                     <%= link_to 'Reject', '#', data: { toggle: 'modal', target: '#rejectModal' }, data_reject_ticket: true, data_reject_ticket_id: ticket_approval.id, onclick: "openRejectModal(this)" %>
                      <!-- tambahkan modal ke dalam view -->
                      <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="rejectModalLabel">Reject Tiket <%= ticket_approval.ticket.try(:no_tiket)%></h5>
                              <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
                            </div>
                            <div class="modal-body">
                            <%= form_with url: reject_ticket_approval_path(ticket_approval), id: "rejectForm" do |f| %>
                                <div class="mb-3">
                                  <%= f.label :catatan, "Catatan" %>
                                  <%= f.text_area :catatan, class: "form-control", required: true %>
                                  <br>
                                  <%= button_tag 'Cancel', type: 'button', class: 'btn btn-secondary', data: { dismiss: 'modal' } %>
                                  <%= button_tag 'Reject', type: 'submit', class: 'btn btn-danger' %>
                                </div>
                              <% end %>
                            </div>
                        
                          </div>
                        </div>
                      </div>



                     <%= link_to 'Destroy', ticket_approval, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                  </td>                                     
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
  $(document).ready(function() {
    var $dTable = $('.dataTables-example').DataTable();

    // Tampilkan modal saat tombol reject diklik
    $(document).on("click", "button[data-reject-ticket]", function(e) {
      e.preventDefault();
      var $modal = $('#rejectModal');
      var $form = $modal.find('form');
      $form.attr('action', $(this).data('url'));
      $modal.modal('show');

          $('.filter_kategori').on('change', function(e){
      var kategori = $(this).val();
      $('.filter_kategori').val(kategori)
      // console.log(kategori)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();

        $dTable.column(4).search(kategori ? '^' + kategori + '$' : '', true, false).draw();
       console.log(kategori)
    });

    $('.filter_status').on('change', function(e){
      var status = $(this).val();
      $('.filter_status').val(status)
      
      if (role == 2 || role == 3 ) {
        $dTable.column(8).search(status ? '' + status + '' : '', true, false).draw();
      } else {
        // console.log(status);
        $dTable.column(9).search(status ? '' + status + '' : '', true, false).draw();
      }
      // $dTable.column(8).search(status ? '' + status + '' : '', true, false).draw();
      // Update URL with new parameters
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("status", status);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/tickets/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);
    });
    });


   // Kirim data catatan ke server saat form disubmit
    // $('#rejectForm').submit(function(e) {
    //   e.preventDefault();
    //   var $form = $(this);
    //   var url = $form.attr('action');
    //   var data = $form.serialize();

    //   $.ajax({
    //     type: "POST",
    //     url: url,
    //     data: data,
    //     success: function() {
    //       $('#rejectModal').modal('hide');
    //       // tambahkan kode untuk menampilkan pesan sukses atau redirect ke halaman lain
    //     }
    //   });
    // });

    function openRejectModal(link) {
      var rejectId = link.getAttribute('data-reject-ticket-id');
      var form = document.getElementById('rejectForm');
      form.action = form.action + '/' + rejectId;
      $('#rejectModal').modal('show');
    }
  });
</script>

 