<div class="panel panel-default">
  <div class="panel-heading">Form ticket_approval.Ticket - <%= @ticket_approval.ticket.try(:no_tiket)%></div>
  <div class="panel-body">
    <form class="form-horizontal">
<%
=begin%>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">No ticket_approval.Ticket</label>
            <div class="col-sm-6">
              <input type="text" value="<%= @ticket_approval.ticket.try(:no_tiket)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
<%
=end%>
      <div class="row">
        <div class="col-md-6">
          <h3>Pemohon</h3>
          <br>
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:nama_pemohon)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Satuan Kerja</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:divisi_pemohon)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Pemilik Kendala</h3>
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:nama_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Satuan Kerja</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:divisi_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Area</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:area_pemilik_kendala)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>

      <hr style="border-color: black;">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Kategori</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:kategori)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Sub Kategori</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:sub_kategori)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Jenis Layanan</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:jenis_layanan)%>" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Status Tiket</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:status_tiket)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
<%
=begin%>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Sub Layanan</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:sub_kategori)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
<%
=end%>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Teknisi</label>
            <div class="col-sm-10">
              <input type="text" value="<%= @ticket_approval.ticket.try(:teknisi)%>" class="form-control" disabled>
            </div>
          </div>
        </div>
        <%# <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-2 control-label"> Status Antrian</label>
            <div class="col-sm-10">
              <input type="text" value="antrian 2 tiket" class="form-control" disabled>
            </div>
          </div>
        </div>         %>
      <div class="row">

      </div>    
      <hr style="border-color: black;">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Keterangan</label>
            <div class="col-sm-10">
              <textarea class="form-control" style="resize: none; height: 10em; border-color: transparent;" disabled><%= @ticket_approval.ticket.try(:keterangan)%></textarea>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Lampiran</label>
            <div class="col-sm-10">
                <td>
              <% if @ticket_approval.ticket.lampiran.attached? %>
                <% @ticket_approval.ticket.lampiran.each do |lampiran| %>
                  <span style="margin-right: 10px">
                    <%= link_to "#{[ "#{lampiran.filename}" ]}", rails_blob_path(lampiran, disposition: 'preview'), :target => "_blank" %>
                    <%# <%= link_to '', url_for(controller: :ticket_approval.tickets, action: :delete_file_lampiran, attachment_id: lampiran.id), class: 'fa fa-close', method: "DELETE", data: { confirm: 'Apa kamu yakin?' }                     <br> %>
                  </span>
                <% end %>
              <% end %>
            </td>
            </div>
          </div>
        </div>
      <div class="row">

      </div>    
      <hr style="border-color: black;">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Masukkan Alasan Reject</label>
            <div class="col-sm-10">
              <textarea class="form-control" style="resize: none; height: 10em; border-color: transparent;" disabled><%= @ticket_approval.try(:catatan)%></textarea>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama Atasan Terkait</label>
            <div class="col-sm-10">
               <input type="text" value="<%= @ticket_approval.user.username%>" class="form-control" disabled>
            </div>
          </div>
        </div>

         

      </div>
    </form>
  </div>
</div>