<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <a href="<%= root_path %>">
                            <%= image_tag "helpdesk-logo.jpeg", width: 60, style:"border-radius: 25%;" %>
                        </a>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold" style="font-size: 14px;"><%= sessionName %><b class="caret"></b></strong>
                            </span>
                            <%# </span> <span class="text-muted text-xs block"><b class="caret"></b></span> %>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <% sessionRole.each_with_index.map { |role| %>
                            <%
                                if session[:active_role].to_s.match(/^#{role.role_id}$/)
                                    @color = "color: blue;"
                                else
                                    @color = ""
                                end
                            %> 
                            <li style="<%= @color %>"><a onclick="switchRole(<%= role.try(:role_id)%>)"><%= "#{role.try(:nameroles)}" %></a>
                            </li>
                        <% }.join(", ").gsub(",","")%>
                        <li><a style="pointer-events: none;"><%= sessionArea %></a>
                        </li>
                        <li><%= link_to "Edit Profil", edit_user_path(current_user) %></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <%= image_tag "helpdesk-logo.jpeg", width: 60, style:"border-radius: 25%;" %>
                </div>
            </li>
            <li class="<%= "active" if is_active_controller('dashboards') and is_active_action('home') %>">
                <%= link_to dashboards_home_path do %>
                <i class="fa fa-home"></i> <span class="nav-label">Dashboard</span>
                <% end %>
            </li>
            <% if   roleActive.permissions.user.manage? or 
                    roleActive.permissions.role.manage? or
                    roleActive.permissions.category.manage? or
                    roleActive.permissions.service_type.manage? or 
                    
                    
                    roleActive.permissions.assetsdigital.manage? or
                    roleActive.permissions.position.manage? %>
                <li class="<%= "active" if is_active_controller('users') or is_active_controller('roles') %>">
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">User Management</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level <%= "active" if is_active_controller('users') or is_active_controller('roles') %>">
                        <li class="<%= is_active_controller('users') %>"><%= link_to "Users", users_path %></li>
                        <li class="<%= is_active_controller('roles') %>"><%= link_to "Roles", roles_path %></li>
                    </ul>
                </li>
                <li class="<%= "active" if is_active_controller('positions') or is_active_controller('collection_assets') or is_active_controller('categories') or is_active_controller('service_types') %>">
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Master Data</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level <%= "active" if is_active_controller('positions') or is_active_controller('collection_assets') or is_active_controller('categories') or is_active_controller('service_types') %>">
                        <%# <li class="<%= is_active_controller('collection_assets') %>
                        <%# "><%= link_to "Kategori Asset", collection_assets_path %>
                        <%# </li> %> 
<%
=begin%>
                        <li class="<%= is_active_controller('asstessits') %>"><%= link_to "Aset SIT", assetssits_path %></li>
<%
=end%>                        
                        <li class="<%= is_active_controller('positions') %>"><%= link_to "Jabatan", positions_path %></li>
                        <li class="<%= is_active_controller('categories') %>"><%= link_to "Categories", categories_path %></li>
                        <li class="<%= is_active_controller('service_types') %>"><%= link_to "Service Types", service_types_path %></li>
                    </ul>
                </li>
                <%end%>
                <% if roleActive.permissions.collection_asset.manage? %>
                <li class="<%= "active" if is_active_controller('collection_assets') or is_active_controller('assetssits') or is_active_controller('assetsusers') %>">
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Master Data Assets</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level <%= "active" if is_active_controller('collection_assets') or is_active_controller('assetssits') or is_active_controller('assetsusers') %>">
                        <% unless roleActive.id != 4 and roleActive.id != 1 and roleActive.id != 3 %>
                            <li class="<%= is_active_controller('collection_assets') %>"><%= link_to "Kategori Aset", collection_assets_path %></li>
                            <li class="<%= is_active_controller('asstessits') %>"><%= link_to "Aset Komputer", assetssits_path %></li>
                            <li class="<%= is_active_controller('assetsusers') %>"><%= link_to "Layanan User", assetsusers_path %></li>
                            <li class="<%= is_active_controller('changes') %>"><%= link_to "Change", changes_path %></li>
                            <li class="<%= is_active_controller('assetssystems') %>"><%= link_to "Layanan Sistem", assetssystems_path %></li>
                        <% end %>
                        <% unless roleActive.id != 5 and roleActive.id != 1 %>
                        <li class="<%= is_active_controller('assetsdigitals') %>"><%= link_to "Layanan Digital", assetsdigitals_path %></li>
                        <li class="<%= is_active_controller('assetlisensis') %>"><%= link_to "Layanan Lisensi", assetlisensis_path %></li>
                        <%end%>
                    </ul>
                </li>
            <% end %>
            <% unless roleActive.id != 2 and roleActive.id != 3 and roleActive.id != 1 and roleActive.id != 4 %>
                <li class="<%= "active" if is_active_controller('tickets')%>">
                    <% if roleActive.id.to_s.match(/^1$/)%>
                        <% @getClosed = Ticket.where('status_tiket != ?', "Closed").count %>
                    <% elsif roleActive.id.to_s.match(/^2$/)%>
                        <% @getClosed = Ticket.where('status_tiket != ? and nama_pemohon = ?', "Closed", current_user.name).count %>
                    <% elsif roleActive.id.to_s.match(/^3$/) %>
                        <% @getClosed = Ticket.where('status_tiket != ? and teknisi = ?', "Closed", current_user.name).count %>
                    <% end %>
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Tickets</span> <span class="fa arrow"></span> <span class="label label-info pull-right"><%= @getClosed %></span> </a>
                    <ul class="nav nav-second-level <%= "active" if is_active_controller('tickets') %>">
                        <% if roleActive.permissions.ticket.create? %>
                            <li class="<%= is_active_controller('tickets') and is_active_action('new') %>"><%= link_to "Create Tickets", new_ticket_path %></li>
                        <% end %>
                        <% if roleActive.permissions.ticket.destroy? or
                                                                roleActive.permissions.ticket.read? %>
                            <li class="<%= is_active_controller('tickets') and is_active_action('index') %>"><%= link_to "List Tickets", tickets_path %></li>
                        <% end %>
                    </ul>
                </li>
            <% end %>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <!-- 
            
            <li class="<%= is_active_controller('dashboards') %>">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level <%= is_active_controller('dashboards') %>">
                    <li class="<%= is_active_action('dashboard_1') %>"><%= link_to "Dashboard v.1", root_path %></li>
                    <li class="<%= is_active_action('dashboard_2') %>"><%= link_to "Dashboard v.2", dashboards_dashboard_2_path %></li>
                    <li class="<%= is_active_action('dashboard_3') %>"><%= link_to "Dashboard v.3", dashboards_dashboard_3_path %></li>
                    <li class="<%= is_active_action('dashboard_4_1') %>"><%= link_to "Dashboard v.4", dashboards_dashboard_4_1_path %></li>
                </ul>
            </li>
            <li class="<%= is_active_controller('layoutsoptions') %>">
                <%= link_to layoutsoptions_index_path do %>
                <i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span> <span class="label label-primary pull-right">NEW</span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('graphs') %>">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level is_active_controller('graphs')">
                    <li class="<%= is_active_action('flot') %>"><%= link_to "Flot Charts", graphs_flot_path %></li>
                    <li class="<%= is_active_action('morris') %>"><%= link_to "Morris.js Charts", graphs_morris_path %></li>
                    <li class="<%= is_active_action('rickshaw') %>"><%= link_to "Rickshaw Charts", graphs_rickshaw_path %> </li>
                    <li class="<%= is_active_action('chartjs') %>"><%= link_to "Chart.js", graphs_chartjs_path %></li>
                    <li class="<%= is_active_action('peity') %>"><%= link_to "Peity Charts", graphs_peity_path %></li>
                    <li class="<%= is_active_action('sparkline') %>"><%= link_to "Sparkline Charts", graphs_sparkline_path %> </li>
                </ul>
            </li>
            
            <li class="<%= is_active_controller('mailbox') %>">
                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level is_active_controller('mailbox')">
                    <li class="<%= is_active_action('inbox') %>"><%= link_to "Inbox", mailbox_inbox_path %> </li>
                    <li class="<%= is_active_action('email_view') %>"><%= link_to "Email view", mailbox_email_view_path %> </li>
                    <li class="<%= is_active_action('compose_email') %>"><%= link_to "Compose email", mailbox_compose_email_path %> </li>
                    <li class="<%= is_active_action('email_templates') %>"><%= link_to "Email templates", mailbox_email_templates_path %> </li>
                </ul>
            </li>
            <li class="<%= is_active_controller('widgets') %>">
                <%= link_to widgets_index_path do %>
                <i class="fa fa-flask"></i> <span class="nav-label">Widgets</span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('forms') %>">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level is_active_controller('forms')">
                    <li class="<%= is_active_action('basic_forms') %>"><%= link_to "Basic form", forms_basic_forms_path %></li>
                    <li class="<%= is_active_action('advanced') %>"><%= link_to "Advanced Plugins", forms_advanced_path %> </li>
                    <li class="<%= is_active_action('wizard') %>"><%= link_to "Wizard", forms_wizard_path %> </li>
                    <li class="<%= is_active_action('file_upload') %>"><%= link_to "File Upload", forms_file_upload_path %> </li>
                    <li class="<%= is_active_action('text_editor') %>"><%= link_to "Text Editor", forms_text_editor_path %> </li>
                </ul>
            </li>
            <li class="<%= is_active_controller('appviews') %>">
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
                <ul class="nav nav-second-level is_active_controller('appviews')">
                    <li class="<%= is_active_action('contacts') %>"><%= link_to "Contacts", appviews_contacts_path %> </li>
                    <li class="<%= is_active_action('profile') %>"><%= link_to "Profile", appviews_profile_path %> </li>
                    <li class="<%= is_active_action('projects') %>"><%= link_to "Projects", appviews_projects_path %> </li>
                    <li class="<%= is_active_action('project_detail') %>"><%= link_to "Project detail", appviews_project_detail_path %> </li>
                    <li class="<%= is_active_action('teams_board') %>"><%= link_to "Teams board", appviews_teams_board_path %> </li>
                    <li class="<%= is_active_action('clients') %>"><%= link_to "Clients", appviews_clients_path %> </li>
                    <li class="<%= is_active_action('outlook_view') %>"><%= link_to "Outlook view", appviews_outlook_view_path %> </li>
                    <li class="<%= is_active_action('file_menager') %>"><%= link_to "File manager", appviews_file_menager_path %> </li>
                    <li class="<%= is_active_action('calendar') %>"><%= link_to "Calendar", appviews_calendar_path %> </li>
                    <li class="<%= is_active_action('issue_tracker') %>"><%= link_to "Issue trakcer", appviews_issue_tracker_path %> </li>
                    <li class="<%= is_active_action('blog') %>"><%= link_to "Blog", appviews_blog_path %> </li>
                    <li class="<%= is_active_action('article') %>"><%= link_to "Article", appviews_article_path %> </li>
                    <li class="<%= is_active_action('faq') %>"><%= link_to "FAQ", appviews_faq_path %> </li>
                    <li class="<%= is_active_action('timeline') %>"><%= link_to "Timeline", appviews_timeline_path %> </li>
                    <li class="<%= is_active_action('pin_board') %>"><%= link_to "Pin board", appviews_pin_board_path %> </li>
                </ul>
            </li>
            
            <li class="<%= is_active_controller('pages') %>">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level is_active_controller('pages')">
                    <li class="<%= is_active_action('search_results') %>"><%= link_to "Search results", pages_search_results_path %> </li>
                    <li class="<%= is_active_action('lockscreen') %>"><%= link_to "Lockscreen", pages_lockscreen_path %> </li>
                    <li class="<%= is_active_action('invoice') %>"><%= link_to "Invoice", pages_invoice_path %> </li>
                    <li class="<%= is_active_action('login') %>"><%= link_to "Login", pages_login_path %> </li>
                    <li class="<%= is_active_action('login_2') %>"><%= link_to "Login v.2", pages_login_2_path %></li>
                    <li class="<%= is_active_action('forgot_password') %>"><%= link_to "Forgot password", pages_forgot_password_path %></li>
                    <li class="<%= is_active_action('register') %>"><%= link_to "Register", pages_register_path %> </li>
                    <li class="<%= is_active_action('not_found_error') %>"><%= link_to "404 Page", pages_not_found_error_path %> </li>
                    <li class="<%= is_active_action('internal_server_error') %>"><%= link_to "500 Page", pages_internal_server_error_path %> </li>
                    <li class="<%= is_active_action('empty_page') %>"><%= link_to "Empty page", pages_empty_page_path %> </li>
                </ul>
            </li>
            <li class="<%= is_active_controller('miscellaneous') %>">
                <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span><span class="label label-info pull-right">NEW</span></a>
                <ul class="nav nav-second-level is_active_controller('miscellaneous')">
                    <li class="<%= is_active_action('notification') %>"><%= link_to "Notification", miscellaneous_notification_path %> </li>
                    <li class="<%= is_active_action('nestablelist') %>"><%= link_to "Nestable list", miscellaneous_nestablelist_path %></li>
                    <li class="<%= is_active_action('agile_board') %>"><%= link_to "Agile board", miscellaneous_agile_board_path %></li>
                    <li class="<%= is_active_action('timeline_second_version') %>"><%= link_to "Timeline v.2", miscellaneous_timeline_second_version_path %> </li>
                    <li class="<%= is_active_action('diff') %>"><%= link_to "Diff", miscellaneous_diff_path %> </li>
                    <li class="<%= is_active_action('idle_timer') %>"><%= link_to "Idle timer", miscellaneous_idle_timer_path %> </li>
                    <li class="<%= is_active_action('spinners') %>"><%= link_to "Spinners", miscellaneous_spinners_path %> </li>
                    <li class="<%= is_active_action('live_favicon') %>"><%= link_to "Live favicon", miscellaneous_live_favicon_path %> </li>
                    <li class="<%= is_active_action('google_maps') %>"><%= link_to "Google maps", miscellaneous_google_maps_path %> </li>
                    <li class="<%= is_active_action('code_editor') %>"><%= link_to "Code editor", miscellaneous_code_editor_path %> </li>
                    <li class="<%= is_active_action('modal_window') %>"><%= link_to "Modal window", miscellaneous_modal_window_path %> </li>
                    <li class="<%= is_active_action('forum_view') %>"><%= link_to "Forum view", miscellaneous_forum_view_path %> </li>
                    <li class="<%= is_active_action('validation') %>"><%= link_to "Validation", miscellaneous_validation_path %> </li>
                    <li class="<%= is_active_action('tree_view') %>"><%= link_to "Tree view", miscellaneous_tree_view_path %> </li>
                    <li class="<%= is_active_action('chat_view') %>"><%= link_to "Chat view", miscellaneous_chat_view_path %> </li>
                </ul>
            </li>
            <li class="<%= is_active_controller('uielements') %>">
                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level is_active_controller('uielements')">
                    <li class="<%= is_active_action('typography') %>"><%= link_to "Typography", uielements_typography_path %></li>
                    <li class="<%= is_active_action('icons') %>"><%= link_to "Icons", uielements_icons_path %> </li>
                    <li class="<%= is_active_action('draggable_panels') %>"><%= link_to "Draggable Panels", uielements_draggable_panels_path %> </li>
                    <li class="<%= is_active_action('buttons') %>"><%= link_to "Buttons", uielements_buttons_path %></li>
                    <li class="<%= is_active_action('video') %>"><%= link_to "Video", uielements_video_path %> </li>
                    <li class="<%= is_active_action('tables_panels') %>"><%= link_to "Tabs & Panels", uielements_tables_panels_path %> </li>
                    <li class="<%= is_active_action('notifications_tooltips') %>"><%= link_to "Notifications & Tooltips", uielements_notifications_tooltips_path %> </li>
                    <li class="<%= is_active_action('badges_labels_progress') %>"><%= link_to "Badges, Labels, Progress", uielements_badges_labels_progress_path %> </li>
                </ul>
            </li>
            
            <li class="<%= is_active_controller('gridoptions') %>">
                <%= link_to gridoptions_index_path do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('tables') %>">
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level is_active_controller('tables')">
                    <li class="<%= is_active_action('static_tables') %>"><%= link_to "Static Tables", tables_static_tables_path %> </li>
                    <li class="<%= is_active_action('data_tables') %>"><%= link_to "Data Tables", tables_data_tables_path %></li>
                    <li class="<%= is_active_action('jqgrid') %>"><%= link_to "jqGrid", tables_jqgrid_path %></li>
                </ul>
            </li>
            <li class="<%= is_active_controller('gallery') %>">
                <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level is_active_controller('gallery')">
                    <li class="<%= is_active_action('basic_gallery') %>"><%= link_to "Lightbox Gallery", gallery_basic_gallery_path %> </li>
                    <li class="<%= is_active_action('bootstrap_carusela') %>"><%= link_to "Bootstrap Carusela", gallery_bootstrap_carusela_path %> </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="#">Second Level Item</a></li>
                    <li>
                        <a href="#">Second Level Item</a></li>
                    <li>
                        <a href="#">Second Level Item</a></li>
                </ul>
            </li>
            <li class="<%= is_active_controller('cssanimations') %>">
                <%= link_to cssanimations_index_path do %>
                <i class="fa fa-magic"></i> <span class="nav-label">CSS Animations </span><span class="label label-info pull-right">62</span>
                <% end %>
            </li>
            <li class="landing_link">
                <%= link_to landing_index_path do %>
                <i class="fa fa-star"></i> <span class="nav-label">Landing page </span>
                <% end %>
            </li>
            -->
            </li>
        </ul>
        
    </div>
    </div>
</nav>

<script type="text/javascript">
    function switchRole(obj) {
         $.getJSON("/helper_json/" +obj+ "/switchRole",
          function ( callback ) {
          if (callback != "error"){
            location.href = "<%= root_path%>";
          }
        });
    }
</script>