 
<% unless roleActive.id != 2 %>
    <% 
        getArea = RoleAssignment.where(user_id: current_user.id).select('*')
        area = []
        getArea.each do |getArea|
            area[getArea.area_id.to_i] = getArea.area_id
        end
        checkArea = RoleAssignment.where('user_id = ? and area_id IN (?)', current_user.id, area)

        checkProfile = User.find(current_user.id)
    %>
    <% unless (checkProfile.division_id.present? or checkProfile.position_id.present?) and checkArea.exists? %>
        <div class="modal inmodal fade" id="updateProfile" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-style: italic;">Update Profile</h4>
                        <label class="form-control" style="font-weight: normal; border-color: transparent; background-color: transparent;">Dimohon untuk melakukan <span style="font-style: italic;">update profile</span> anda terlebih dahulu sebelum menggunakan layanan <span style="font-style: italic;">helpdesk</span> kami.</label>
                    </div>
                    <%@user = User.find(current_user.id) %>
                    <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
                        <input type="hidden" name="update_profile" value="Self-Service">
                        <div class="modal-body" id="modal-form-update-profile">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Jabatan</label>
                                        <div class="col-sm-8">
                                            <%= f.collection_select :position_id, Position.all, :id, :nama, {prompt: "-- Pilih Jabatan --"}, class: 'form-control', id: 'position', style: "width: 100%;", required: true %>
                                        </div>
                                    </div>
                                        <div class="form-group">
                                        <label class="col-sm-3 control-label">Satuan Kerja / Direktorat</label>
                                        <div class="col-sm-8">
                                            <%= f.collection_select :division_id, Division.all, :id, :nama, {prompt: "-- Pilih Satuan Kerja / Direktorat --"}, class: 'form-control', id: 'division', style: "width: 100%;", required: true %>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="tooltip-demo">
                                                <button type="button" class="btn btn-primary-outline btn-xs" data-toggle="tooltip" data-placement="right" title="
                                                    Jika jabatan DIREKSI maka pilih awalan DIREKTUR
                                                ">?</button>
                                            </div>
                                        </div>
                                    </div>
                                    <style>
                                        .container-area {
                                            border: 1px solid grey;
                                            width: 300px;
                                            height: 200px;
                                            overflow-y: scroll;
                                            position: relative;
                                            background: white;
                                            margin-top: 2px;
                                        }
                                    </style>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Area</label>
                                        <div class="col-sm-8">
                                            <div class="container-area">
                                                <%= f.collection_check_boxes :area_ids, Area.all, :id, :nama do |m| %>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <%= m.label class: 'checkbox-inline' do %>
                                                        <%= m.check_box class: 'checkbox-inline' %>
                                                        <%= m.text %><br>
                                                    <% end %>
                                                    </div>
                                                </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <script>
            $(window).on('load', function() {
                $('#updateProfile').modal('show');
            });
            $('#position').select2({
                dropdownParent: $('#modal-form-update-profile')
            });
            $('#division').select2({
                dropdownParent: $('#modal-form-update-profile')
            });
        </script>
    <% end %>
<% end %>