 
<% if roleActive.id == 2 %>
<%# satisfactionForSelfService %>
          
<div class="row p-w-md m-t-lg">

<% if satisfactionForSelfServiceBYPemilikKendalaEskalasi.exists?  %> 
        <% satisfactionForSelfServiceBYPemilikKendalaEskalasi.each do |satisfaction|%>
            <% satisfaction.ticket_problem.each do |ticket_problem| %>
                <div class="modal inmodal fade" id="satisfaction-eksalasi" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" style="font-style: italic;">Satisfaction Eskalasi</h4>
                                <label class="form-control" style="font-weight: normal; border-color: transparent; background-color: transparent;">Terimakasih telah menggunakan layanan <span style="font-style: italic;">helpdesk</span>, penilaian anda sangat berarti bagi kami untuk meningkatkan pelayanan yang diberikan.</label>
                            </div>
                            <%= form_for :process_tickets, url: process_tickets_createSatisfactionEskalasi_path, method: :post, html: {class: "form-horizontal", role: "form"} do |f|%>
                                <input type="hidden" name="ticket_id" value="<%= ticket_problem.id %>">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label style="font-size: 14px;">Detail Tiket</label>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Tiket Utama</label>
                                                <div class="col-sm-10">
                                                    <input type="text" value="<%= satisfaction.try(:no_tiket) %>" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Tiket Eskalasi</label>
                                                <div class="col-sm-10">
                                                    <input type="text" value="<%= ticket_problem.try(:no_ticket_problem) %>" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <hr style="border-top: 1px solid black;">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Teknisi</label>
                                                <div class="col-sm-10">
                                                    <input type="text" value="<%= ticket_problem.try(:teknisi) || "Admin" %>" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Kategori</label>
                                                <div class="col-sm-10">
                                                    <input type="text" value="<%= ticket_problem.try(:kategori)%>" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Sub Kategori</label>
                                                <div class="col-sm-10">
                                                    <input type="text" value="<%= ticket_problem.try(:sub_kategori)%>" class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr style="border-top: 1px solid black;">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Penilaian</label>
                                        <div class="col-sm-10">
                                            <span class="form-control" style="border-color: transparent; background-color: transparent;">
                                                <input type="radio" value="1" name="satisfaction" id="penilaian">
                                                <label>1</label>
                                                <input type="radio" value="2" name="satisfaction" id="penilaian">
                                                <label>2</label>
                                                <input type="radio" value="3" name="satisfaction" id="penilaian">
                                                <label>3</label>
                                                <input type="radio" value="4" name="satisfaction" id="penilaian">
                                                <label>4</label>
                                                <input type="radio" value="5" name="satisfaction" id="penilaian">
                                                <label>5</label>
                                            </span>
                                            <label class="form-control" style="font-weight: normal; border-color: transparent; background-color: transparent;">Berikan nilai 1 untuk pelayanan buruk, 5 untuk terbaik</label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="form-catatan-nilai">
                                        <label class="col-sm-2 control-label">Catatan*</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="catatan-nilai" name="satisfaction_note" style="resize: none; height: 10em;"></textarea>
                                        </div>
                                    </div>
                                    <!--
                                    <p>
                                        <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                        printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged.
                                    </p>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Tidak Sekarang</button>
                                    <button type="submit" class="btn btn-info">Nilai</button>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <%end%>
        <% end %>
        <script>

        $(window).on('load', function() {
            // var modalShown = false;
            // var lastModalShown = null;
            // $("#satisfaction").on('show.bs.modal', function(){
            //     var currentTime = new Date();
            //     if(lastModalShown == null || (currentTime - lastModalShown) > 1*60*1000){ //30 menit- 1menit
            //         // Tampilkan modal
            //         $('#satisfaction').modal('show');
            //         lastModalShown = currentTime;
            //     }
            // });
            // $('#satisfaction').modal('show'); //default
            // $("#satisfaction").on('show.bs.modal', function(){
            //     if(!modalShown){
            //         // Tampilkan modal
            //         $('#satisfaction').modal('show');
            //         modalShown = true;
            //     }
            // });
            // Inisialisasi variable untuk menyimpan waktu ditutup modal
            let modalClosedTime = 0;

            // Tambahkan event listener untuk "hide.bs.modal"
            $('#satisfaction-eksalasi').on('hide.bs.modal', function (e) {
                // Tandai waktu modal ditutup
                modalClosedTime = Date.now();
            });

            // Set interval untuk mengecek apakah 30 menit telah berlalu sejak modal ditutup
            setInterval(function() {
                // Hitung selisih waktu saat ini dan waktu modal ditutup
                let timeElapsed = Date.now() - modalClosedTime;
                // Jika 30 menit atau lebih telah berlalu dan modal ditutup
                if (timeElapsed >= 1800000) {
                    // Tampilkan modal
                    $('#satisfaction-eksalasi').modal('show');
                }
            }, 5000);
    

            document.getElementById("form-catatan-nilai").style.display = "none";
            document.getElementById("penilaian").required = true;
            return $("input[name='satisfaction']").click(function () {
                var value = $(this).val();
                if (value <= 4){
                    document.getElementById("form-catatan-nilai").style.display = "inline";
                    document.getElementById("catatan-nilai").required = true;
                    $('#catatan-nilai').attr('disabled', false);
                }else{
                    document.getElementById("form-catatan-nilai").style.display = "none";
                    document.getElementById("catatan-nilai").required = false;
                    $('#catatan-nilai').attr('disabled', true);
                }

            });  
        });
        </script>
    <% end %>
<% end %>