<style>

.overflow{
    max-height:250px;
    /* overflow:auto; */
    overflow: auto;
     outline: none;
}
</style>
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a href="<%= root_path %>" class="navbar-brand">HELPDESK</a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="active">
                            
                                <%# <a aria-expanded="false" role="button" href="layouts.html"> Welcome</a> %>
                                    <%# <span class="m-r-sm text-muted welcome-message">Welcome to HELPDESK</span> %>
                            <li class="<%= "active" if is_active_controller('dashboards') and is_active_action('home') %>">
                                <%= link_to dashboards_home_path do %>
                                <i class="fa fa-home"></i> <span class="nav-label">Dashboard</span>
                                <% end %>
                            </li>
                             <% unless roleActive.id != 1 %>
                                <li class="dropdown">
                                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Ticket <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu" <%= "active" if is_active_controller('collection_assets') or is_active_controller('assetssits') or is_active_controller('assetsusers') %>">
                                        </li>
                                            <% if roleActive.permissions.ticket.destroy? or roleActive.permissions.ticket.read? %>
                                                <li class="<%= is_active_controller('tickets') and is_active_action('index') %>"><%= link_to "List Tickets", tickets_path %></li>
                                            <% end %>
                                        </li>

                                        </li>
                                            <% if roleActive.permissions.ticket.create? %>
                                            <li class="<%= is_active_controller('tickets') and is_active_action('new') %>"><%= link_to "Create Tickets", new_ticket_path %></li>
                                            <% end %>
                                        </li>            
                                    </ul>
                                </li>
                            <%else%>
                                 </li>
                                    <% if roleActive.permissions.ticket.destroy? or roleActive.permissions.ticket.read? %>
                                        <li class="<%= is_active_controller('tickets') and is_active_action('index') %>"><%= link_to "List Tickets", tickets_path %></li>
                                    <% end %>
                                </li>

                                </li>
                                    <% if roleActive.permissions.ticket.create? %>
                                    <li class="<%= is_active_controller('tickets') and is_active_action('new') %>"><%= link_to "Create Tickets", new_ticket_path %></li>
                                    <% end %>
                                </li>                           
                            <%end%>
                            <% if roleActive.permissions.collection_asset.manage? %>
                                <li class="dropdown">
                                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Master Data Assets <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu" <%= "active" if is_active_controller('collection_assets') or is_active_controller('assetssits') or is_active_controller('assetsusers') %>">
                                        <% unless roleActive.id != 4 and roleActive.id != 1 and roleActive.id != 3 %>
                                            <li class="<%= is_active_controller('collection_assets') %>"><%= link_to "Kategori Aset", collection_assets_path %></li>
                                            <li class="<%= is_active_controller('asstessits') %>"><%= link_to "Aset Komputer", assetssits_path %></li>
                                            <li class="<%= is_active_controller('assetsusers') %>"><%= link_to "Layanan User", assetsusers_path %></li>
                                            <li class="<%= is_active_controller('changes') %>"><%= link_to "Change", changes_path %></li>
                                            <li class="<%= is_active_controller('assetssystems') %>"><%= link_to "Layanan Sistem", assetssystems_path %></li>
                                        <% end %>
                                        <% unless roleActive.id != 5 and roleActive.id != 1 %>
                                        <li class="<%= is_active_controller('assetsdigitals') %>"><%= link_to "Layanan Digital", assetsdigitals_path %></li>
                                        <li class="<%= is_active_controller('assetlisensis') %>"><%= link_to "Layanan Lisensi", assetlisensis_path %></li>
                                        <%end%>
                                    </ul>
                                </li>
                            <% end %>
                            <% if   
                                roleActive.permissions.user.manage? or 
                                roleActive.permissions.role.manage? or
                                roleActive.permissions.category.manage? or
                                roleActive.permissions.service_type.manage? or 
                                
                                
                                roleActive.permissions.assetsdigital.manage? or
                                roleActive.permissions.position.manage? %>
                                <li class="dropdown">
                                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Master Data  <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu" <%= "active" if is_active_controller('positions') or is_active_controller('collection_assets') or is_active_controller('categories') or is_active_controller('service_types') %>">
                                        <li class="<%= is_active_controller('positions') %>"><%= link_to "Jabatan", positions_path %></li>
                                        <li class="<%= is_active_controller('categories') %>"><%= link_to "Categories", categories_path %></li>
                                        <li class="<%= is_active_controller('service_types') %>"><%= link_to "Service Types", service_types_path %></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> User Management  <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu" <%= "active" if is_active_controller('users') or is_active_controller('roles') %>">
                                       <li class="<%= is_active_controller('users') %>"><%= link_to "Users", users_path %></li>
                                       <li class="<%= is_active_controller('roles') %>"><%= link_to "Roles", roles_path %></li>
                                    </ul>
                                </li>



                            <% end %>

<%#                             
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                </ul>
                            </li> %>

                        </ul>
<ul class="nav navbar-top-links navbar-right">
            <%# <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to HELPDESK</span>
            </li> %>

            <%# <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li> %>


   
               
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope"></i>  
                        <span class="label label-warning">
                         <%# 16 %>
                        <% roleActive.id %>
                        <% @cekReadTicket = NotificationReadTicket.where(user_id: current_user.id)%>
                        <%# @getNotifUser = Ticket.where(status_tiket: ["Closed", "On Processing", "Problem"], nama_pemohon: current_user.name).where.not(id: NotificationReadTicket.where(user_id: current_user.id, read: true).select(:ticket_id)).order(:updated_at => :desc) %>

                        <% 
                        @getNotifUser = TicketHistory.includes(:ticket).where("tickets.nama_pemohon": current_user.name).where(status_tiket: ["Closed", "On Processing", "Problem"]).where.not(id: NotificationReadTicket.where(user_id: current_user.id, read: true).select(:ticket_history_id)).order(:updated_at => :desc)

                        # @getNotifUser = Ticket.where(status_tiket: ["Closed", "On Processing", "Problem"], nama_pemohon: current_user.name).order(:updated_at => :desc)
                        %>
                        <% @getNotifAdmin = 
                        # TicketHistory.from("(#{
                        #         TicketHistory.includes(:ticket).where("tickets.status_tiket": ["Waiting","Problem"])
                        #         .where.not(id: NotificationReadTicket.where(user_id: current_user.id, read: true).select(:ticket_history_id))
                        #         .select("distinct on (tickets.no_tiket) ticket_histories.*")
                        #         .order("tickets.no_tiket, ticket_histories.updated_at desc").to_sql
                        #         }) as ticket_histories")
                        TicketHistory.includes(:ticket).where("tickets.status_tiket": ["Waiting","Problem"]).where.not(id: NotificationReadTicket.where(user_id: current_user.id, read: true).select(:ticket_history_id)).order(:updated_at => :desc)
                        # Ticket.where(status_tiket:["Waiting"]).where.not(id: NotificationReadTicket.where(user_id: current_user.id, read: true).select(:ticket_id)).order(:updated_at => :desc)
                        %>
                        <% @getNotiTeknisi = 
                        TicketHistory.includes(:ticket).where("tickets.teknisi": current_user.name).where("tickets.status_tiket": ["Waiting", "Problem"]).where.not(id: NotificationReadTicket.where(user_id: current_user.id, read: true).select(:ticket_history_id)).order(:updated_at => :desc)
                        # Ticket.where(status_tiket:["Waiting","Problem"], teknisi: current_user.name).where.not(id: NotificationReadTicket.where(user_id: current_user.id, read: true).select(:ticket_id)).order(:updated_at => :desc)%>
                        <%if roleActive.id == 1  ||  roleActive.id == 4 %>
                            <%= @getNotifAdmin.count%>
                        <%elsif roleActive.id == 2 %>
                            <%= @getNotifUser.count%>
                        <%elsif roleActive.id == 3 %>
                            <%= @getNotiTeknisi.count%>    
                        <%end %>
                        </span>
                    </a>
                    
                    <ul class=" dropdown-menu dropdown-messages dropdown-menu-right ">
                      <ul class="overflow  list-group elements-list ">
                        <%if roleActive.id == 1 ||  roleActive.id == 4%>
                            <%@getNotifAdmin.each do |notif|%>
                                <li class="list-group-item">
                                    <a data-toggle="" href="<%= ticket_notification_path(notif.id)%>">
                                        <small class="pull-right text-muted"> <%=notif.updated_at.try(:strftime, "%m/%d/%Y")%></small>
                                        <strong class="pull-left">Tiket <%=notif.try(:no_tiket)%></strong>
                                        <div class="small m-t-xs">
                                            <p class="m-b-xs">
                                                Tiket baru diterima, Segera follow up.
                                            </p>
                                            <%# <p class="m-b-none">
                                                <i class="fa fa-map-marker"></i> San Francisko 12/100
                                            </p> %>
                                        </div>
                                    </a>
                                </li>
                            <%end%>
                        <%elsif roleActive.id == 2 %>
                            <%@getNotifUser.each do |notif|%>
                                <li class="list-group-item">
                                    <a data-toggle="" href="<%= ticket_notification_path(notif.id)%>">
                                        <small class="pull-right text-muted"> <%=notif.updated_at.try(:strftime, "%m/%d/%Y")%></small>
                                        <strong  class="pull-left">Tiket <%=notif.try(:no_tiket)%></strong>
                                        <div class="small m-t-xs">
                                        <%if notif.try(:status_tiket).eql? "On Processing"%>  
                                            <p class="m-b-xs">
                                                Tiket Anda 
                                                <strong class="bold ">
                                                <%=
                                                    if notif.status_tiket.eql? "On Processing" 
                                                        "On Processing" 
                                                    elsif notif.status_tiket.eql? "Closed" 
                                                        "Closed" 
                                                    else 
                                                        "Problem" 
                                                    end
                                                %>
                                                </strong>. Terima kasih. Hubungi kami jika ada pertanyaan
                                            </p>
                                        <%else%>
                                        <%end%>
                                            <%# <p class="m-b-none">
                                                <i class="fa fa-map-marker"></i> San Francisko 12/100
                                            </p> %>
                                        </div>
                                    </a>
                                </li>
                            <%end%>
                        <%elsif roleActive.id == 3 %>
                            <%@getNotiTeknisi.each do |notif|%>
                                <li class="list-group-item">
                                    <a data-toggle="" href="<%= ticket_notification_path(notif.id)%>">
                                        <small class="pull-right text-muted"> <%=notif.updated_at.try(:strftime, "%m/%d/%Y")%></small>
                                        <strong class="pull-left">Tiket <%=notif.try(:no_tiket)%></strong>
                                        <div class="small m-t-xs">
                      
                                                <% if notif.status_tiket.eql? "Waiting" %>
                                                    <p class="m-b-xs">
                                                        Tiket baru diterima, Segera proses.
                                                    </p>
                                                <%else%>
                                                    <p class="m-b-xs">
                                                        Tiket Eskalasi diterima, Segera proses.
                                                    </p>
                                                <%end%>
                                            
                                   
                                            <%# <p class="m-b-none">
                                                <i class="fa fa-map-marker"></i> San Francisko 12/100
                                            </p> %>
                                        </div>
                                    </a>
                                </li>
                            <%end%>
                        <%end%>
                      </ul>
                        <%# <ul> %>
                        <hr>
                            <div class="text-center ">

                                <a href="<%= detail_notif_tickets_path%>" class="dropdown-item">
                                   <strong class="text-navy"> All Messages</strong>
                                </a>
                            </div>
                        <%# </ul>                      %>
                    </ul>
                    
                </li>
            <li class="dropdown">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="nav-label">
                <i class="fa fa-user"></i> <%= unless current_user.nil?
                    current_user.username  end %>
                 <span class="caret nav-label"></span></span></a>
              <ul role="menu" class="dropdown-menu">
                <li>
                  <%= link_to edit_user_path(current_user) do %>
                    <span class="nav-label">
                        <i class="fa fa-gears"> Ubah Profile Anda </i>
                    </span>
                  <% end %>
                </li>
                <li>      
                    <a title="#">
                         <i class="fa fa-arrow-circle-o-right"> Role <%= current_user.roles.map(&:name).first.to_s.gsub('"','').gsub('[','').gsub(']','') %></i>
                    </a>
                </li>
                 <li>
                        <%= link_to(destroy_user_session_path, title: 'Sign Out', data: {action: 'userLogout', 'logout-msg' => 'You can improve your security further after logging out by closing this opened browser'}) do %>
                            <i class="fa fa-sign-out"> logout</i>
                        <% end %>
                </li>
              </ul>
            </li>
            
          </ul>
                    </div>
        
            <%# <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li> %>
    </ul>
</nav>
</div>


