   <td title="<%if ticket.try(:keterangan).present?%>  
                                                                    <%= ticket.try(:keterangan).strip%>
                                                               <%end%>">
                                                      <% if roleActive.present? && roleActive.id != 2 %>
                                                         <% if ticket.status_tiket.present? && ticket.status_tiket.strip.blank? || ticket.status_tiket == "Waiting" %>
                                                           <%= link_to ticket.no_tiket, confirmWaiting_process_ticket_path(ticket) %>
                                                         <% elsif ticket.status_tiket.present? &&  ticket.status_tiket == "On Processing" || ticket.status_tiket == "Approved"  %>
                                                           <%= link_to ticket.no_tiket, processTechnician_process_ticket_path(ticket) %>
                                                         <% elsif ticket.status_tiket.present? &&  ticket.status_tiket == "Solved"   %>
                                                           <%= link_to ticket.no_tiket, processClosingAdmin_process_ticket_path(ticket) %>
                                                         <%else%>
                                                            <%= ticket.no_tiket %>
                                                         <%end%>
                                                      <% else %>
                                                        <%= ticket.no_tiket %>
                                                      <% end %>
                                                    </td>