
<%if show_active_session_feature.present?%>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Solutionation Desk | PGN Solution</title>



        <!-- Include style per-controller - vendor plugins -->
        <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

        <!-- Main css styles -->
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

        <!-- Main javascript files -->
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    
    </head>
        <body class="top-navigation">

            <div id="page-wrapper" class="white-bg" style="overflow: hidden;">
                    <div class="row border-bottom white-bg">
                        <%= render 'layouts/topnavbarnew.html' %>
                        <%= render 'layouts/popup_update_profile' if current_user %>
                        <%= render 'layouts/popup_satisfaction' if current_user %>
                        <%= render 'layouts/popup_satisfaction_eskalasi' if current_user %>
                    </div>
                        <div class="wrapper wrapper-content">
                        <div class="container">
                            <%= yield %>
                            
                        </div>
                    </div>

                <%= render 'layouts/footer' if current_user%>


            </div>


            <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
            <%= yield :javascript %>
            

        </body>
    </html>

    <script type="text/javascript" charset="utf-8">
        $(function() {
            <% if alert %>
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.error('<%= alert %>', 'Warning');

            }, 1300);
            <% end %>

            <% if notice %>
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 10000
                };
                toastr.success('<%= notice %>', 'Successfull');

            }, 1300);
            <% end %>
        });
        
    </script>
    <noscript>
        <meta http-equiv="refresh" content="0;url=https://www.google.com">
    </noscript>

<%else%>
    <%= render "layouts/service" %>
<%end%>