      <div class="row">

                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <div class="ibox-tools">
                                         <%if roleActive.id == 1 %>
                                         
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle"><%=%>Download <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                    <%= link_to 'PDF', url_for(controller: :tickets, action: :cetak_pdf, format: "pdf"), class: 'dropdown-item ', target: '_blank', id:'pdf_download'%>
                                                    <%# <a href="#">PDF</a> %>
                                                    </li>
                                                    
                                                    <li>
                                                    <%= link_to 'Excel', url_for(controller: :tickets, action: :cetak_excel), class: 'dropdown-item  ', target: '_blank', id:'excel_download' %>
                                                    </li>
                                                </ul>
                                            </div>
                                         <%else%>
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <%# <ul class="dropdown-menu dropdown-user">
                                                <li><a href="#">Config option 1</a>
                                                </li>
                                                <li><a href="#">Config option 2</a>
                                                </li>
                                            </ul> %>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                         <%end%>
                                        </div>
                                        <%= form_tag(:action => :index) do %>
                                            <%= select_tag "category", options_for_select(@kategori.uniq),{class: "col-2 form-control-sm  input-s-sm inline filter_kategori" ,prompt: "-- Kategori --"} %>
                                            <%= select_tag "type", options_for_select(@tipe.uniq),{class: "col-2 form-control-sm inline filter_tipe" ,prompt: "-- Tipe --"} %>
                                            <%= select_tag "technician", options_for_select(@teknisi.uniq),{class: "col-2 form-control-sm inline filter_teknisi" ,prompt: "-- Teknisi --"} %>
                                            <%= select_tag "status", options_for_select(@status.uniq),{class: "col-2 form-control-sm inline filter_status" ,prompt: "-- Status --"} %>
                                        <% end %>
                                        <table border="0" cellspacing="5" cellpadding="5">
						<tbody><tr>
							<td>Minimum date:</td>
							<td><input type="text" id="min" name="min" autocomplete="off"></td>
						</tr>
						<tr>
							<td>Maximum date:</td>
							<td><input type="text" id="max" name="max" autocomplete="off"></td>
						</tr>
					</tbody></table>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <%# <div class="col-sm-9 m-b-xs">
                                                <div data-toggle="buttons" class="btn-group">
                                                    <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
                                                    <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
                                                    <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                            </div> %>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                <tr>

                                                    <th>No</th>
                                                    <th>Open Tiket</th>
                                                    <th>No tiket</th>
                                                    <th>Kategori</th>
                                                    <th>Sub kategori</th>
                                                    <th>Tipe layanan</th>
                                                    <th>Teknisi</th>
                                                    <th>Priority</th>
                                                    <th>Status tiket</th>
                                                    <% unless roleActive.id == 2 %>
                                                        <th>Resolution Time</th>
                                                    <% end %>
                                                    <th>Satisfaction</th>
                                                    <th>Aksi</th>
                                                </tr>
                                                </thead>
                                                <tbody>
  <% @tickets.each_with_index do |ticket, index| %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= ticket.created_at.strftime(" %m/%d/%Y at %I:%M%p" )    %></td>
                    <td><%= ticket.no_tiket %></td>
                    <td><%= ticket.kategori %></td>
                    <td><%= ticket.sub_kategori %></td>
                    <td><%= ticket.jenis_layanan %></td>
                    <td><%= ticket.teknisi %></td>
                    <td><%= ticket.priority %></td>
                    <td align="center">
                      <style>
                        .status-tiket{
                          font-size: 12px;
                          color: black;
                        }
                      </style>
                      <%# status tiket open,solved,closed,pending,on proces,planning %>
                     <% if ticket.status_tiket %>
                      <% if ticket.status_tiket.match(/(Waiting|Problem|Eskalasi)/)%>
                        <span class="label label-danger status-tiket "><%= ticket.status_tiket %></span>
                      <% elsif ticket.status_tiket.match(/(Processing Assign|Processing Plan)/) %>
                        <span class="label label-warning status-tiket"><%= ticket.status_tiket %></span>
                      <% elsif ticket.status_tiket.match(/(On Processing)/) %>
                        <span class="label label-info status-tiket"><%= ticket.status_tiket %></span>
                      <% elsif ticket.status_tiket.match(/(Solved|Closed)/) %>
                        <span class="label label-primary status-tiket"><%= ticket.status_tiket %></span>
                      <% end %>
                    <% else %>
                      <span class="label label-default status-tiket">No Status</span>
                    <% end %>
                    </td>
                    <% unless roleActive.id == 2 %>
                      <td><%= ticket.resolution_time %></td>
                    <% end %>
                    <td width="10">
                      <% unless ticket.satisfaction.blank? %>
                        <% while ticket.satisfaction >= 1 %>
                          <i class="fa fa-star text-danger"></i>
                          <% ticket.satisfaction = ticket.satisfaction - 1 %>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <%= link_to '', ticket, class:"fa fa-eye btn btn-sm btn-success me-md-2", title:"Detail"  %>
                      
                      <%= link_to '', answer_ticket_path(ticket), class:"fa fa-wechat btn btn-sm btn-primary me-md-2", title:"Answer"  %>
                      <% if roleActive.permissions.ticket.edit?%>                       
                          <% if ticket.status_tiket.match(/(Waiting)/)%>
                            <%= link_to '', follow_up_ticket_path(ticket) , class:"fa fa-tag btn btn-sm btn-warning ", title:"Follow Up" %>
                          <% end %>
                              <%# <%= link_to 'Edit Ticket', edit_ticket_path(ticket) , class:"btn btn-sm btn-primary " %>
                            
                      <% end %>
                      <%# 
                        Description Role :
                        1 (Superadmin)
                        2 (Self-Service)
                        3 (Teknisi)
                       %>
                      <% unless roleActive.id != 2 and roleActive.id != 1 and roleActive.id == 4 %>
                        <% unless ticket.status_tiket.match(/(Solved|Closed|Eskalasi|Problem|)/)%>
                          <% if roleActive.permissions.ticket.superadminEdit?%>
                            
                            <%= link_to '', superadminEdit_ticket_path(ticket) , class:"fa fa-user btn btn-sm btn-primary " , title:"Ganti Teknisi" %>
                          <% end %>
                          
                        <% end %>
                        <% unless ticket.status_tiket.match(/(On Processing|Processing Assign|Processing Plan|Solved|Closed|Eskalasi|Problem)/) %>
                          <%= link_to '', ticket, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-times btn btn-sm btn-danger", title:"Delete"  %>
                        <% end %>
                      <% end %>
                      <% unless roleActive.id != 3 and roleActive.id != 4%>
                        <% if ticket.status_tiket.match(/Waiting/) %>
                              
                              <%= link_to '', confirmWaiting_process_ticket_path(ticket.id), data: { confirm: 'Are you sure?' }, class:"fa fa-info btn btn-sm btn-info", title:"Processing"  %>
                        <% else %>
                          <% unless ticket.status_tiket.match(/(Solved|Closed|Eskalasi)/)%>
                            <%= link_to '', processTechnician_process_ticket_path(ticket.id), class:"fa fa-refresh btn btn-sm btn-default  ", title:"Proses"  %>
                          <% end %>
                        <% end %>
                      <% end %>
                      <% unless roleActive.id != 4 %>
                        <% unless !ticket.status_tiket.match(/Solved/)%>
              
                   
                            <%= link_to '', processClosingAdmin_process_ticket_path(ticket.id), class:"fa fa-check btn btn-sm btn-success", title:"Selesei"  %>
                          
                        <% end %>
                        <% unless !ticket.status_tiket.match(/Eskalasi/)%>
                            
                            <%= link_to '', createProblem_process_ticket_path(ticket.id), data: { confirm: 'Are you sure?' }, class:"fa fa-warning btn btn-sm btn-warning ", title:"Add Problem"  %>
                        <% end %>
                      <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>

                    </div>

                    <script>

    
  $(document).ready(function(){



var minDate, maxDate;
 
// Custom filtering function which will search data in column four between two values
// $.fn.dataTable.ext.search.push(
//     function( settings, data, dataIndex ) {
//         console.log(data[1])
//         var min = minDate.val();
//         var max = maxDate.val();
//         var date = new Date( data[1] );
 
//         if (
//             ( min === null && max === null ) ||
//             ( min === null && date <= max ) ||
//             ( min <= date   && max === null ) ||
//             ( min <= date   && date <= max )
//         ) {
//             return true;
//         }
//         return false;
//     }
// );
          
    $('#status_tiket').select2();
             var dataTable =   $('.dataTables-example').DataTable({
                responsive: true,
    });


            //  $("#dataTables .col-md-6:eq(0)").append($(`\   <div class="">
            //     <div class="dropdown d-inline mr-2">
            //      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            //       -- Download --
            //      </button>
            //      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
            //        <div class="m-2">
            //           <%= link_to 'PDF', url_for(controller: :tickets, action: :cetak_pdf, format: "pdf"), class: 'dropdown-item btn btn-danger pdf_download', target: '_blank', id:'pdf_download'%>
            //          <%# <button class="dropdown-item btn btn-danger" href="#">PDF</button> %>
            //        </div>
            //        <div class="m-2">
            //           <%= link_to 'Excel', url_for(controller: :tickets, action: :cetak_excel), class: 'dropdown-item btn btn-success', target: '_blank', id:'excel_download' %>
            //        </div>
            //      </div>
            //     </div>
            //    </div>  `
            //  ));
    $('.filter_kategori').on('change', function(e){
      var kategori = $(this).val();
      $('.filter_kategori').val(kategori)
      // console.log(kategori)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      dataTable.column(3).search(kategori ? '^' + kategori + '$' : '', true, false).draw();
      // (perusahaan).draw();
      
    });

    $('.filter_tipe').on('change', function(e){
      var tipe = $(this).val();
      $('.filter_tipe').val(tipe)
      // console.log(tipe)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      dataTable.column(5).search(tipe ? '^' + tipe + '$' : '', true, false).draw();
      // (perusahaan).draw();
      
    });
    $('.filter_teknisi').on('change', function(e){
      var teknisi = $(this).val();
      $('.filter_teknisi').val(teknisi)
      // console.log(teknisi)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      dataTable.column(6).search(teknisi ? '^' + teknisi + '$' : '', true, false).draw();
      // (perusahaan).draw();
      
    });

    $('.filter_status').on('change', function(e){
      var status = $(this).val();
      $('.filter_status').val(status)
      console.log(status)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      dataTable.column(8).search(status ? '' + status + '' : '', true, false).draw();
      // (perusahaan).draw();
      
    });

    // filtr range 

var minDate, maxDate;
 
// Custom filtering function which will search data in column four between two values
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = minDate.val();
        var max = maxDate.val();
        var date = new Date( data[4] );
 
        if (
            ( min === null && max === null ) ||
            ( min === null && date <= max ) ||
            ( min <= date   && max === null ) ||
            ( min <= date   && date <= max )
        ) {
            return true;
        }
        return false;
    }
  );

    // Create date inputs
    minDate = new DateTime($('#min'), {
        format: 'MMMM Do YYYY'
    });
    maxDate = new DateTime($('#max'), {
        format: 'MMMM Do YYYY'
    });
 
    // Refilter the table
    $('#min, #max').on('change', function () {
        dataTable.draw();
    });


});

    </script>

 