<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solutionation Desk | PGN Solution</title>

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
    <body>
        <!-- Main view  -->
        <%= yield %>
        <!-- Include javascript per-controller - vendor plugins -->
        <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
        <!-- Include javascript per-view -->
        <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
        <%# <%= yield :javascript %> 
    </body>
</html>
<script>
    // $(document).ready(function () {

    // });

    $(function() {
        <% if alert %>
        setTimeout(function () {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 4000
            };
            toastr.error('<%= alert %>', 'Warning');

        }, 1300);
        <% end %>

        <% if notice %>
        setTimeout(function () {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 10000
            };
            toastr.success('<%= notice %>', 'Successfull');

        }, 1300);
        <% end %>
      $('#plain-password').keyup(function(){
        const password = CryptoJS.AES.encrypt(this.value, key, { iv: iv });
        $('#cipher-password').val(password.toString());
      });

      $('#plain-username').keyup(function(){
        const password = CryptoJS.AES.encrypt(this.value, key, { iv: iv });
        $('#cipher-username').val(password.toString());
      });
        
    });
</script>

