          
               <div class="row">

           
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <div class="ibox-tools">
                                        
                                         <%if roleActive.id == 1 %>
                                         
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle"><%=%>Download <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                    <%= link_to 'PDF', url_for(controller: :tickets, action: :cetak_pdf, format: "pdf"), class: 'dropdown-item ', target: '_blank', id:'pdf_download'%>
                                                    <%# <a href="#">PDF</a> %>
                                                    </li>
                                                    
                                                    <li>
                                                    <%= link_to 'Excel', url_for(controller: :tickets, action: :cetak_excel), class: 'dropdown-item  ', target: '_blank', id:'excel_download' %>
                                                    </li>
                                                </ul>
                                            </div>
                                         <%else%>
                                            <%# <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-wrench"></i>
                                            </a> %>
                                            <%# <ul class="dropdown-menu dropdown-user">
                                                <li><a href="#">Config option 1</a>
                                                </li>
                                                <li><a href="#">Config option 2</a>
                                                </li>
                                            </ul> %>
                                            <%# <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a> %>
                                         <%end%>
                                        </div>
                                      
                                       <input type="hidden" id="roleActive"  value="<%= roleActive.id %>">
                                        <%= form_tag(:action => :index) do %>
                                            <%= select_tag "category", options_for_select(@kategori.uniq),{class: "col-2 form-control-sm  input-s-sm inline filter_kategori" ,prompt: "-- Kategori --"} %>
                                            <%= select_tag "type", options_for_select(@tipe.uniq),{class: "col-2 form-control-sm inline filter_tipe" ,prompt: "-- Tipe --"} %>
                                            <% unless roleActive.id == 3 %>
                                              <%= select_tag "technician", options_for_select(@teknisi.uniq),{class: "col-2 form-control-sm inline filter_teknisi" ,prompt: "-- Teknisi --"} %>
                                            <%end%>
                                            <%= select_tag "status", options_for_select(@status.uniq),{class: "col-2 form-control-sm inline filter_status" ,prompt: "-- Status --"} %>
                
                                        <% end %>
                                        
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <%# <div class="col-sm-9 m-b-xs">
                                                <div data-toggle="buttons" class="btn-group">
                                                    <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
                                                    <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
                                                    <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                            </div> %>
                                        </div>
                                        
                                        <div class="table-responsive">
                                        
                                            <table class="table table-striped table-bordered table-hover dataTables-example">
         
                                                <thead> 
                                                  <tr>

                                                      <th>No</th>
                                                      <th>Open Tiket</th>
                                                      <th>Pemilik Kendala</th>
                                                      <th>No tiket</th>
                                                      <% if roleActive.id == 3  || roleActive.id == 4 || roleActive.id == 1%>
                                                      <th>Requester</th>
                                                      <%end%>
                                                      <th>Kategori</th>
                                                      <th>Sub kategori</th>
                                                      <th>Tipe layanan</th>
                                                      <% unless roleActive.id == 3 %>
                                                        <th>Teknisi </th>
                                                      <%end%>
                                                      <th>Priority</th>
                                                      <th>Status tiket</th>
                                                      <% unless roleActive.id == 2 %>
                                                          <th>Resolution Time</th>
                                                      <% end %>
                                                      <th>Satisfaction</th>
                                                      <th>Aksi</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                  <% @tickets.each_with_index do |ticket, index| %>
                                                  <tr>
                                                    <td><%= index+1 %></td>
                                                    <td>
                                                        <%= ticket.try(:date_ticket).present? ? ticket.date_ticket.strftime(" %d/%m/%Y ") : ticket.created_at.strftime(" %d/%m/%Y ") %>
                                                    </td>
                                                    <td><%= ticket.try(:nama_pemilik_kendala)%></td>
                                                    <td title="<%if ticket.try(:keterangan).present?%>  
                                                                    <%= ticket.try(:keterangan).strip%>
                                                                  <%end%>">
                                                      <% if roleActive.present? && roleActive.id != 2 %>
                                                         <% if ticket.status_tiket.present? && ticket.status_tiket.strip.blank? || ticket.status_tiket == "Waiting" %>
                                                           <%= link_to ticket.no_tiket, confirmWaiting_process_ticket_path(ticket) %>
                                                         <% elsif ticket.status_tiket.present? &&  ticket.status_tiket == "On Processing"  %>
                                                           <%= link_to ticket.no_tiket, processTechnician_process_ticket_path(ticket) %>
                                                         <% elsif ticket.status_tiket.present? &&  ticket.status_tiket == "Solved"  %>
                                                           <%= link_to ticket.no_tiket, processClosingAdmin_process_ticket_path(ticket) %>
                                                         <%else%>
                                                            <%= ticket.no_tiket %>
                                                         <%end%>
                                                      <% else %>
                                                        <%= ticket.no_tiket %>
                                                      <% end %>
                                                    </td>

                                                    <% if roleActive.id == 3 || roleActive.id == 4 || roleActive.id == 1%>
                                                      <td><%= ticket.try(:nama_pemohon) %></td>
                                                    <%end%>
                                                    <td><%= ticket.try(:kategori) %></td>
                                                    <td><%= ticket.try(:sub_kategori) %></td>
                                                    <td><%= ticket.try(:jenis_layanan) %></td>
                                                    <% unless roleActive.id == 3 %>
                                                      <td><%= ticket.try(:teknisi) %></td>
                                                    <%end%>
                                                    <td><%= ticket.try(:priority) %></td>
                                                    <td align="center">
                                                      <style>
                                                        .status-tiket{
                                                          font-size: 12px;
                                                          color: black;
                                                        }
                                                      </style>
                                                      <%# status tiket open,solved,closed,pending,on proces,planning %>
                                                      <% if ticket.status_tiket.present? && ticket.status_tiket.match(/(Waiting|Problem|Eskalasi|Reject)/) %>
                                                        <span class="label label-danger status-tiket"><%= ticket.status_tiket %></span>
                                                      <% elsif  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(Processing Assign|Processing Plan|Follow Up)/) %>
                                                        <span class="label label-warning status-tiket"><%= ticket.status_tiket %></span>
                                                      <% elsif  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(On Processing|Approved)/) %>
                                                        <span class="label label-info status-tiket"><%= ticket.status_tiket %></span>
                                                      <% elsif  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(Solved|Closed)/) %>
                                                        <span class="label label-primary status-tiket"><%= ticket.status_tiket %></span>
                                                      <% end %>
                                                    </td>
                                                    <% unless roleActive.id == 2 %>
                                                      <td><%= ticket.try(:resolution_time) %></td>
                                                    <% end %>
                                                    <td width="10">
                                                      <% unless ticket.satisfaction.blank? %>
                                                        <% while ticket.satisfaction >= 1 %>
                                                          <i class="fa fa-star text-danger"></i>
                                                          <% ticket.satisfaction = ticket.satisfaction - 1 %>
                                                        <% end %>
                                                      <% end %>
                                                    </td>
                                                    <td>
                                                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                      <% if roleActive.permissions.ticket.superadminEdit?%>   
                                                       <% if  (ticket.status_tiket.present? && ticket.status_tiket != "Closed") && roleActive.id != 2 %>
                                                        <%= link_to '', superadminEdit_ticket_path(ticket) , class:"fa fa-user btn btn-sm btn-link " , title:"Edit Ticket " %>
                                                       <%end%>
                                                      <%end%>
                                                        <%= link_to '', ticket, class:"fa fa-eye btn btn-sm btn-success me-md-2", title:"Detail"  %>
                                                        <%if ticket.status_tiket != "Closed" #roleActive.id %>
                                                          <%= link_to '', answer_ticket_path(ticket), class:"fa fa-wechat btn btn-sm btn-primary me-md-2", title:"Answer"  %>
                                                        <%end%>
                                                        <% if roleActive.permissions.ticket.follow_up?%>                       
                                                            <% if ticket.teknisi.nil?%>
                                                              
                                                              <%=  link_to '', follow_up_ticket_path(ticket) , class:"fa fa-tag btn btn-sm btn-warning ", title:"Follow Up" %>

                                                            <% end %>
                                                                <%# <%= link_to 'Edit Ticket', edit_ticket_path(ticket) , class:"btn btn-sm btn-primary "%> 
                                                              
                                                        <% end %>

                                                        <% if  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(On Processing)/) && roleActive.id != 2 %>
                                                            <%= link_to '', createProblem_process_ticket_path(ticket.id), data: { confirm: 'Are you sure?' }, class:"fa fa-warning btn btn-sm btn-warning ", title:"Add Problem"  %>
                                                        <% end %>
                                                        <%# 
                                                          Description Role :
                                                          1 (Superadmin)
                                                          2 (Self-Service)
                                                          3 (Teknisi)
                                                        %>
                                                         
                                                        <% unless roleActive.id != 2 and roleActive.id != 1 and roleActive.id == 4 and roleActive.id == 3 %>
                                                          <% unless  ticket.status_tiket.present? &&  ticket.status_tiket.match(/(On Processing|Processing Assign|Processing Plan|Solved|Closed|Eskalasi|Problem)/) %>
                                                            <%= link_to '', ticket, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-times btn btn-sm btn-danger", title:"Delete"  %>
                                                          <% end %>
                                                        <% end %>
                                                        <% unless roleActive.id != 3 and roleActive.id != 4%>
                                                          <% if  ticket.status_tiket.present? &&  ticket.status_tiket.match(/Waiting/)  &&  ticket.teknisi.present?  %>
                                                                
                                                                <%= link_to '', confirmWaiting_process_ticket_path(ticket.id), data: { confirm: 'Are you sure?' }, class:"fa fa-info btn btn-sm btn-info", title:"Processing"  %>
                                                          <% else %>
                                                          
                                                          <% unless ticket.teknisi.nil?|| (ticket.status_tiket.present? && ticket.status_tiket.in?(["Solved", "Closed", "Eskalasi"]))  %>
                                                              <%= link_to '', processTechnician_process_ticket_path(ticket.id), class:"fa fa-refresh btn btn-sm btn-default  ", title:"Proses"  %>
                                                            <% end %>
                                                          <% end %>
                                                        <% end %>
                                                        <% unless roleActive.id != 4 %>
                                                          <% unless( ticket.status_tiket.present? && !ticket.status_tiket.match(/Solved/) )%>
                                                
                                                    
                                                              <%= link_to '', processClosingAdmin_process_ticket_path(ticket.id), class:"fa fa-check btn btn-sm btn-success", title:"Selesei"  %>
                                                            
                                                          <% end %>
                                                          <% unless (ticket.status_tiket.present? && !ticket.status_tiket.match(/Eskalasi/) )%>
                                                              
                                                              <%= link_to '', createProblem_process_ticket_path(ticket.id), data: { confirm: 'Are you sure?' }, class:"fa fa-warning btn btn-sm btn-warning ", title:"Add Problem"  %>
                                                          <% end %>
                                                        <% end %>
                                                      </div>
                                                    </td>
                                                  </tr>
                                  <% end %>
                                                  </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
 

                    </div>

<script>

    
 $(document).ready(function(){

    $('#status_tiket').select2();
    //          var dataTable =   $('.dataTables-example').DataTable({
    //             responsive: true,
    // });

  //fungsi untuk filtering data berdasarkan tanggal 
    var start_date;
    var end_date;
    var DateFilterFunction = (function (oSettings, aData, iDataIndex) {
        var dateStart = parseDateValue(start_date);
        var dateEnd = parseDateValue(end_date);
        //Kolom tanggal yang akan kita gunakan berada dalam urutan 2, karena dihitung mulai dari 0
        //nama depan = 0
        //nama belakang = 1
        //tanggal terdaftar =2
        var evalDate= parseDateValue(aData[1].split('at')[0]);
          if ( ( isNaN( dateStart ) && isNaN( dateEnd ) ) ||
              ( isNaN( dateStart ) && evalDate <= dateEnd ) ||
              ( dateStart <= evalDate && isNaN( dateEnd ) ) ||
              ( dateStart <= evalDate && evalDate <= dateEnd ) )
          {
              return true;
          }
          return false;
    });

    // fungsi untuk converting format tanggal dd/mm/yyyy menjadi format tanggal javascript menggunakan zona aktubrowser
    function parseDateValue(rawDate) {
        var dateArray= rawDate.split("/");
        var parsedDate= new Date(dateArray[2], parseInt(dateArray[1])-1, dateArray[0]);  // -1 because months are from 0 to 11   
        return parsedDate;
    }    
    
  $( document ).ready(function() {
   //konfigurasi DataTable pada tabel dengan id example dan menambahkan  div class dateseacrhbox dengan dom untuk meletakkan inputan daterangepicker
   var $dTable = $('.dataTables-example').DataTable({
    "lengthChange": false,
    "dom": "<'row'<'col-sm-5' <'datesearchbox'>><'col-sm-7'f>>" +
      "<'row'<'col-sm-12'tr>>" +
      "<'row'<'col-sm-5'i><'col-sm-7'p>>"
   });

   //menambahkan daterangepicker di dalam datatables
   $("div.datesearchbox").html('<div class="input-group"> <div class="input-group-addon"> <i class="fa fa-calendar"></i> </div><input type="text" class="form-control pull-right" id="datesearch" placeholder="Search by date range.."> </div>');

   document.getElementsByClassName("datesearchbox")[0].style.textAlign = "right";

// konfigurasi daterangepicker pada input dengan id datesearch
$('#datesearch').daterangepicker({
  autoUpdateInput: false,
  opens: 'left'
});

// menangani proses saat apply date range
$('#datesearch').on('apply.daterangepicker', function(ev, picker) {
  $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
  start_date=picker.startDate.format('DD/MM/YYYY');
  end_date=picker.endDate.format('DD/MM/YYYY');
  $.fn.dataTableExt.afnFiltering.push(DateFilterFunction);
  $dTable.draw();

  // Update link download PDF
  var pdfUrl = '/tickets/cetak_pdf.pdf';
  var currentUrl = new URL(window.location.href);
  currentUrl.searchParams.set('start_date', start_date);
  currentUrl.searchParams.set('end_date', end_date);
  var pdfLink = pdfUrl + currentUrl.search;
  document.getElementById('pdf_download').setAttribute('href', pdfLink);

  // Update link download Excel
  var excelUrl = '/tickets/cetak_excel.pdf';
  var excelLink = excelUrl + currentUrl.search;
  document.getElementById('excel_download').setAttribute('href', excelLink);
});

// menangani proses saat cancel date range
$('#datesearch').on('cancel.daterangepicker', function(ev, picker) {
  $(this).val('');
  start_date='';
  end_date='';
  $.fn.dataTable.ext.search.splice($.fn.dataTable.ext.search.indexOf(DateFilterFunction, 1));
  $dTable.draw();

  // Update link download PDF
  var pdfUrl = '/tickets/cetak_pdf.pdf';
  var currentUrl = new URL(window.location.href);
  currentUrl.searchParams.delete('start_date');
  currentUrl.searchParams.delete('end_date');
  var pdfLink = pdfUrl + currentUrl.search;
  document.getElementById('pdf_download').setAttribute('href', pdfLink);

  // Update link download Excel
  var excelUrl = '/tickets/cetak_excel.pdf';
  var excelLink = excelUrl + currentUrl.search;
  document.getElementById('excel_download').setAttribute('href', excelLink);
});


    var role = $('#roleActive').val();
    console.log(role);

    $('.filter_kategori').on('change', function(e){
      var kategori = $(this).val();
      $('.filter_kategori').val(kategori)
      // console.log(kategori)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      if (role == 2) {
        // console.log(kategori);
         $dTable.column(4).search(kategori ? '^' + kategori + '$' : '', true, false).draw(); 
      
      } else {
        // console.log(kategori);
       // Update URL with new parameters
        $dTable.column(5).search(kategori ? '^' + kategori + '$' : '', true, false).draw();
       
      }

        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("kategori", kategori);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/tickets/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);
        // Update link download Excel excel_download
        var excelUrl = '/tickets/cetak_excel.pdf';
        var excelLink = excelUrl + '' + currentUrl.search;
        document.getElementById('excel_download').setAttribute('href', excelLink);
      // $dTable.column(4).search(kategori ? '^' + kategori + '$' : '', true, false).draw(); 
      // 3
      // (perusahaan).draw();
      
    });

    $('.filter_tipe').on('change', function(e){
      var tipe = $(this).val();
      $('.filter_tipe').val(tipe)
      // console.log(tipe)
      //$dTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      if (role == 2) {
        $dTable.column(6).search(tipe ? '^' + tipe + '$' : '', true, false).draw(); 
      } else {
        $dTable.column(7).search(tipe ? '^' + tipe + '$' : '', true, false).draw();
      }
        // Update URL with new parameters
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("tipe", tipe);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/tickets/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);
        // Update link download Excel excel_download
        var excelUrl = '/tickets/cetak_excel.pdf';
        var excelLink = excelUrl + '' + currentUrl.search;
        document.getElementById('excel_download').setAttribute('href', excelLink);
      // 5
      // (perusahaan).draw();
      
    });
    $('.filter_teknisi').on('change', function(e){
      var teknisi = $(this).val();
      $('.filter_teknisi').val(teknisi)
      // console.log(teknisi)
      //$dTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
       if (role == 2 ) {
        $dTable.column(7).search(teknisi ? '^' + teknisi + '$' : '', true, false).draw();
      } else {
        $dTable.column(8).search(teknisi ? '^' + teknisi + '$' : '', true, false).draw();
      }
      // Update URL with new parameters
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("teknisi", teknisi);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/tickets/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);

        // Update link download Excel excel_download
        var excelUrl = '/tickets/cetak_excel.pdf';
        var excelLink = excelUrl + '' + currentUrl.search;
        document.getElementById('excel_download').setAttribute('href', excelLink);
      // 5
      // (perusahaan).draw();
      
    });

    $('.filter_status').on('change', function(e){
      var status = $(this).val();
      $('.filter_status').val(status)
      
      if (role == 2 || role == 3 ) {
        $dTable.column(9).search(status ? '' + status + '' : '', true, false).draw();
      } else {
        // console.log(status);
        $dTable.column(10).search(status ? '' + status + '' : '', true, false).draw();
      }
      // $dTable.column(8).search(status ? '' + status + '' : '', true, false).draw();
      // Update URL with new parameters
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set("status", status);
        window.history.pushState("", "", currentUrl.toString());

        // Update link download PDF
        var pdfUrl = '/tickets/cetak_pdf.pdf';
        var pdfLink = pdfUrl + '' + currentUrl.search;
        document.getElementById('pdf_download').setAttribute('href', pdfLink);

        // Update link download Excel excel_download
        var excelUrl = '/tickets/cetak_excel.pdf';
        var excelLink = excelUrl + '' + currentUrl.search;
        document.getElementById('excel_download').setAttribute('href', excelLink);
    });
  });
   
  });
</script>

 