
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Notification list</h5>
                    <div class="ibox-tools">
                        <%# <a href="" class="btn btn-primary btn-xs">Add new issue</a> %>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="m-b-lg">

                        <%# <div class="input-group">
                            <input type="text" placeholder="Search issue by name..." class=" form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-white"> Search</button>
                            </span>
                        </div> %>
                        <div class="m-t-md">

                            <%# <div class="pull-right">
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-comments"></i> </button>
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-user"></i> </button>
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-list"></i> </button>
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-pencil"></i> </button>
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-print"></i> </button>
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-cogs"></i> </button>
                            </div> %>

                            <%# <strong>Found 61 issues.</strong> %>



                        </div>

                    </div>

                    <div class="table-responsive">
                        <table id="dataTables-example" class="table table-hover issue-tracker">
                                            <thead>
                                                <tr>

                                                    <%# <th>No</th> %>
                                                    <th>Status Tiket</th>
                                                    <th>Tiket</th>
                                                    <%unless roleActive.id == 2%>
                                                    <th>Requester</th>
                                                    <%else%>
                                                    <th>Teknisi</th>
                                                    <%end%>
                                                    
                                                    <th>Tanggal</th>
                                                    <% if roleActive.id == 1 ||  roleActive.id == 4%>
                                                        <th>Teknisi</th>
                                                    <%elsif  roleActive.id == 3%>
                                                        <th>Kategori</th>
                                                    <%else%>
                                                        <th>Kategori</th>
                                                    <%end%>
                                                    <%# <th>Aksi</th> %>
                                                </tr>
                                            </thead>
                            <tbody>

                            <% @ticket.each_with_index do |ticket, index| %>
                                    <tr>
                                    <td align="center">
                                        <style>
                                            .status-tiket{
                                            font-size: 10px;
                                            color: black;
                                            }
                                        </style>
                                        <%# status tiket open,solved,closed,pending,on proces,planning %>
                                        <% if  ticket.ticket.present? && ticket.ticket.try(:status_tiket).match(/(Waiting|Problem|Eskalasi)/)%>
                                            <span class="pull-left label label-danger status-tiket"><%= ticket.ticket.try(:status_tiket) %></span>
                                        <% elsif ticket.ticket.present? && ticket.ticket.try(:status_tiket).match(/(Planning|Processing Assign|Processing Plan)/) %>
                                            <span class="pull-left label label-warning status-tiket"><%= ticket.ticket.try(:status_tiket) %></span>
                                        <% elsif ticket.ticket.present? && ticket.ticket.try(:status_tiket).match(/(On Processing)/) %>
                                            <span class="pull-left label label-info status-tiket"><%= ticket.ticket.try(:status_tiket) %></span>
                                        <% elsif ticket.ticket.present? && ticket.ticket.try(:status_tiket).match(/(Solved|Closed)/) %>
                                            <span class="pull-left label label-primary status-tiket"><%= ticket.ticket.try(:status_tiket) %></span>
                                        <% end %>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                          Tiket  <%= ticket.ticket.try(:no_tiket) %>
                                        </a>

                                        <small>
                                         Layanan <%= ticket.ticket.try(:jenis_layanan) %> dengan issue <%= ticket.ticket.try(:sub_kategori) %> 
                                        </small>
                                    </td>
                                    <%unless roleActive.id == 2%>
                                       <td><%= ticket.ticket.try(:nama_pemohon) %></td>
                                    <%else%>
                                       <td><%= ticket.ticket.try(:teknisi) %></td>
                                    <%end%>
                                    <td><%= 
                                    # ticket.ticket.updated_at.try(:strftime, "%d/%m/%Y at %I:%M%p")   
                                    ticket.ticket.present? && ticket.ticket.updated_at.try(:strftime, '%x') 
                                    %></td>
                                    <% if roleActive.id == 1 ||  roleActive.id == 4%>
                                         <td><%= ticket.ticket.try(:teknisi) %></td>
                                    <%elsif  roleActive.id == 3%>
                                        <td><button class="btn btn-white btn-xs"> <%= ticket.ticket.try(:kategori) %></button></td>
                                    <%else%>
                                        <td><button class="btn btn-white btn-xs"> <%= ticket.ticket.try(:kategori) %></button></td>
                                    <%end%>
<%
=begin%>
                                    <td>
                                         <%= link_to '', ticket.ticket, class:"fa fa-eye btn btn-sm btn-success me-md-2", title:"Detail"  %>
                                    </td>
<%
=end%>
                            <%end%>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<% content_for :javascript do %>

<script type="text/javascript">

    $(function() {

                    var dataTable =   $('#dataTables-example').DataTable({
                responsive: true,
    });

    });

</script>

<% end %>